---
import { DocNavContext } from 'src/tools/docs';
import SectionNavigation from '../../components/SectionNavigation.astro';
import SideNavCategory from './SideNavCategory.astro';
import { specialCaps } from '../../tools/string';

const categoryItems = [
  {title: 'Home', path: '/docs', icon: 'fa-rocket', color: 'red'},
  {title: 'Get Started', path: '/docs/get-started', icon: 'fa-rocket', color: 'blue'},
  {title: 'Lifecycle', path: '/docs/lifecycle', icon: 'fa-rocket', color: 'red'},
  {title: 'Customize', path: '/docs/customize', icon: 'fa-rocket', color: 'red'},
  {title: 'Extend', path: '/docs/extend', icon: 'fa-rocket', color: 'red'},
  {title: 'Operate', path: '/docs/operate', icon: 'fa-rocket', color: 'red'},
  {title: 'SDKs', path: '/docs/sdks', icon: 'fa-rocket', color: 'red'},
  {title: 'APIs', path: '/docs/apis', icon: 'fa-rocket', color: 'red'},
  {title: 'Release Notes', path: '/docs/release-notes', icon: 'fa-rocket', color: 'red'},
  {title: 'Reference', path: '/docs/reference', icon: 'fa-rocket', color: 'red'},
];

let { items, context, frontmatter }: { items: any[], context: DocNavContext} = Astro.props;
items = items || [];
---
<nav class="z-25">
  <a id="main-anchor" href="#" class="text-xs font-semibold text-slate-600 dark:text-slate-50 my-6 hover:text-indigo-500 dark:hover:text-indigo-500"><- Main Menu</a>
  <a id="back-anchor" href="#" class="hidden text-xs font-semibold text-slate-600 dark:text-slate-50 my-6 hover:text-indigo-500 dark:hover:text-indigo-500">Back -></a>
  <div id="main-container" class="hidden mt-4">
    <SectionNavigation items={categoryItems} highlightLocation={false}></SectionNavigation>
  </div>
  <div id="sidenav-container">
    <a href={context.category.href} class="text-2xl font-extrabold capitalize my-2 hover:text-slate-400">{ specialCaps(context.category.name) }</a>
    <div class="border-t-slate-600 border-t-2  my-5"></div>
    <SideNavCategory category={context.category} level={0} {frontmatter} />
  </div>
</nav>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const elems = [, document.getElementById('back-anchor')]
    document.getElementById('main-anchor').addEventListener('click', () => {
      document.getElementById('main-container').classList.remove('hidden');
      document.getElementById('sidenav-container').classList.add('hidden');
      document.getElementById('main-anchor').classList.add('hidden');
      document.getElementById('back-anchor').classList.remove('hidden');
    });
    document.getElementById('back-anchor').addEventListener('click', () => {
      document.getElementById('main-container').classList.add('hidden');
      document.getElementById('sidenav-container').classList.remove('hidden');
      document.getElementById('main-anchor').classList.remove('hidden');
      document.getElementById('back-anchor').classList.add('hidden');
    });
  })
</script>