---
import { DocNavContext } from 'src/tools/docs';
import SectionNavigation from '../../components/SectionNavigation.astro';
import SideNavCategory from './SideNavCategory.astro';
import { specialCaps } from '../../tools/string';

const categoryItems = [
  {title: 'Home', path: '/docs', icon: 'fa-home', color: 'indigo'},
  {title: 'Get Started', path: '/docs/get-started', icon: 'fa-rocket', color: 'green'},
  {title: 'Lifecycle', path: '/docs/lifecycle', icon: 'fa-arrows-spin', color: 'red'},
  {title: 'Customize', path: '/docs/customize', icon: 'fa-screwdriver-wrench', color: 'purple'},
  {title: 'Extend', path: '/docs/extend', icon: 'fa-arrows-maximize', color: 'yellow'},
  {title: 'Operate', path: '/docs/operate', icon: 'fa-dial-med-low', color: 'blue'},
  {title: 'SDKs', path: '/docs/sdks', icon: 'fa-box-taped', color: 'red'},
  {title: 'APIs', path: '/docs/apis', icon: 'fa-plug', color: 'black'},
  {title: 'Release Notes', path: '/docs/release-notes', icon: 'fa-note-sticky', color: 'orange'},
  {title: 'Reference', path: '/docs/reference', icon: 'fa-clipboard', color: 'indigo'},
];

let { items, context, frontmatter }: { items: any[], context: DocNavContext} = Astro.props;
items = items || [];
---
<nav class="z-25">
  <a id="main-anchor" href="#" class="text-xs font-semibold text-slate-600 dark:text-slate-50 my-6 hover:text-indigo-600 dark:hover:text-indigo-400"><- Main Menu</a>
  <a id="back-anchor" href="#" class="hidden text-xs font-semibold text-slate-600 dark:text-slate-50 my-6 hover:text-indigo-600 dark:hover:text-indigo-400">Back -></a>
  <div id="main-container" class="hidden mt-4">
    <SectionNavigation items={categoryItems} highlightLocation={false}></SectionNavigation>
  </div>
  <div id="sidenav-container" class="pt-6">
    <a href={context.category.href} class="text-2xl font-extrabold capitalize my-2 hover:text-indigo-600 dark:hover:text-indigo-500">{ specialCaps(context.category.name) }</a>
    <div class="border-t-slate-500 border-t-2 my-5"></div>
    <SideNavCategory category={context.category} level={0} {frontmatter} />
  </div>
</nav>
<script>
  const mainAnchor = document.getElementById('main-anchor');
  if (mainAnchor) {
    mainAnchor.addEventListener('click', () => {
      document.getElementById('main-container').classList.remove('hidden');
      document.getElementById('sidenav-container').classList.add('hidden');
      document.getElementById('main-anchor').classList.add('hidden');
      document.getElementById('back-anchor').classList.remove('hidden');
    });
  }

  const backAnchor = document.getElementById('back-anchor');
  if (backAnchor) {
    backAnchor.addEventListener('click', () => {
      document.getElementById('main-container').classList.add('hidden');
      document.getElementById('sidenav-container').classList.remove('hidden');
      document.getElementById('main-anchor').classList.remove('hidden');
      document.getElementById('back-anchor').classList.add('hidden');
    });
  }
</script>
