---
import '../css/style.css';
import Head from '../components/Head.astro';

interface Props {
  description?: string;
  enableBaseParent?: boolean;
  enableGTM?: boolean;
  enableKapa?: boolean;
  frontmatter?: Record<string, any>,
  title?: string;
}

let {
  description = "Looks like the developers forgot to include a description for this page. Sorry about that.",
  enableBaseParent = false,
  enableGTM = false,
  enableKapa = false,
  frontmatter = {},
  title = ""
}: Props = Astro.props;

description = frontmatter.description ? frontmatter.description : description;
title = frontmatter.title ? frontmatter.title : title;
---

<!DOCTYPE html>
<html class="antialiased min-h-full" lang="en">
<Head title={title} description={description} canonicalUrl={frontmatter.canonicalUrl} enableBaseParent={enableBaseParent} enableGTM={enableGTM} enableKapa={enableKapa}/>
<body class="antialiased min-h-full text-slate-700">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5P7VLHG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <!-- Main content section -->
  <main>
    <slot/>
  </main>
</body>
</html>
