---
import '../css/style.css';
import Head from '../components/Head.astro';

interface Props {
  description?: string;
  enableGTM?: boolean;
  enableKapa?: boolean;
  frontmatter?: Record<string, any>,
  title?: string;
}

let {
  description = "Looks like the developers forgot to include a description for this page. Sorry about that.",
  enableGTM = false,
  enableKapa = false,
  frontmatter = {},
  title = ""
}: Props = Astro.props;

description = frontmatter.description ? frontmatter.description : description;
title = frontmatter.title ? frontmatter.title : title;
---

<!DOCTYPE html>
<html class="antialiased min-h-full" lang="en">
<Head title={title} description={description} canonicalUrl={frontmatter.canonicalUrl} enableGTM={enableGTM} enableKapa={enableKapa}/>
<body class="antialiased min-h-full text-slate-700">
  <!-- Main content section -->
  <main>
    <slot/>
  </main>
</body>
</html>