---
import '../css/style.css';
import Head from '../components/Head.astro';

interface Props {
  description?: string;
  enableBaseParent?: boolean;
  enableGTM?: boolean;
  enableKapa?: boolean;
  frontmatter?: Record<string, any>,
  title?: string;
}

let {
  description = "Looks like the developers forgot to include a description for this page. Sorry about that.",
  enableBaseParent = false,
  enableGTM = false,
  enableKapa = false,
  frontmatter = {},
  title = ""
}: Props = Astro.props;

const contentStyles = [
  // base
  "pb-24 prose prose-slate dark:prose-invert max-w-none overflow-x-auto w-full",
  // a
  "prose-a:no-underline prose-a:border-b-1 dark:prose-a:text-indigo-400 dark:prose-a:border-b-indigo-400 prose-a:border-b-indigo-700 prose-a:text-indigo-700 dark:prose-a:hover:text-orange-200 dark:prose-a:hover:border-b-orange-200 prose-a:hover:text-orange-800 prose-a:hover:border-b-orange-800",
  // code
  "prose-code:font-normal dark:prose-code:bg-slate-700/80 prose-code:bg-slate-200/80 prose-code:rounded-sm prose-code:break-words prose-code:px-0.5 prose-code:py-0.4",
  // headings
  "dark:prose-headings:text-slate-200 prose-headings:scroll-mt-24 prose-headings:text-slate-800 prose-headings:mb-4",
  // h2
  "prose-h2:mt-8",
  // li
  "prose-li:text-sm",
  // p
  "prose-p:text-sm prose-p:font-normal prose-p:leading-6 dark:prose-p:text-slate-300 prose-p:text-slate-800",
  // span
  "prose-span:text-slate-800 dark:prose-span:text-slate-300",
  // table
  "prose-table:block prose-table:rounded prose-table:overflow-x-scroll",
  // td
  "prose-td:border prose-td-border-collapse prose-td:border-opacity-75 prose-td:border-slate-400 dark:prose-td:border-slate-700 prose-td:px-4 prose-td:text-sm prose-td:font-normal prose-td:leading-5",
  // th
  "prose-th:border prose-th-border-collapse prose-th:border-opacity-75 prose-th:border-slate-400 dark:prose-th:border-slate-700 prose-th:px-4 prose-th:py-4 prose-th:text-base prose-th:font-semi-bold prose-th:leading-5",
  // tr
  "even:prose-tr:bg-slate-100 dark:even:prose-tr:bg-slate-800/50",
];

description = frontmatter.description ? frontmatter.description : description;
title = frontmatter.title ? frontmatter.title : title;
---

<!DOCTYPE html>
<html class="antialiased min-h-full dark" lang="en">
<Head title={title} description={description} canonicalUrl={frontmatter.canonicalUrl} enableBaseParent={enableBaseParent} enableGTM={enableGTM} enableKapa={enableKapa}/>
<body class="antialiased min-h-full text-slate-700">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5P7VLHG"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Main content section -->
  <main class:list={contentStyles}>
    <slot/>
  </main>
</body>
</html>
