---
import '../css/style.css';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import Search from '../components/Search.astro';
import SectionNavigation from '../components/SectionNavigation.astro';
import TOC from '../components/TOC.astro';

let {author, date, description = "Looks like the developers forgot to include a description for this page. Sorry about that.", frontmatter, headings = [], image, section, sections = [], sideMenu = [], title = ""} = Astro.props;
author = frontmatter.author ? frontmatter.author : author;
date = frontmatter.date ? frontmatter.date : date;
description = frontmatter.description ? frontmatter.description : description;
image = frontmatter.image ? frontmatter.image : image;
section = frontmatter.section ? frontmatter.section : section;
title = frontmatter.title ? frontmatter.title : title;
---

<!DOCTYPE html>
<html class="antialiased" lang="en">
<head>
  <meta charSet="UTF-8"/>
  <meta name="viewport" content="width=device-width"/>
  <!-- TODO: Implement favicons by following this blog post https://dev.to/masakudamatsu/favicon-nightmare-how-to-maintain-sanity-3al7 -->
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <link rel="sitemap" href="/sitemap-index.xml">
  <link rel="stylesheet" href="/css/diagrams.css"/>
  <link rel="stylesheet" href="/css/fontawesome.min.css"/>
  <link rel="stylesheet" href="/css/brands.min.css"/>
  <link rel="stylesheet" href="/css/duotone.min.css"/>
  <link rel="stylesheet" href="/css/light.min.css"/>
  <link rel="stylesheet" href="/css/regular.min.css"/>
  <script src="/js/Search.0.1.0.js" type="text/javascript"></script>
  <script src="/js/ScrollSpy.0.1.0.js" type="text/javascript"></script>
  <script src="/js/ThemeSelector.0.1.0.js" type="text/javascript"></script>
  <script src="/js/Visibility.0.1.0.js" type="text/javascript"></script>
  <title>{title} - {description}</title>
  <meta name="description" content={description}/>
</head>
<body class="bg-white text-slate-700 dark:bg-slate-900 dark:text-slate-200">
  <Header breadcrumbs={["One", "Two"]}/>
  <main class="max-w-8xl mx-auto px-4 py-8">
    <!-- Left sidebar -->
    <div id="side-nav" class="bg-white bottom-0 fixed hidden left-0 overflow-y-auto pb-10 pt-4 px-4 right-0 top-0 z-10 dark:bg-slate-900 lg:block lg:left-[max(0px,calc(50%-45rem))] lg:pt-0 lg:right-auto lg:top-[4.3rem] lg:w-[19rem]">
      <!-- Relative container for the sticky search -->
      <div class="relative">
        <!-- Mobile close button -->
        <button type="button" class="absolute ml-6 right-1 top-0 lg:hidden" data-widget="visibility-button" data-element="side-nav">
          <i class="fa-regular fa-x text-lg"></i>
        </button>

        <!-- Search button -->
        <div class="bg-white hidden pb-6 pt-8 sticky top-0 z-10 dark:bg-slate-900 lg:block">
          <button type="button" class="flex items-center pl-2 pr-3 py-1.5 border border-slate-900/10 rounded-md shadow-sm text-slate-400 text-sm w-full dark:bg-slate-800 dark:highlight-white/5 dark:hover:bg-slate-700 dark:hover:border-slate-500 hover:border-slate-300" data-widget="search-button">
            <i class="fa-light fa-magnifying-glass mr-3"></i>
            <span>Search...</span>
            <span class="font-semibold ml-auto pl-3 text-xs">⌘K</span>
          </button>
        </div>

        <!-- Section nav -->
        <SectionNavigation items={sections}/>

        <!-- Sidebar nav -->
        <Navigation items={sideMenu}/>
      </div>
    </div>

    <!-- Main content section -->
    <article class="max-w-none pb-24 prose prose-slate dark:prose-invert dark:prose-headings:text-indigo-400 lg:px-[19rem] prose-headings:scroll-mt-24 prose-headings:text-indigo-600">
      {image && <img src={"/img/" + image}/>}
      {author &&
        <p class="text-sm">By {author} {date && <span>- {new Date(date).toDateString()}</span>}</p>
      }
      <h1 class="mt-16 text-3xl">{title}</h1>
      <slot/>
    </article>

    <!-- Table of contents -->
    <aside class="bottom-0 fixed hidden left-auto overflow-y-auto pb-10 pt-8 px-4 right-[max(0px,calc(50%-45rem))] top-[3.5rem] w-[19rem] lg:block">
      <nav>
        <TOC toc={headings} depth={2}/>
      </nav>
    </aside>
  </main>
  <Search/>
</body>
</html>
