---
import "../css/style.css";
import DocsNav from "../components/nav/DocsNav.astro";
import Head from "../components/Head.astro";
import Search from "../components/search/Search.astro";
import Footer from "../components/Footer.astro"

let { description = "Looks like the developers forgot to include a description for this page. Sorry about that.", frontmatter = {}, Hero, title = "", subtitle = ""} = Astro.props;
title = frontmatter.title ? frontmatter.title : title
description = frontmatter.description ? frontmatter.description : description
---

<!DOCTYPE html>
<html class="antialiased" lang="en">
<Head title={title} description={description} icon="/img/logo-dark.svg"/>
<body class="antialiased bg-slate-900 text-slate-200 dark">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5P7VLHG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <DocsNav noSideNav={true}/>
  <main>
    <!-- Hero -->
    <Hero title={title} subtitle={subtitle} />

    <!-- Main content section -->
    <article class="bg-white h-auto pb-24">
      <div class="container mx-auto px-10 lg:px-10 xl:px-20">
        <slot/>
      </div>
    </article>

  </main>
  <Search/>
  <Footer />
</body>
</html>
