---
import "../css/style.css";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Search from "../components/Search.astro";

let { description = "Looks like the developers forgot to include a description for this page. Sorry about that.", frontmatter = {}, Hero, title = "" } = Astro.props;
title = frontmatter.title ? frontmatter.title : title
description = frontmatter.description ? frontmatter.description : description
---

<!DOCTYPE html>
<html class="antialiased" lang="en">
<Head title={title} description={description}/>
<body class="antialiased bg-slate-900 text-slate-200 dark">
  <Header breadcrumbs={[title]} displaySearchButton={true} themeable={false}/>
  <main>
    <!-- Hero -->
    <Hero title={title}/>

    <!-- Main content section -->
    <article class="bg-white pb-24">
      <div class="max-w-8xl mx-auto px-4 py-8 text-slate-700">
        <slot/>
      </div>
    </article>

  </main>
  <Search/>
</body>
</html>
