<a href="{{ include.href }}" class="col-xs-12 col-lg-4 gray gray-split-card">
  <header>
    <img src="{{ include.img }}" alt="{{ include.title }}">
    <h2>{{ include.title }}</h2>
  </header>
  <div class="content">
    <div class="rw-ui-container" data-title="{{ include.href }}"></div>
    <p>
      {{ include.description }}
    </p>
  </div>
</a>
