<ul>
  {% assign languages = site.data.exampleapps | group_by: "language" |sort: 'name' %}
  {% for lang in languages %}
    <li>
       <a href='/docs/v1/tech/example-apps/{{ lang.name }}'>{{lang.name}}</a>
    <ul>
      {% assign sorteditems = lang.items |sort: 'name' %}
      {% for app in sorteditems %}
        <li>
          <a href="{{ app.url }}">
            {{ app.name }}
          </a> - {{app.description}} aa
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</ul>
