<ul>
  {% assign languages = site.data.exampleapps | group_by: "language" |sort: 'name' %}
  {% for lang in languages %}
    <li>
      {% unless lang.name == "config" %}
        <a href='/docs/v1/tech/example-apps/{{ lang.name }}'>{{lang.name | capitalize}}</a>
      {% endunless %}
      {% if lang.name == "config" %}
        Configuration examples
      {% endif %}
    <ul>
      {% assign sorteditems = lang.items |sort: 'name' %}
      {% for app in sorteditems %}
        <li>
          <a href="{{ app.url }}">
            {{ app.name | capitalize }}
          </a> - {{app.description}} 
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</ul>
