<ul>
  {% assign languages = site.data.exampleapps | group_by: "language" |sort: 'name' %}
  {% for lang in languages %}
    <li>{{ lang.name }}
    <ul>
      {% for app in lang.items %}
        <li>
          <a href="{{ app.url }}">
            {{ app.name }}
          </a> - {{app.description}}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</ul>

===========


<ul>
  {% assign rubyapps = site.data.exampleapps | where: "language", "ruby" %}
  {% for app in rubyapps %}
    <li>
      <a href="{{ app.url }}">
        {{ app.name }}
      </a> - {{app.description}} 
    </li>
  {% endfor %}
</ul>

