<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
{% if page.type == 'month' %}
  {% capture pageTitle %}Archive of posts from {{ page.date | date: "%B %Y" }}{% endcapture %}
  {% capture skipSpellingCheck %}false{% endcapture %}
{% elsif page.type == 'tag' %}
  {% capture pageTitle %}Posts tagged '{{ page.title }}'{% endcapture %}
  {% capture skipSpellingCheck %}true{% endcapture %}
{% elsif page.type == 'category' %}
  {% capture pageTitle %}{{ page.title | replace: '-',' ' | capitalize }} posts{% endcapture %}
  {% capture skipSpellingCheck %}false{% endcapture %}
{% else %}
  {% capture pageTitle %}{{ page.title | strip_html }}{% endcapture %}
  {% capture skipSpellingCheck %}false{% endcapture %}
{% endif %}
<title {% if skipSpellingCheck == "true" %}class="spellcheck-ignore"{% endif %}>{{ pageTitle }} - FusionAuth</title>
<meta name="twitter:description" content="{{ page.description | strip_html | replace: '"', "'" }}">
<meta name="twitter:creator" content="@FusionAuth">
<meta name="twitter:site" content="@FusionAuth">
<meta {% if skipSpellingCheck == "true" %}class="spellcheck-ignore"{% endif %} name="twitter:title" content="{{ pageTitle | strip_html | replace: '"', "'" }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://fusionauth.io/assets/img/{{ page.image }}">
<meta property="og:site_name" content="FusionAuth">
<meta property="og:url" content="https://fusionauth.io{{ page.url | remove: '.html' }}">
<meta property="og:description" content="{{ page.description | strip_html  }}">
<meta {% if skipSpellingCheck == "true" %}class="spellcheck-ignore"{% endif %} name="og:title" content="{{ pageTitle | strip_html | replace: '"', "'" }}">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta property="og:image" content="https://fusionauth.io/assets/img/{{ page.image }}">
<meta name="description" content="{{ page.description | strip_html | replace: '"', "'" }}">
{% if page.author %}
<meta name="author" content="{{ page.author | strip_html | replace: '"', "'" }}">
{% endif %}

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@FusionAuth">
<meta name="twitter:creator" content="@FusionAuth">

<!-- Browser address color -->
<meta name="theme-color" content="#ffffff">

<!-- Favicons
     You can check if this is working using this site https://realfavicongenerator.net/
     Questions about icon names and sizes? https://realfavicongenerator.net/faq#.XrBnPJNKg3g -->

<!-- Apple & iOS -->
<link rel="apple-touch-icon" sizes="57x57" href="/assets/img/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-icon-180x180.png">

<!--  Android icons -->
<link rel="manifest" href="/assets/img/manifest.json">

<!--  IE 11+ configuration -->
<meta name="msapplication-config" content="/assets/img/browserconfig.xml" />

<!--  Windows 8 compatible -->
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/img/ms-icon-144x144.png">

<!-- Standard Favicon Fare -->
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="128" href="/assets/img/favicon-128.png">

<!-- CSS -->
<link rel="stylesheet" href="/assets/css/font-awesome-5.12.1.min.css"/>
<link rel="stylesheet" href="/assets/css/fusionauth-website-style-0.3.70.css">

<!-- Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow:700&display=swap">

<!-- Canonical -->
<link rel="canonical" href="https://fusionauth.io{{ page.url | replace: 'index.html', '' | replace: '.html', '' }}">

<!-- Scripts -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="/assets/js/clipboard-2.0.4.min.js" defer></script>
<script src="/assets/js/algoliasearch-lite.umd-4.5.1.min.js" defer></script>
<script src="/assets/js/instantsearch.production-4.8.3.min.js" defer></script>
<script src="/assets/js/prime-min-1.3.1.js" defer></script>
<script src="/assets/js/Carousel-0.1.0.js" defer></script>
<script src="/assets/js/Clipboard-0.1.0.js" defer></script>
<script src="/assets/js/CopyToClipboard-0.1.1.js" defer></script>
<script src="/assets/js/Collapsible-0.1.0.js" defer></script>
<script src="/assets/js/FixedHeader-0.1.1.js" defer></script>
<script src="/assets/js/Navs-0.1.1.js" defer></script>
<script src="/assets/js/Pricing-0.1.3.js" defer></script>
<script src="/assets/js/RatingWidget-0.1.1.js" defer></script>
<script src="/assets/js/Search-0.1.6.js" defer></script>
<script src="/assets/js/Social-0.1.0.js" defer></script>
<script src="/assets/js/Tabs-0.1.1.js" defer></script>
<script src="/assets/js/mermaid-min-10.3.0.js" defer></script>
<script type="text/javascript">
  var FusionAuth = FusionAuth || {};
  FusionAuth.siteURL = '{% if jekyll.environment == 'development' %}https://site-local.fusionauth.io{% else %}https://fusionauth.io{% endif %}';
  FusionAuth.accountURL = '{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}';
</script>

<script
src="https://widget.kapa.ai/kapa-widget.bundle.js"
data-website-id="26ad3b7e-7d94-491c-ab54-95712d1fafee"
data-project-name="FusionAuth"
data-project-color="#475569"
data-project-logo="https://fusionauth.io/assets/img/android-icon-144x144.png"
></script>
</head>

<!-- Modules -->
<script type="module" src="/assets/js/lite-youtube-1.3.1.js"></script>

{% if jekyll.environment != 'development' %}
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5P7VLHG');</script>
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.fusionauth.io"]);
  _paq.push(["setDomains", ["*.fusionauth.io"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://analytics.fusionauth.io/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://analytics.fusionauth.io/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt=""/></p></noscript>
{% endif %}
