<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>{{ page.title | strip_html }} - FusionAuth</title>
<meta name="twitter:description" content="{{ page.description | strip_html }}">
<meta name="twitter:creator" content="@FusionAuth">
<meta name="twitter:site" content="@FusionAuth">
<meta name="twitter:title" content="{{ page.title | strip_html }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://fusionauth.io/assets/img/{{ page.image }}">
<meta property="og:site_name" content="FusionAuth">
<meta property="og:url" content="https://fusionauth.io{{ page.url | remove: '.html' }}">
<meta property="og:description" content="{{ page.description | strip_html  }}">
<meta property="og:title" content="{{ page.title | strip_html }}">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta property="og:image" content="https://fusionauth.io/assets/img/{{ page.image }}">
<meta name="description" content="{{ page.description }}">
{% if page.author %}
<meta name="author" content="{{ page.author }}">
{% endif %}

<!-- Browser address color -->
<meta name="theme-color" content="#ffffff">

<!-- Favicons
     You can check if this is working using this site https://realfavicongenerator.net/
     Questions about icon names and sizes? https://realfavicongenerator.net/faq#.XrBnPJNKg3g -->

<!-- Apple & iOS -->
<link rel="apple-touch-icon" sizes="57x57" href="/assets/img/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-icon-180x180.png">

<!--  Android icons -->
<link rel="manifest" href="/assets/img/manifest.json">

<!--  IE 11+ configuration -->
<meta name="msapplication-config" content="/assets/img/browserconfig.xml" />

<!--  Windows 8 compatible -->
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/img/ms-icon-144x144.png">

<!-- Standard Favicon Fare -->
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="128" href="/assets/img/favicon-128.png">

<!-- CSS -->
<link rel="stylesheet" href="/assets/css/font-awesome-5.12.1.min.css"/>
<link rel="stylesheet" href="/assets/css/fusionauth-website-style-0.3.19.css">

<!-- Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow:700&display=swap">

<!-- Canonical -->
<link rel="canonical" href="https://fusionauth.io{{ page.url | replace: 'index.html', '' | replace: '.html', '' }}">

{% if jekyll.environment != 'development' %}
<!-- Google Tag Manager -->
<script>(function(w, d, s, l, i) {
  w[l] = w[l] || [];
  w[l].push({
    'gtm.start':
        new Date().getTime(), event: 'gtm.js'
  });
  var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
  j.async = true;
  j.src =
      'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
  f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-KFGZT3Q');
</script>
<!-- End Google Tag Manager -->
{% endif %}

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js" integrity="sha256-FiZwavyI2V6+EXO1U+xzLG3IKldpiTFf3153ea9zikQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="/assets/js/prime-min-1.3.1.js"></script>
<script src="/assets/js/Carousel-0.1.0.js"></script>
<script src="/assets/js/Clipboard-0.1.0.js"></script>
<script src="/assets/js/Collapsible-0.1.0.js"></script>
<script src="/assets/js/FixedHeader-0.1.1.js"></script>
<script src="/assets/js/Navs-0.1.1.js"></script>
<script src="/assets/js/RatingWidget-0.1.1.js"></script>
<script src="/assets/js/Search-0.1.4.js"></script>
<script src="/assets/js/Social-0.1.0.js"></script>
<script src="/assets/js/Tabs-0.1.0.js"></script>
<script type="text/javascript">
  var FusionAuth = FusionAuth || {};
  FusionAuth.siteURL = '{% if jekyll.environment == 'development' %}https://site-local.fusionauth.io{% else %}https://fusionauth.io{% endif %}';
</script>
{% if jekyll.environment != 'development' %}
<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://fusionauth.matomo.cloud/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src='//cdn.matomo.cloud/fusionauth.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
{% endif %}
