<header class="centered">
  <h2>Papers, Guides & Resources</h2>
  <p>Auth is complex. We share everything we know.</p>
</header>
<div class="carousel">
  <a href="#" class="changer-left orange button circle"><i class="fas fa-arrow-left"></i></a>
  <div class="scroll">
    {% for post in site.data.resources limit: 8 %}
    <a class="light-gray even trading card" href="{{ post.url }}">
      <img src="/assets/img/{{ post.image }}" alt="{{ post.title }}">
      <div class="name">{{ post.title }}</div>
    </a>
    {% endfor %}
  </div>
  <a href="{{ post.url }}" class="changer-right orange button circle"><i class="fas fa-arrow-right"></i></a>
</div>
