---
import { getCollection } from 'astro:content';
import Layout from 'src/layouts/Developer.astro';
import ReleaseNotification from 'src/content/docs/_shared/_release-notification.mdx';

const title = 'FusionAuth Downloads';
const description = 'Download the latest version of FusionAuth for your platform.';
const frontmatter = { section: 'get started' };

// sort in descending order (newest first)
const versions = (await getCollection('direct-download-versions')).sort((a, b) => 
  b.data.version.localeCompare(a.data.version, undefined, { numeric: true, sensitivity: 'base' })
);
---

<Layout {title} {description} {frontmatter} noSideNav={true}>

<p>All releases, all platforms. Download, install and get started. If you have questions or issues, join our active <a href="/community">developer community</a>, or take a look at our <a href="/pricing">hosting and support plans</a>.</p>

<p>For system requirements or help with the installation, <a href="/docs">read our documentation</a>.</p>

<h2>Release Notifications</h2>

<ReleaseNotification />

<h2>Downloads</h2>
  
{versions.map((v) => (
  <div class="mt-5">
    <h3 id={v.id}>
      {v.data.version}
    </h3>

    <div class="mb-6 text-sm">
        <a href={v.data.releaseNotesLink}>Release Notes</a>
        <span>|</span>
        <a href="/docs/get-started/download-and-install/reference/packages">Installation Guide</a>
      </div>
    
    <div>
      <a href={`https://files.fusionauth.io/products/fusionauth/${v.data.version}/fusionauth-app-${v.data.version}.zip`}>
        fusionauth-app-{v.data.version}.zip
      </a>
      &nbsp;
      <span>
        [<a href={`https://files.fusionauth.io/products/fusionauth/${v.data.version}/fusionauth-app-${v.data.version}.zip.sha256`}>sha256</a>]
      </span>
      <br />

      <a href={`https://files.fusionauth.io/products/fusionauth/${v.data.version}/fusionauth-app_${v.data.version}-1_all.deb`}>
        fusionauth-app_{v.data.version}-1_all.deb
      </a>
      &nbsp;
      <span>
        [<a href={`https://files.fusionauth.io/products/fusionauth/${v.data.version}/fusionauth-app_${v.data.version}-1_all.deb.sha256`}>sha256</a>]
      </span>
      <br />

      <a href={`https://files.fusionauth.io/products/fusionauth/${v.data.version}/fusionauth-app-${v.data.mVersion}-1.noarch.rpm`}>
        fusionauth-app-{v.data.mVersion}-1.noarch.rpm
      </a>
      &nbsp;
      <span>
        [<a href={`https://files.fusionauth.io/products/fusionauth/${v.data.version}/fusionauth-app-${v.data.mVersion}-1.noarch.rpm.sha256`}>sha256</a>]
      </span>
      <br />
      <br />

      <a href={`https://files.fusionauth.io/products/fusionauth/${v.data.version}/fusionauth-search-${v.data.version}.zip`}>
        fusionauth-search-{v.data.version}.zip
      </a>
      &nbsp;
      <span>
        [<a href={`https://files.fusionauth.io/products/fusionauth/${v.data.version}/fusionauth-search-${v.data.version}.zip.sha256`}>sha256</a>]
      </span>
      <br />

      <a href={`https://files.fusionauth.io/products/fusionauth/${v.data.version}/fusionauth-search_${v.data.version}-1_all.deb`}>
        fusionauth-search_{v.data.version}-1_all.deb
      </a>
      &nbsp;
      <span>
        [<a href={`https://files.fusionauth.io/products/fusionauth/${v.data.version}/fusionauth-search_${v.data.version}-1_all.deb.sha256`}>sha256</a>]
      </span>
      <br />

      <a href={`https://files.fusionauth.io/products/fusionauth/${v.data.version}/fusionauth-search-${v.data.mVersion}-1.noarch.rpm`}>
        fusionauth-search-{v.data.mVersion}-1.noarch.rpm
      </a>
      &nbsp;
      <span>
        [<a href={`https://files.fusionauth.io/products/fusionauth/${v.data.version}/fusionauth-search-${v.data.mVersion}-1.noarch.rpm.sha256`}>sha256</a>]
      </span>
      <br />
      <br />

      <a href={`https://files.fusionauth.io/products/fusionauth/${v.data.version}/fusionauth-database-schema-${v.data.version}.zip`}>
        fusionauth-database-schema-{v.data.version}.zip
      </a>
      &nbsp;
      <span>
        [<a href={`https://files.fusionauth.io/products/fusionauth/${v.data.version}/fusionauth-database-schema-${v.data.version}.zip.sha256`}>sha256</a>]
      </span>
      &nbsp;
      (<a href="/docs/get-started/download-and-install/fusionauth-app#advanced-installation">See Advanced Installation</a>)
    </div>
  </div>
))}
  
  <section class="mt-12">
    <h2>Questions or Issues?</h2>
    <p>
      If you have questions or issues, join our active <a href="/community">Developer Community</a>, or take a look at our <a href="/pricing">Hosting and Support Plans</a>.
    </p>
  </section>
</Layout>