---
import { getDocNavContext } from '../tools/docs';
import Layout from 'src/layouts/Docs.astro';
import DirectDownloads from '../content/docs/get-started/_direct-downloads-preamble.mdx';

const title = 'FusionAuth Download QR Code | A code to download FusionAuth';
const description = 'Download the latest version of FusionAuth for your platform. See release notes and installation guides.';

const navContext = await getDocNavContext('get started');

const frontmatter = {section: 'get started'};
---
<Layout {title} {description} {navContext} {frontmatter} noSideNav={true}>
  <section class="flex justify-center">
    <img src="/img/download/download-qr-code.png" alt="qr code"/>
  </section>
</Layout>
