---
import ClickableCard from "../../components/ClickableCard.astro";
import Layout from "../../layouts/DevTool.astro";

import { getCollection } from "astro:content";
const tools = await getCollection("dev-tools");
---

<Layout frontmatter={{disableTOC: true}} title="Dev Tools" excludeFromSearchIndex={true}>
  <p>
    Enjoy these web based developer tools that our team has put together.
  </p>
  <div class="gap-6 grid grid-cols-1 not-prose lg:grid-cols-2" xmlns="http://www.w3.org/1999/xhtml">
    {tools.filter(tool => tool.id.indexOf("index.md") === -1)
        .map(tool =>
          <ClickableCard href={`/dev-tools/${tool.slug}/`} title={tool.data.title} description={tool.data.description} icon={tool.data.icon}/>
        )}
  </div>
</Layout>
