---
import ClickableCard from "../../components/ClickableLandingCard.astro";
import ClickableTile from "../../components/ClickableLandingTile.astro";
import Layout from "../../layouts/Landing.astro";
import Hero from "../../heroes/DocLanding.astro";

const title = "Start Building Your Application";
const subtitle = "Choose from our selection of application types below to get started.";

const runTypes = [
	{
		"title": "Install Locally",
		"icon": "/img/icons/install-locally.svg",
		"href": "/docs/get-started/download-and-install/docker"
	},
	{
		"title": "Free Trial in the Cloud",
		"icon": "/img/icons/fusionauth-cloud.svg",
		"href": "/pricing?step=plan&hosting=basic-cloud"
	},
	{
		"title": "Our Shared Sandbox",
		"icon": "/img/icons/shared-sandbox.svg",
		"href": "https://sandbox.fusionauth.io/"
	},
	{
		"title": "Cloud Marketplaces",
		"icon": "/img/icons/marketplace.svg",
		"href": "/docs/get-started/run-in-the-cloud/marketplaces"
	}
];

const useCases = [
	{
		"title": "Add Login",
		"description": "Add login, logout and or registration to your application.",
		"footer": null,
		"icon": "/img/icons/add-login.svg",
		"href": "/docs/quickstarts/5-minute-setup-guide"
	},
	{
		"title": "Social Sign-On",
		"description": "Add social sign-on to your application.",
		"footer": "e.g. Google, Twitter, Facebook",
		"icon": "/img/icons/social-sign-on.svg",
		"href": "/docs/lifecycle/authenticate-users/identity-providers/#social-identity-providers"
	},
	{
		"title": "Enterprise Sign-On",
		"description": "Add enterprise sign-on, SAML, OIDC to your application.",
		"footer": null,
		"icon": "/img/icons/enterprise-sign-on.svg",
		"href": "/docs/lifecycle/authenticate-users/identity-providers/#enterprise-identity-providers"
	},
	{
		"title": "Add MFA",
		"description": "Add multi-factor authentication to your application.",
		"footer": null,
		"icon": "/img/icons/add-mfa.svg",
		"href": "/docs/lifecycle/authenticate-users/multi-factor-authentication"
	}
];

const otherCases = [
	{
		"title": "Identity, Authentication & Authorization",
		"description": "Learn everything you need to know about authentication, authorization, identity, and access management from our team of industry experts.",
		"icon": "/img/icons/identity-authentication.svg",
		"href": "/articles/"
	},
	{
		"title": "Manage Complicated Permissions",
		"description": "Learn everything you need to know about authentication, authorization, identity, and access management from our team of industry experts.",
		"icon": "/img/icons/manage-permissions.svg",
		"href": "/docs/get-started/core-concepts/entity-management"
	},
	{
		"title": "Protecting APIs with JSON Web Tokens",
		"description": "FusionAuth handles user authentication in your serverless and microservices based applications. Leverage popular API gateways to protect your APIs.",
		"icon": "/img/icons/protecting-apis.svg",
		"href": "/docs/extend/examples/api-gateways/"
	},
	{
		"title": "Consolidate Users' Data",
		"description": "Integrating single sign-on into your applications means your users can access all their applications with one set of credentials, such as a username and password.",
		"icon": "/img/icons/add-mfa.svg",
		"href": "/docs/lifecycle/authenticate-users/single-sign-on"
	},
	{
		"title": "Migrating to FusionAuth",
		"description": "Oftentimes you are migrating to FusionAuth from another solution, whether it be homegrown or another vendor.",
		"icon": "/img/icons/migrating.svg",
		"href": "/docs/lifecycle/migrate-users/"
	},
	{
		"title": "User Registration & Profile Management",
		"description": "FusionAuth self-service account management allows users to manage their accounts, including the ability to add Multi-factor Authentication (MFA).",
		"icon": "/img/icons/user-registration.svg",
		"href": "/docs/lifecycle/manage-users/account-management/"
	},
	{
		"title": "Delegating Account Management",
		"description": "The Organization Admin app allows you to delegate user administration within a tenant to specific users",
		"icon": "/img/icons/user-registration.svg",
		"href": "/docs/lifecycle/manage-users/organization-admin/"
	}

];

const otherResources = [
	{
		"title": "Release Notes",
		"description": "Learn about the release cadence and features included in recent versions of FusionAuth.",
		"icon": "/img/icons/release-notes.svg",
		"href": "/docs/release-notes/"
	},
	{
		"title": "Blog",
		"description": "Keep up to date with articles on features, company announcements, and more.",
		"icon": "/img/icons/blog.svg",
		"href": "/blog/"
	},
	{
		"title": "Download FusionAuth",
		"description": "Download FusionAuth and try it out. You can do so using Docker, RPMs, DEBs, Zip files, Kubernetes, and more.",
		"icon": "/img/icons/download-fusionauth.svg",
		"href": "/download"
	},
	{
		"title": "Articles",
		"description": "Best practices, advice, and real world use cases to help you hone your expertise in all things auth.",
		"icon": "/img/icons/articles.svg",
		"href": "/articles/"
	},
	{
		"title": "SDKs",
		"description": "Learn how to integrate and manage FusionAuth using your favorite programming language. You can choose either our client libraries (a thin, low-level wrapper over our APIs) or our SDKs (an opinionated set of higher-level constructs designed to simplify the integration of FusionAuth authentication workflows into applications).",
		"icon": "/img/icons/sdks.svg",
		"href": "/docs/sdks/"
	},
	{
		"title": "APIs",
		"description": "A comprehensive set of RESTful APIs that enable you to integrate login, registration, and advanced user management features into your application. You can also build your own workflows and completely manage your FusionAuth instance using these APIs.",
		"icon": "/img/icons/apis.svg",
		"href": "/docs/apis/"
	},
	{
		"title": "Reference",
		"description": "Provides detailed information on various aspects of the system, including configuration options, data types, cookies set by the Hosted Login pages, and supported password hashing algorithms.",
		"icon": "/img/icons/reference.svg",
		"href": "/docs/reference/"
	},
	{
		"title": "Download Docs",
		"description": "Download the complete FusionAuth documentation. This includes all reference materials in a format optimized for large language model (LLM) context windows. This export provides system details, ensuring your AI has access to relevant configuration options, data structures, authentication flows, and more.",
		"icon": "/img/icons/download-docs.svg",
		"href": "/docs/llms-full.txt"
	}
];

const docCategories = [
	{
		"title": "Get Started",
		"description": "How to install and run FusionAuth, as well as documentation about core concepts such as tenants, users and applications.",
		"icon": "/img/icons/icon-get-started-docs.svg",
		"href": "/docs/get-started/"
	},
	{
		"title": "Lifecycle",
		"description": "Covers registration/sign up, login/sign in, user management and migration.",
		"icon": "/img/icons/icon-life-cycle-docs.svg",
		"href": "/docs/lifecycle/"
	},
	{
		"title": "Customize",
		"description": "How to customize the look and feel of pages and emails your users will see when they are logging in or registering.",
		"icon": "/img/icons/icon-customize-docs.svg",
		"href": "/docs/customize/"
	},
	{
		"title": "Extend",
		"description": "Covers how to extend FusionAuth, including run time modifications of tokens, webhooks and events, and example applications.",
		"icon": "/img/icons/icon-extend-docs.svg",
		"href": "/docs/extend/"
	},
	{
		"title": "Operate",
		"description": "How to operate FusionAuth, including advanced deployment configurations, Terraform and configuration management options, troubleshooting, and security and monitoring information.",
		"icon": "/img/icons/icon-operate-docs.svg",
		"href": "/docs/operate/"
	}
];

---
<Layout title={title} subtitle={subtitle} description="Homepage" Hero={Hero} excludeFromSearchIndex={true}>
	<div class="max-w-8xl py-8 text-slate-700 sm:pt-14 lg:pt-56 xl:pt-48">
		<div>
			<h2 class="font-semibold text-3xl tracking-tight">How to Run FusionAuth</h2>
			<p class="font-normal mt-2 text-Slate-800 text-base">
				We offer multiple options to get your hands on FusionAuth.
			</p>
			<div class="container gap-6 grid grid-cols-2 mt-10 mx-auto sm:grid-cols-2 md:grid-cols-2 lg:gap-5 lg:grid-cols-4 2xl:gap-8">
				{runTypes.map((rt) =>
						<ClickableCard href={rt.href} icon={rt.icon} title={rt.title}/>
				)}
		  </div>
		</div>

		<hr class="border-Slate-100 border-t-2 my-16">
		<h2 class="font-semibold text-3xl tracking-tight">Popular Use Cases</h2>
		<p class="font-normal mt-2 text-Slate-800 text-base">Here are some of our customers most searched for use cases within our docs.</p>
		<div class="container gap-16 grid grid-cols-1 mt-10 mx-auto sm:grid-cols-2 md:grid-cols-2 lg:gap-5 lg:grid-cols-4 2xl:gap-8">
			{useCases.map((uc) =>
					<ClickableCard description={uc.description} footer={uc.footer} href={uc.href} icon={uc.icon} title={uc.title} />
			)}
		</div>
	</div>

	<div class="max-w-8xl py-8 text-slate-700 sm:pt-14 lg:pt-10">
		<h2 class="font-semibold text-3xl tracking-tight">Documentation Categories</h2>
		<div class="gap-x-8 gap-y-4 grid grid-cols-1 mt-10 sm:grid-cols-2 md:grid-cols-2">
			{docCategories.map((oc) =>
					<ClickableTile description={oc.description} href={oc.href} icon={oc.icon} title={oc.title} />
			)}
		</div>
	</div>

	<div class="max-w-8xl py-8 text-slate-700 sm:pt-14 lg:pt-10">
		<h2 class="font-semibold text-3xl tracking-tight">Other Use Cases</h2>
		<div class="gap-x-8 gap-y-4 grid grid-cols-1 mt-10 sm:grid-cols-2 md:grid-cols-2">
			{otherCases.map((oc) =>
					<ClickableTile description={oc.description} href={oc.href} icon={oc.icon} title={oc.title} />
			)}
		</div>
	</div>

	<div class="max-w-8xl py-8 text-slate-700 sm:pt-14 lg:pt-10">
		<h2 class="font-semibold text-3xl tracking-tight">Other Resources</h2>
		<div class="gap-x-8 gap-y-4 grid grid-cols-1 mt-10 sm:grid-cols-2 md:grid-cols-2">
			{otherResources.map((or) =>
					<ClickableTile description={or.description} href={or.href} icon={or.icon} title={or.title} />
			)}
		</div>
	</div>

</Layout>
