---
import QuickstartCard from './QuickstartCard.astro';
const { title, icon, desc, anchorTag, quickstarts } = Astro.props;
---
<div class="flex flex-row">
    <img src={icon} class="h-15">
    <div class="flex flex-col justify-center ml-5">
        <h1 id={anchorTag} class="py-0 my-0 text-3xl">{title}</h1>
        <p class="py-0 my-0">{desc}</p>
    </div>
</div>


<div class="gap-6 grid grid-cols-1 not-prose lg:grid-cols-2" xmlns="http://www.w3.org/1999/xhtml">
  {quickstarts && quickstarts
    .filter(quickstart => (quickstart.id?.indexOf("index.md") === -1 || quickstart.href?.startsWith("/docs") || quickstart.href?.startsWith("/blog") || quickstart.comingSoon))
    .sort((a, b) => a.title.localeCompare(b.title))
    .map(quickstart =>
            <QuickstartCard href={quickstart.href} title={quickstart.title} icon={quickstart.icon} comingSoon={quickstart.comingSoon} />
    )}
</div>
