---
// TODO this is more like a "callout" than a traditional HTML <aside>, should consider renaming the component

// Adapted from https://github.com/withastro/docs/blob/main/src/components/Aside.astro
export interface Props {
	type?: 'note' | 'tip' | 'caution' | 'danger' | 'database' | 'theme' | 'version';
	title?: string;
	titleBold?: boolean;
	nodark?: boolean;
}

const { type = 'note', title = type, titleBold = true, nodark = false } = Astro.props as Props;

// SVG icon paths based on GitHub Octicons
const icons: Record<NonNullable<Props['type']>, { viewBox: string; d: string }> = {
	note: {
		viewBox: '0 0 18 18',
		d: 'M0 3.75C0 2.784.784 2 1.75 2h12.5c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0114.25 14H1.75A1.75 1.75 0 010 12.25v-8.5zm1.75-.25a.25.25 0 00-.25.25v8.5c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25v-8.5a.25.25 0 00-.25-.25H1.75zM3.5 6.25a.75.75 0 01.75-.75h7a.75.75 0 010 1.5h-7a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5h4a.75.75 0 000-1.5h-4z',
	},
	tip: {
		viewBox: '0 0 18 18',
		d: 'M14 0a8.8 8.8 0 0 0-6 2.6l-.5.4-.9 1H3.3a1.8 1.8 0 0 0-1.5.8L.1 7.6a.8.8 0 0 0 .4 1.1l3.1 1 .2.1 2.4 2.4.1.2 1 3a.8.8 0 0 0 1 .5l2.9-1.7a1.8 1.8 0 0 0 .8-1.5V9.5l1-1 .4-.4A8.8 8.8 0 0 0 16 2v-.1A1.8 1.8 0 0 0 14.2 0h-.1zm-3.5 10.6-.3.2L8 12.3l.5 1.8 2-1.2a.3.3 0 0 0 .1-.2v-2zM3.7 8.1l1.5-2.3.2-.3h-2a.3.3 0 0 0-.3.1l-1.2 2 1.8.5zm5.2-4.5a7.3 7.3 0 0 1 5.2-2.1h.1a.3.3 0 0 1 .3.3v.1a7.3 7.3 0 0 1-2.1 5.2l-.5.4a15.2 15.2 0 0 1-2.5 2L7.1 11 5 9l1.5-2.3a15.3 15.3 0 0 1 2-2.5l.4-.5zM12 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-8.4 9.6a1.5 1.5 0 1 0-2.2-2.2 7 7 0 0 0-1.1 3 .2.2 0 0 0 .3.3c.6 0 2.2-.4 3-1.1z',
	},
	caution: {
		viewBox: '-1 1 18 18',
		d: 'M8.9 1.5C8.7 1.2 8.4 1 8 1s-.7.2-.9.5l-7 12a1 1 0 0 0 0 1c.2.3.6.5 1 .5H15c.4 0 .7-.2.9-.5a1 1 0 0 0 0-1l-7-12zM9 13H7v-2h2v2zm0-3H7V6h2v4z',
	},
	danger: {
		viewBox: '0 1 14 17',
		d: 'M5 .3c.9 2.2.5 3.4-.5 4.3C3.5 5.6 2 6.5 1 8c-1.5 2-1.7 6.5 3.5 7.7-2.2-1.2-2.6-4.5-.3-6.6-.6 2 .6 3.3 2 2.8 1.4-.4 2.3.6 2.2 1.7 0 .8-.3 1.4-1 1.8A5.6 5.6 0 0 0 12 10c0-2.9-2.5-3.3-1.3-5.7-1.5.2-2 1.2-1.8 2.8 0 1-1 1.8-2 1.3-.6-.4-.6-1.2 0-1.8C8.2 5.3 8.7 2.5 5 .3z',
	},
	database: {
		viewBox: '0 0 16 16',
		d: 'M0.516875615,4.52883527 C-0.183714866,3.42945088 -0.160964634,2.34044349 0.517458955,1.24105911 C0.583376294,1.13383022 0.683710651,1.05023781 0.801545187,1.00354135 C4.16857954,-0.334513785 9.83163732,-0.334513785 13.1986717,1.00354135 C13.3165062,1.05023781 13.4168406,1.13383022 13.4827579,1.24105911 C14.1605982,2.34044349 14.1839317,3.42945088 13.4833412,4.52883527 C13.4174239,4.63260516 13.3176729,4.71389158 13.2027551,4.75943503 C9.83513736,6.09979617 4.16566284,6.09979617 0.797461812,4.75943503 C0.682543972,4.71389158 0.583376294,4.63260516 0.516875615,4.52883527 Z M7.00020483,6.73119195 C4.52503391,6.73119195 2.22786986,6.3918604 0.474648108,5.77623101 C0.38476923,5.74471415 0.28321777,5.78305967 0.248200026,5.86395295 C-0.154504038,6.80157961 -0.0681269345,7.88418385 0.514334885,8.7556251 C0.579701342,8.85332737 0.680085543,8.927392 0.797394988,8.96993977 C4.16668565,10.1864907 9.83314037,10.1864907 13.202431,8.96993977 C13.3197405,8.927392 13.4201247,8.85332737 13.4854911,8.7556251 C14.0685366,7.88418385 14.1543301,6.80105433 13.751626,5.86342767 C13.7166083,5.78253439 13.6150568,5.74418887 13.5251779,5.77570573 C11.7731234,6.3918604 9.47537575,6.73119195 7.00020483,6.73119195 Z M13.925613,10.0088025 C13.9063346,9.91197406 13.7900801,9.85708732 13.6872621,9.89385108 C11.9159876,10.5250485 9.5301417,10.8838835 7,10.8838835 C4.4698583,10.8838835 2.08401238,10.5250485 0.312737938,9.89385108 C0.209919896,9.85708732 0.0936654058,9.91197406 0.074387023,10.0088025 C-0.122486159,10.9853721 0.0702976691,12.0012945 0.666174956,12.8002589 C0.724010104,12.8779288 0.805797183,12.9385113 0.900436517,12.9778641 C2.5531197,13.659288 4.77655985,14 7,14 C9.22344015,14 11.4468803,13.6587702 13.0995635,12.9778641 C13.194787,12.9385113 13.2759899,12.8779288 13.333825,12.8002589 C13.9297023,12.0012945 14.1224862,10.9853721 13.925613,10.0088025 Z',
	},
	version: {
		viewBox: '0 0 16 16',
		d: 'M7.75 0a.75.75 0 0 1 .75.75V3h3.634c.414 0 .814.147 1.13.414l2.07 1.75a1.75 1.75 0 0 1 0 2.672l-2.07 1.75a1.75 1.75 0 0 1-1.13.414H8.5v5.25a.75.75 0 0 1-1.5 0V10H2.75A1.75 1.75 0 0 1 1 8.25v-3.5C1 3.784 1.784 3 2.75 3H7V.75A.75.75 0 0 1 7.75 0Zm4.384 8.5a.25.25 0 0 0 .161-.06l2.07-1.75a.248.248 0 0 0 0-.38l-2.07-1.75a.25.25 0 0 0-.161-.06H2.75a.25.25 0 0 0-.25.25v3.5c0 .138.112.25.25.25h9.384Z',
	},
	theme: {
		viewBox: '0 0 16 16',
		d: 'M7.53 1.282a.5.5 0 0 1 .94 0l.478 1.306a7.492 7.492 0 0 0 4.464 4.464l1.305.478a.5.5 0 0 1 0 .94l-1.305.478a7.492 7.492 0 0 0-4.464 4.464l-.478 1.305a.5.5 0 0 1-.94 0l-.478-1.305a7.492 7.492 0 0 0-4.464-4.464L1.282 8.47a.5.5 0 0 1 0-.94l1.306-.478a7.492 7.492 0 0 0 4.464-4.464Z'
	}
};
const { viewBox, d } = icons[type];

const bgColors: Record<NonNullable<Props['type']>, string> = {
	note: 'border-blue-500 bg-blue-50' + (!nodark ? ' dark:bg-blue-900 dark:bg-opacity-30' : ''),
	tip: 'border-green-500 bg-green-50' + (!nodark ? ' dark:bg-green-900 dark:bg-opacity-30' : ''),
	caution: 'border-yellow-500 bg-yellow-50' + (!nodark ? ' dark:bg-yellow-700 dark:bg-opacity-20' : ''),
	danger: 'border-red-500 bg-red-50' + (!nodark ? ' dark:bg-red-900 dark:bg-opacity-30' : ''),
	database: 'border-orange-500 bg-orange-50' + (!nodark ? ' dark:bg-orange-900 dark:bg-opacity-30' : ''),
	theme: 'border-fuchsia-500 bg-fuchsia-50' + (!nodark ? ' dark:bg-fuchsia-700 dark:bg-opacity-20' : ''),
	version: 'border-green-500 bg-green-50' + (!nodark ? ' dark:bg-green-900 dark:bg-opacity-30' : ''),
};
const bgColor = bgColors[type];

---

<div class={`border-l-4 p-4 mb-5 rounded-sm ${bgColor}`} aria-label={title}>
	<div class="title not-prose flex align-text-bottom font-bold" aria-hidden="true">
		<span class="icon mb-2 pr-2">
			<svg xmlns="http://www.w3.org/2000/svg" class="inline" viewBox={viewBox} width={24} height={24}>
				<path class:list={["fill-slate-800", nodark ? '' : 'dark:fill-slate-200']} fill-rule="evenodd" d={d}></path>
			</svg>
		</span>
		{/* Intentionally not showing the title and message the same time. Please do one of the following:
				 1. Use the title property and slot.
				 2. Use the message property.
		*/}
		<span class:list={[titleBold ? 'mb-4' : 'font-normal']}>{title}</span>
	</div>

	{/* Do not add this additional div do the dom unless a slot was provided by the caller */}
	{Astro.slots.has('default') && (
	<div class="prose-p:mt-0 prose-p:mb-5 last:prose-p:mb-0">
		<slot />
	</div>
	)}
</div>
