---
const { description, footer, href, icon, title} = Astro.props;
---
<a href={href}
    class="bg-white border border-Slate-300 border-slate-200 ease-in flex from-current group group-hover:ease-linear group-hover:shadow-md group-hover:transition hover:duration-200 hover:ease-linear hover:shadow-md hover:transition-shadow items-center px-6 py-5 rounded self-center space-x-4 to-blue-50/75 transition-colors sm:flex-col sm:items-start sm:self-stretch md:flex-row md:items-center lg:flex-nowrap xl:items-center xl:self-stretch">
  {icon && <img src={icon} alt={title} class="w-10">}
  <div>
    <h3 class="font-medium group-hover:text-indigo-500 text-md text-slate-800">{title}</h3>
    {description &&
      <p class="mt-1 text-slate-600 text-sm">
        {description}
      </p>
    }
    {footer &&
      <p class="mt-4 text-slate-500 text-xs">
        {footer}
      </p>
    }
  </div>
</a>