---
const { description, footer, href, icon, title} = Astro.props;
---
<a href={href} class="bg-gradient-to-b border-2 border-slate-300 flex flex-col from-white items-center pb-10 pt-6 px-3 rounded shadow to-blue-50 hover:border-indigo-500 z-10">
  {icon && <img src={icon} alt={title}>}
  <h3 class="font-bold mt-5 text-lg text-slate-800">{title}</h3>
  {description &&
    <p class="mt-3 text-center text-slate-600 text-sm">
      {description}
    </p>
  }
  {footer &&
    <p class="mt-4 text-slate-500 text-xs">
      {footer}
    </p>
  }
</a>
