---
const { description, footer, href, icon, title} = Astro.props;
---
<a href={href} class="border border-slate-300 dark:bg-slate-900 bg-white border-solid block dark:hover:bg-slate-800 dark:border-slate-600 group hover:bg-slate-100 hover:border-indigo-500 rounded-lg">
  <div class="flex items-start gap-x-6 p-5">
    {icon && <img class="shadow" src={icon} alt={title}>}
    <div>
      <h2 class="font-extrabold group-hover:text-indigo-500 pb-1 text-xl sm:leading-tight sm:pb-2 sm:text-lg md:text-xl lg:text-2xl 2xl:leading-tight capitalize">{title}</h2>
      {description &&
        <p class="font-normal lg:leading-4 sm:leading-4 text-sm">{description}</p>
      }
    </div>
  </div>
</a>
