---
const { description, footer, href, icon, title} = Astro.props;
---
<a href={href} class="bg-white border border-Slate-300 border-slate-200 ease-in flex flex-col group hover:border-indigo-500 hover:bg-slate-100 items-center px-3 py-8 rounded shadow to-blue-50/75 transition-colors">
  {icon && <img src={icon} alt={title} class="mb-3 rounded-md w-16">}
  <h3 class="font-medium group-hover:text-indigo-500 mt-5 text-Slate-900 text-center text-slate-800 text-xl tracking-tight">{title}</h3>
  {description &&
    <p class="mt-3 text-center text-slate-600 text-sm">{description}</p>
  }
  {footer &&
    <p class="mt-4 text-slate-500 text-xs">{footer}</p>
  }
</a>
