---
const { icon, description, title } = Astro.props;
const socialImageURL = new URL(icon, Astro.url);
const normalizedUrl = Astro.url.toString().replace(/.html$/, '');
---
<head>
  <meta charSet="UTF-8"/>
  <meta name="viewport" content="width=device-width"/>
  <!-- TODO: Implement favicons by following this blog post https://dev.to/masakudamatsu/favicon-nightmare-how-to-maintain-sanity-3al7 -->
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <link rel="sitemap" href="/sitemap-index.xml">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/css/diagrams.css"/>
  <link rel="stylesheet" href="/css/fontawesome.min.css"/>
  <link rel="stylesheet" href="/css/brands.min.css"/>
  <link rel="stylesheet" href="/css/duotone.min.css"/>
  <link rel="stylesheet" href="/css/light.min.css"/>
  <link rel="stylesheet" href="/css/regular.min.css"/>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="/js/CopyToClipboard-0.1.0.js" type="text/javascript"></script>
  <script src="/js/Search.0.1.0.js" type="text/javascript"></script>
  <script src="/js/ScrollSpy.0.1.0.js" type="text/javascript"></script>
  <script src="/js/ThemeSelector.0.1.0.js" type="text/javascript"></script>
  <script src="/js/Visibility.0.1.0.js" type="text/javascript"></script>
  <title>{title}</title>
  <meta name="description" content={description}/>
  <meta property="og:site_name" content="FusionAuth"/>
  <meta property="og:url" content={normalizedUrl}/>
  <meta property="og:description" content={description}/>
  <meta name="og:title" content={title}/>
  <meta property="og:type" content="website"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:image" content={socialImageURL}/>
</head>
