---
import SearchFilter  from 'src/components/search/SearchFilter.astro';

interface Props {
  description?: string;
  title?: string;
  openGraphImage?: string;
  canonicalUrl?: string;
  searchFilters?: { [key: string]: string[] };
}

const { description, title, openGraphImage, canonicalUrl, searchFilters = {} } = Astro.props;
const openGraphImageUrl = openGraphImage ? new URL(openGraphImage, Astro.url): new URL("/img/og/articles-developers-v1.png", Astro.url);
const normalizedUrl = Astro.url.toString().replace(/.html$/, '');
const hasDark = !Astro.url.pathname.startsWith('/blog');
const isProd = import.meta.env.PROD as boolean;

let canonical = canonicalUrl;
if (!canonical) {
  canonical = Astro.url.href;
} else if (!canonical.startsWith('http')) {
  canonical = new URL(canonical, Astro.url).href;
}

if (canonical.endsWith('index.html')) {
  canonical = canonical.slice(0, canonical.indexOf('index.html'));
  if (!canonical.endsWith('/')) {
    canonical += '/';
  }
} else if (canonical.endsWith('.html')) {
  canonical = canonical.slice(0, canonical.indexOf('.html'));
}
---
<head>
  <meta charSet="UTF-8"/>
  <meta name="viewport" content="width=device-width"/>
  {/* TODO: Implement favicons by following this blog post https://dev.to/masakudamatsu/favicon-nightmare-how-to-maintain-sanity-3al7 */}
  <link rel="icon" type="image/png" href="/img/favicon.png"/>
  { canonical && <link rel="canonical" href={canonical} /> }
  <link rel="sitemap" href="/sitemap-index.xml">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/css/brands.min.css"/>
  <link rel="stylesheet" href="/css/duotone.min.css"/>
  <link rel="stylesheet" href="/css/fontawesome.min.css"/>
  <link rel="stylesheet" href="/css/light.min.css"/>
  <link rel="stylesheet" href="/css/regular.min.css"/>
  <link rel="stylesheet" href="/css/sharp-solid.min.css"/>
  <link rel="stylesheet" href="/css/sharp-thin.min.css"/>
  <link rel="stylesheet" href="/css/solid.min.css"/>
  <script src="/js/CopyToClipboard-0.2.2.js" type="text/javascript"></script>
  <script src="/js/Search-0.2.3.js" type="text/javascript"></script>
  <script src="/js/ScrollSpy-0.1.0.js" type="text/javascript"></script>
  { hasDark && <script src="/js/ThemeSelector-0.1.0.js" type="text/javascript"></script> }
  <script src="/js/Visibility-0.1.2.js" type="text/javascript"></script>
  <script src="/js/BlogScrollTable-0.1.0.js" type="text/javascript"></script>
  <title>{title}</title>
  <meta name="description" content={description}/>
  <meta property="og:site_name" content="FusionAuth"/>
  <meta property="og:url" content={normalizedUrl}/>
  <meta property="og:description" content={description}/>
  <meta name="og:title" content={title}/>
  <meta property="og:type" content="website"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:image" content={openGraphImageUrl}/>

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@FusionAuth">
  <meta name="twitter:creator" content="@FusionAuth">
  <meta name="twitter:title" content={title}>
  <meta name="twitter:description" content={description}>
  <meta name="twitter:image" content={openGraphImageUrl}>

  <!-- Search -->
  {searchFilters && <SearchFilter filters={searchFilters} />}

  {isProd &&

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MZ9FDPFDF0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MZ9FDPFDF0');
  </script>
      <!-- Google tag manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5P7VLHG');</script>

  }

  <!-- Kapa.ai • Logo URL from Webflow - Contact SeanBobby if updates are needed (Brochure & Backend) -->
    <script
    src="https://widget.kapa.ai/kapa-widget.bundle.js"
    data-website-id="26ad3b7e-7d94-491c-ab54-95712d1fafee"
    data-project-name="FusionAuth"
    data-project-color="#0F172A"
    data-project-logo="https://uploads-ssl.webflow.com/617b1b1f42c1da41aeae3413/663bee0e6eec6b85377a3939_fa-square-icon-144.png"
    ></script>
    </head>

