---
const tabs = [
  {
    "id": "docker",
    "title": "Docker",
    "image": "docker.svg",
    "active": true
  },
  {
    "id": "cloud",
    "title": "FusionAuth Cloud",
    "image": "cloud.svg",
    "active": false
  },
  {
    "id": "gitpod",
    "title": "Gitpod",
    "image": "gitpod.svg",
    "active": false
  },
  {
    "id": "linux",
    "title": "Linux",
    "image": "linux.svg",
    "active": false
  },
  {
    "id": "debian",
    "title": "Debian",
    "image": "debian.svg",
    "active": false
  },
  {
    "id": "redhat",
    "title": "RedHat",
    "image": "redhat.png",
    "active": false
  },
  {
    "id": "kubernetes",
    "title": "Kubernetes",
    "image": "kubernetes.svg",
    "active": false
  },
  {
    "id": "helm",
    "title": "Helm",
    "image": "helm.png",
    "active": false
  },
  {
    "id": "macos",
    "title": "macOS",
    "image": "macos.svg",
    "active": false
  },
  {
    "id": "homebrew",
    "title": "Homebrew",
    "image": "homebrew.svg",
    "active": false
  },
  {
    "id": "windows",
    "title": "Windows",
    "image": "windows.svg",
    "active": false
  },
  {
    "id": "packages",
    "title": "Packages",
    "image": "package.svg",
    "active": false
  },
  {
    "id": "sandbox",
    "title": "Sandbox",
    "image": "sandbox.svg",
    "active": false
  },
  {
    "id": "marketplaces",
    "title": "Marketplaces",
    "image": "marketplace.svg",
    "active": false
  }
];

const anchorClass = 'border-b border-b-indigo-400 text-indigo-400 hover:text-indigo-400 hover:border-b-2';
---
<div class="bg-indigo-900 flex gap-3 not-prose p-3 rounded-2xl text-sm text-white">
  <ul class="bg-indigo-950 border border-slate-700 flex flex-col gap-1 p-2 rounded-lg text-[13px]">
    {tabs.map(tab =>
      <li class:list={["group", tab.active ? "active" : ""]}>
        <a data-tab-button href={"#" + tab.id} class="border border-transparent items-center flex gap-2 rounded-md px-4 py-2 text-slate-400 group-[.active]:border-white hover:bg-slate-800 hover:text-indigo-400">
          <img src={"/img/icons/install-or-start-trial/" + tab.image} alt={tab.title} class="m-0 p-0 w-7"/>
          <span class="text-nowrap">{tab.title}</span>
        </a>
      </li>
    )}
  </ul>
  <div data-tab-content id="docker" class="bg-indigo-950 border border-slate-700 flex-1 overflow-hidden rounded-lg">
    <ul class="flex mt-3 mx-4">
      <li class="group active"><a data-tab-button href="#docker-compose" class="block border-b-2 border-transparent group-[.active]:border-indigo-400 px-7 py-3 font-bold text-md text-slate-400 group-[.active]:text-white">Docker Compose</a></li>
      <li class="group"><a data-tab-button href="#docker-vanilla" class="block border-b-2 border-transparent group-[.active]:border-indigo-400 flex-grow px-7 py-3 text-md text-slate-400 group-[.active]:text-white">Docker Vanilla</a></li>
    </ul>
    <hr class="border-slate-700"/>
    <div data-tab-content id="docker-compose" class="m-8">
      <h2 class="mb-4 text-2xl">Docker Compose</h2>
      <p class="mb-6">
        Use the following Docker Compose commands to get up and running quickly with FusionAuth, PostgreSQL, and Elasticsearch. This command assumes you are running Linux, macOS, or a Unix variant. You might need to modify it if you are using a different operating system. Feel free to open an issue in <a href="https://github.com/FusionAuth/fusionauth-issues" class={anchorClass}>GitHub</a> if you find any issues.
      </p>
      <pre class="bg-slate-950 mb-8 overflow-x-scroll p-4 [&::-webkit-scrollbar-thumb]:bg-indigo-400 [&::-webkit-scrollbar-track]:bg-slate-950 [&::-webkit-scrollbar]:h-1">
<code class="block whitespace-pre">
curl -fsSL https://raw.githubusercontent.com/FusionAuth/fusionauth-containers/master/docker/fusionauth/docker-compose.yml > docker-compose.yml && \
curl -fsSL https://raw.githubusercontent.com/FusionAuth/fusionauth-containers/master/docker/fusionauth/.env > .env && \
docker-compose up
</code>
      </pre>
      <p>
        Then open <a href="http://localhost:9011" class={anchorClass}>http://localhost:9011</a> in your browser.
      </p>
    </div>
    <div data-tab-content id="docker-vanilla" class="hidden m-8">
      <h2 class="mb-4 text-2xl">Docker Vanilla</h2>
      <p class="mb-6">
        Use the following Docker commands to start just FusionAuth without a database. You'll need to install and configure a database manually. Feel free to open an issue in <a href="https://github.com/FusionAuth/fusionauth-issues" class={anchorClass}>GitHub</a> if you find any issues.
      </p>
      <p class="mb-6">
        <strong>Step 1:</strong> Install FusionAuth Docker container
      </p>
      <pre class="bg-slate-950 mb-8 overflow-x-scroll p-4 [&::-webkit-scrollbar-thumb]:bg-indigo-400 [&::-webkit-scrollbar-track]:bg-slate-950 [&::-webkit-scrollbar]:h-1">
<code class="block whitespace-pre">
docker pull fusionauth/fusionauth-app
</code>
      </pre>
      <p class="mb-6">
        <strong>Step 2:</strong> Start the Docker container
      </p>
      <pre class="bg-slate-950 mb-8 overflow-x-scroll p-4 [&::-webkit-scrollbar-thumb]:bg-indigo-400 [&::-webkit-scrollbar-track]:bg-slate-950 [&::-webkit-scrollbar]:h-1">
<code class="block whitespace-pre">
docker run -it -p 9011:9011 fusionauth/fusionauth-app
</code>
      </pre>
      <p>
        Then open <a href="http://localhost:9011" class={anchorClass}>http://localhost:9011</a> in your browser.
      </p>
    </div>
  </div>
  <div data-tab-content id="cloud" class="bg-indigo-950 border border-slate-700 flex-1 hidden overflow-hidden rounded-lg text-sm">
    <div class="m-8">
      <h2 class="mb-4 text-2xl">FusionAuth Cloud</h2>
      <p class="mb-6">
        You can sign up for a free trial of FusionAuth running in our fully managed Cloud. Feel free to open an issue in <a href="https://github.com/FusionAuth/fusionauth-issues" class={anchorClass}>GitHub</a> if you find any issues.
      </p>
      <button>Start Free Trial</button>
    </div>
  </div>
</div>