---
const {href, text, title, textFirst} = Astro.props;
---
<a href={href} class="border border-solid block rounded-lg border-slate-200 dark:bg-slate-900 dark:border-slate-800 bg-white dark:hover:bg-slate-800 dark:hover:border-indigo-500 group hover:bg-slate-100 hover:border-indigo-500" alt={title}>
  <div class="flex items-center gap-x-6 px-5 py-3">
    {!textFirst && <p class="basis-7">{text}</p>}
    <p class={(textFirst? "text-right " : "text-left ") + "basis-full font-medium group-hover:text-indigo-500 sm:leading-tight text-md 1xl:leading-tight"}>{title}</p>
    {textFirst && <p class="basis-7">{text}</p>}
  </div>
</a>