---
import '../css/style.css'
const { items, highlightLocation = true } = Astro.props;

// Pre-load Tailwind styles using comments:
// text-indigo-400 text-blue-400 text-green-400 text-red-400 text-rose-400 text-orange-400 text-yellow-400 text-fuchsia-400
// dark:group-hover:bg-indigo-700 dark:group-hover:bg-blue-700 dark:group-hover:bg-green-700 dark:group-hover:bg-red-700 dark:group-hover:bg-rose-700 dark:group-hover:bg-orange-700 dark:group-hover:bg-yellow-700 dark:group-hover:bg-fuchsia-700
// dark:group-hover:text-indigo-300 dark:group-hover:text-blue-300 dark:group-hover:text-green-300 dark:group-hover:text-red-300 dark:group-hover:text-rose-300 dark:group-hover:text-orange-300 dark:group-hover:text-yellow-300 dark:group-hover:text-fuchsia-300
// dark:group-[.active]:bg-indigo-700 dark:group-[.active]:bg-blue-700 dark:group-[.active]:bg-green-700 dark:group-[.active]:bg-red-700 dark:group-[.active]:bg-rose-700 dark:group-[.active]:bg-orange-700 dark:group-[.active]:bg-yellow-700 dark:group-[.active]:bg-fuchsia-700
// dark:group-[.active]:text-indigo-300 dark:group-[.active]:text-blue-300 dark:group-[.active]:text-green-300 dark:group-[.active]:text-red-300 dark:group-[.active]:text-rose-300 dark:group-[.active]:text-orange-300 dark:group-[.active]:text-yellow-300 dark:group-[.active]:text-fuchsia-300
// group-[.active]:shadow-indigo-200 group-[.active]:shadow-blue-200 group-[.active]:shadow-green-200 group-[.active]:shadow-red-200 group-[.active]:shadow-rose-200 group-[.active]:shadow-orange-200 group-[.active]:shadow-yellow-200 group-[.active]:shadow-fuchsia-200
// group-[.active]:text-indigo-600 group-[.active]:text-blue-600 group-[.active]:text-green-600 group-[.active]:text-red-600 group-[.active]:text-rose-600 group-[.active]:text-orange-600 group-[.active]:text-yellow-600 group-[.active]:text-fuchsia-600
// group-hover:shadow-indigo-200 group-hover:shadow-blue-200 group-hover:shadow-green-200 group-hover:shadow-red-200 group-hover:shadow-rose-200 group-hover:shadow-orange-200 group-hover:shadow-yellow-200 group-hover:shadow-fuchsia-200
// group-hover:text-indigo-600 group-hover:text-blue-600 group-hover:text-green-600 group-hover:text-red-600 group-hover:text-rose-600 group-hover:text-orange-600 group-hover:text-yellow-600 group-hover:text-fuchsia-600
---
<nav class="pb-8">
  <ul class="space-y-4">
    {items.map((item) =>
      <li class:list={["group", highlightLocation && Astro.url.pathname.startsWith(item.path.substring(0, item.path.length - 1)) ? "active " : ""]}>
        <a href={item.path} class="flex font-medium group items-center group text-sm">
          <i class:list={`fa-duotone ${item.icon} h-6 mr-4 ring-1 ring-slate-900/5 rounded-md shadow-sm text-center text-${item.color}-400 text-xs w-6 dark:bg-slate-800 dark:ring-0 dark:shadow-none dark:group-hover:bg-${item.color}-700 dark:group-hover:shadow-none dark:group-hover:text-${item.color}-300 dark:group-[.active]:bg-${item.color}-700 dark:group-[.active]:shadow-none dark:group-[.active]:text-${item.color}-300 group-[.active]:ring-slate-900/10 group-[.active]:shadow group-[.active]:shadow-${item.color}-200 group-[.active]:text-${item.color}-600 group-hover:ring-slate-900/10 group-hover:shadow group-hover:shadow-${item.color}-200 group-hover:text-${item.color}-600`}></i>
          <span class:list={`group-hover:text-${item.color}-600 dark:group-hover:text-${item.color}-400 group-[.active]:text-${item.color}-600 dark:group-[.active]:text-${item.color}-400`}>{item.title}</span>
        </a>
      </li>
    )}
  </ul>
</nav>

<style>
  a i {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>