---
import { border } from "./BaseInput.js";

const { className, id, instructions, label, name, required, value } = Astro.props;
---
<div>
  <div class:list={border(false, false, true, "no-prose")}>
    <label for={id} class="absolute bg-white block font-medium leading-none left-2 px-1 text-slate-700 text-xs -top-2 z-20 dark:bg-slate-900 dark:text-white">
      {label}
      {required && "*"}
    </label>
    <textarea id={id} class="align-top bg-white border-0 rounded text-sm w-full dark:bg-slate-900 focus:outline-none focus:ring-0" name={name} data-widget="text-editor">{value}</textarea>
  </div>
  {instructions && <sub set:html={instructions} class="italic mt-2 text-xs text-gray-500"/>}
</div>
