---
import { border } from "./BaseInput.js";

const { className, id, instructions, label, name, required, value } = Astro.props;
---
<div>
  <div class:list={border(false, false, true, "no-prose flex items-center justify-between")}>
    <label for={id} class="absolute bg-white block font-medium leading-none left-2 px-1 text-slate-700 text-xs -top-2 z-20 dark:bg-slate-900 dark:text-white">
      {label}
      {required && "*"}
    </label>
    <input type="text" id={id} class="appearance-none bg-transparent block border-none px-3 py-2 w-full focus:border-0 focus:outline-none focus:ring-0 placeholder:text-gray-400 sm:text-sm" name={name} value={value}/>
  </div>
  {instructions && <sub set:html={instructions} class="italic mt-2 text-xs text-gray-500"/>}
</div>
