---
export interface Props {
  issue?: string
  resolvedIn?: string
  viaIssue?: string
}

const { issue, viaIssue, resolvedIn} = Astro.props as Props;

if (issue) {
  if (resolvedIn || viaIssue) {
    throw new Error("Please use 'issue' by itself.");
  }
}

if (resolvedIn  && !viaIssue) {
  throw new Error("Please use resolvedIn and viaIssue together.");
}
---

{ issue &&
    <Fragment>
      Resolves <a href={`https://github.com/FusionAuth/fusionauth-issues/issues/${issue}`}>GitHub Issue #{issue}</a>
    </Fragment>
}

{ resolvedIn &&
<Fragment>
  Resolved in version <code>{resolvedIn}</code> via <a href={`https://github.com/FusionAuth/fusionauth-issues/issues/${viaIssue}`}>GitHub Issue #{viaIssue}</a>
</Fragment>
}
