---
import {
  categories,
  getCategoryLabel,
} from "src/components/docs/release-notes/ReleaseNotes.astro";

export interface Props {
  issue?: string;
  bonusIssue?: string;
  thanks?: string;
  bonusThanks?: string;
  category: string;
  since?: string;
  resolvedIn?: string;
  viaIssue?: string;
}

const {
  issue,
  bonusIssue,
  thanks,
  since,
  bonusThanks,
  resolvedIn,
  viaIssue,
  category = "fix",
} = Astro.props as Props;

const label = getCategoryLabel(category);
---

<div class={`issue-row release-notes-item-${category}`}>
  <span class={`issue-badge badge-${category}`}>
    {label}
  </span>

  <div class="issue-content">
    <div class="markdown-wrapper">
      <slot />
      {
        resolvedIn && viaIssue && (
          <p class="markdown-wrapper">
            Resolved in version <a href=`#version-${resolvedIn.replaceAll('.', '-')}`><code>{resolvedIn}</code></a> via
            <a
              target="_blank"
              rel="noopener noreferrer"
              href={`https://github.com/FusionAuth/fusionauth-issues/issues/${viaIssue}`}
            >
              #{viaIssue}
            </a>
            .
          </p>
        )
      }
      { since && <p class="thanks-text markdown-wrapper">Since: <a href=`#version-${since.replaceAll('.', '-')}`><code>{since}</code></a></p>
      }
      {
        thanks && (
          <p class="thanks-text markdown-wrapper">
            Thanks to <a href={`https://github.com/${thanks}`}>@{thanks}</a>
            {bonusThanks && (
              <span>
                {" "}
                and{" "}
                <a href={`https://github.com/${bonusThanks}`}>@{bonusThanks}</a>
              </span>
            )}
            !
          </p>
        )
      }
    </div>
  </div>

  {
    issue && (
      <a
        class="github-link"
        target="_blank"
        rel="noopener noreferrer"
        href={`https://github.com/FusionAuth/fusionauth-issues/issues/${issue}`}
      >
        #{issue}
      </a>
    )
  }

  {
    bonusIssue && (
      <a
        class="github-link"
        target="_blank"
        rel="noopener noreferrer"
        href={`https://github.com/FusionAuth/fusionauth-issues/issues/${bonusIssue}`}
      >
        #{bonusIssue}
      </a>
    )
  }
</div>

<style>
  @reference "tailwindcss";
  .issue-row {
    @apply md:flex items-baseline 
      gap-4 mb-10 md:mb-4;
  }
  .issue-badge {
    @apply md:w-28 py-1 px-2 shrink-0 
      text-center text-xs font-bold 
      rounded-xs uppercase;
  }

  .issue-content {
    @apply grow;
  }

  .github-link {
    @apply shrink 
      text-sm no-underline opacity-70;
  }
  .github-link:hover {
    @apply opacity-100;
  }

  .thanks-text {
    @apply italic text-slate-600;
  }
</style>
