---
import { categories, getCategoryLabel } from 'src/components/docs/release-notes/ReleaseNotes.astro';

export interface Props {
  issue: string;
  thanks?: string;
  category: string;
}

const { issue, thanks, category = '' } = Astro.props as Props;

const label = getCategoryLabel(category);
---
<div class={`issue-row release-notes-item-${category}`}>
  <span class={`issue-badge badge-${category}`}>
    {label}
  </span>

  <div class="issue-content">
    <div class="markdown-wrapper">
      <slot />
      {thanks && <span class="thanks-text"> Thanks to {thanks}!</span>}
    </div>
  </div>

  <a 
    class="github-link" 
    target="_blank" 
    rel="noopener noreferrer" 
    href={`https://github.com/FusionAuth/fusionauth-issues/issues/${issue}`}
  >
    #{issue}
  </a>
</div>


