---
import { categories, getCategoryLabel } from 'src/components/docs/release-notes/ReleaseNotes.astro';

export interface Props {
  resolvedIn: string;
  viaIssue: string;
  category: string;
}

const { resolvedIn, viaIssue, category } = Astro.props as Props;

const label = getCategoryLabel(category);
---
<div class={`issue-row release-notes-item-${category}`}>
  <span class={`issue-badge badge-${category}`}>
    {label}
  </span>

  <div class="issue-content">
    <div class="markdown-wrapper">
      <slot />
      <i>Resolved in version <code>{resolvedIn}</code> via <a target="_" href={`https://github.com/FusionAuth/fusionauth-issues/issues/${viaIssue}`}>GitHub Issue #{viaIssue}</a></i>.
    </div>
  </div>
</div>