---
import templates from '../../../json/themes/templates.json';
import APIField from '../../../../components/api/APIField.astro';
import InlineField from 'src/components/InlineField.astro';
import { marked } from 'marked';

const { fieldPrefix, singleRequest, singleResponse, response } = Astro.props;

templates.sort((a, b) => { return a.fieldName.toUpperCase().localeCompare(b.fieldName.toUpperCase())});
---
{templates.map((tmpl) =>
  <APIField name={((singleRequest || singleResponse) ? 'theme' : 'themes[x]') + '.templates.' + tmpl.fieldName } type="String" since={tmpl.version} optional={singleRequest}>
    {tmpl.rawDescription ?
      <p>
      {tmpl.rawDescription}
      </p> :
      <p>
        A <a href="https://freemarker.apache.org">FreeMarker</a> template that is rendered when the user requests the <code>{tmpl.path}</code> path. <span set:html={marked.parse(tmpl.description)}></span>
      </p>
    }
</APIFIeld>
)}

