---
import AvailableSince from './AvailableSince.astro';
import ReadOnly from './ReadOnly.astro';
import { marked } from 'marked';

interface Props {
  name: string;
  description?: string;
  type?: string;
  required?: boolean;
  optional?: boolean;
  immutable?: boolean;
  since?: string;
  defaults?: string;
  deprecated?: boolean;
  renderif?: boolean;
  readonly?: boolean;
  show_since?: boolean;
}

const {
  name,
  description,
  type,
  required,
  optional,
  immutable,
  since,
  defaults,
  deprecated,
  renderif = true,
  show_since = true,
  readonly
} = Astro.props;

const rawSlotContent = await Astro.slots.render('default');
let parsedMarkdownHTML = '';
if (rawSlotContent) {
  const trimmedContent = rawSlotContent.replace(/^[ \t]+/gm, '');
  parsedMarkdownHTML = marked.parse(trimmedContent);
}
---
<div class:list={['border-t border-slate-300 dark:border-slate-800', { hidden: !renderif }]}>
  <div class="flex flex-wrap items-baseline mt-6 space-x-3">
    <code class="api-field-name">{name}</code>

    {type && <span class="pt-1 text-sm text-gray-500 dark:text-gray-400">{type}</span>}
    {description && <span class="px-3">{description}</span>}

    {required && (
      <span class="px-[6px] py-1 text-xs font-bold uppercase border-2 rounded-md text-orange-500 border-orange-500 dark:font-semibold dark:text-[10px]">
        required
      </span>
    )}

    {optional && (
      <span class="px-[6px] py-1 text-xs font-bold uppercase border-2 rounded-md text-purple-500 border-purple-500 dark:font-semibold dark:text-[10px]">
        optional
      </span>
    )}

    {defaults && (
      <span class="pt-1 text-sm text-gray-500 justify-center dark:text-gray-400">
        Defaults to {defaults}
      </span>
    )}

    {show_since && since && <AvailableSince since={since} />}
    {immutable && <span class="px-3 text-sm font-semibold text-orange-500 uppercase">Immutable</span>}
    {deprecated && <span class="text-sm text-red-700">DEPRECATED</span>}
    {readonly && <ReadOnly />}
  </div>

  <div class="mb-7 ml-4 text-sm font-normal">
    <div class="mb-7 ml-4 text-sm font-normal" set:html={parsedMarkdownHTML}></div>
  </div>
</div>