---
import Aside from 'src/components/Aside.astro';
import EventInfo from 'src/content/docs/extend/events-and-webhooks/events/_event-info.mdx';
import InstanceScopedEvent from 'src/content/docs/extend/events-and-webhooks/events/_instance-scoped-event.mdx';
import JSON from 'src/components/JSON.astro';
import NonTransactionalEvent from 'src/content/docs/extend/events-and-webhooks/events/_non-transactional-event.mdx';

const { name, fieldName, version, description, scope, transactional, fields } = Astro.props;
---

<h2>{name}</h2>

{ version && 
  <Aside type="version">
    This event has been available since {version}
  </Aside>
}

<p>
{description}
</p>


<span class="italic">Event type</span>
<pre>
{fieldName}
</pre>

<h3>Event Scope</h3>

{ scope === 'instance' && 
  <InstanceScopedEvent />
}

<h3>Transaction Compatibility</h3>

{ transactional && 
  <NonTransactionalEvent />
}

<h3>Event Body</h3>

<slot />
<EventInfo eventType={fieldName} />

<JSON title="Example Event JSON" src="events/audit-log-create.json" />
