---
import APIField from 'src/components/api/APIField.astro';
import JSON from 'src/components/JSON.astro';
import EnterpriseEditionBlurbApi from 'src/content/docs/_shared/_enterprise-edition-blurb-api.astro';

const { eventType, sinceThreatDetection, sinceIpAddress, jsonFile, skipStandardFields } = Astro.props;
---
<h3>Event Body</h3>

<slot name="leading-fields" />

{ !skipStandardFields && 
<APIField name="event.info.data" type="Object" since={sinceThreatDetection}>
  An object that can hold any information about the event that should be persisted.
</APIField>

<APIField name="event.info.deviceDescription" type="String" since={sinceThreatDetection}>
  The description of the device associated with the event.
</APIField>

<APIField name="event.info.deviceName" type="String" since={sinceThreatDetection}>
  The device name associated with the event.
</APIField>

<APIField name="event.info.deviceType" type="String" since={sinceThreatDetection}>
  The type of device associated with the event.
</APIField>

<APIField name="event.info.ipAddress" type="String" since={sinceIpAddress}>
  The source IP address of the event.
</APIField>

<APIField name="event.info.location.city" type="String" since={sinceThreatDetection}>
  The city where the event originated.
  <EnterpriseEditionBlurbApi feature="event location data" />
</APIField>

<APIField name="event.info.location.country" type="String" since={sinceThreatDetection}>
  The country where the event originated.
  <EnterpriseEditionBlurbApi feature="event location data" />
</APIField>

<APIField name="event.info.location.latitude" type="Double" since={sinceThreatDetection}>
  The latitude where the event originated.
  <EnterpriseEditionBlurbApi feature="event location data" />
</APIField>

<APIField name="event.info.location.longitude" type="Double" since={sinceThreatDetection}>
  The longitude where the event originated.
  <EnterpriseEditionBlurbApi feature="event location data" />
</APIField>

<APIField name="event.info.location.region" type="String" since={sinceThreatDetection}>
  The geographic location where the event originated.
  <EnterpriseEditionBlurbApi feature="event location data" />
</APIField>

<APIField name="event.info.location.zipcode" type="String" since={sinceThreatDetection}>
  The zip code where the event originated.
  <EnterpriseEditionBlurbApi feature="event location data" />
</APIField>

<APIField name="event.info.os" type="String" since={sinceThreatDetection}>
  The operating system associated with the event.
</APIField>

<APIField name="event.info.userAgent" type="String" since={sinceThreatDetection}>
  The user agent associated with the event.
</APIField>
}

<slot name="trailing-fields" />

<JSON title="Example Event JSON" src={`events/${jsonFile}`} />
