---
import NavButton from './buttons/NavButton.astro';
import { specialCaps } from '../../tools/string';

import FusionAuthLogo from 'src/components/FusionAuthLogo.astro';
import MobileMenuIcon from 'src/components/icon/MobileMenuIcon.astro';
import DownChevronIcon from 'src/components/icon/DownChevronIcon.astro';

interface HeaderItem {
  name: string;
  href: string;
}

interface Button {
  key: string;
  mobile?: boolean;
}

interface Props {
  breadcrumbs?: any[];
  sectionTitle: string;
  sectionTitleHref: string;
  categoryItems: HeaderItem[];
  moreItems: HeaderItem[];
  categoryLabel: string;
  buttons: Button[];
  colorThemeOverride: string;
  noSideNav?: boolean;
}

const {sectionTitle, breadcrumbs, sectionTitleHref, categoryItems, moreItems, categoryLabel, buttons, colorThemeOverride, noSideNav}: Props = Astro.props;

// Determine the logo color class based on the theme override
const logoColorClass = colorThemeOverride === "light" ? "text-[#334155]" 
                     : colorThemeOverride === "dark"  ? "text-white" 
                     : "text-[#334155] dark:text-white";
---
<div class="bg-slate-900 block border-slate-600 border-b border-solid h-auto text-left lg:sticky sticky top-0 z-50 xl:shadow-lg">
  <div class="justify-between max-w-8xl mx-auto px-4 py-2 2xl:container hidden lg:flex">

    <div class="flex place-items-center">
      <a href="/" class="ease-in mr-1 opacity-100 hover:opacity-70 transition-opacity" aria-label="Link to Main FusionAuth Website">
        <FusionAuthLogo class={`size-10 ${logoColorClass}`} />
      </a>
      <span class="font-light text-2xl text-slate-500">/</span>
      <a href={ sectionTitleHref }
         class="ease-in font-bold hover:text-slate-400 ml-2 text-2xl text-white tracking-tight transition-colors">
        <span>{ sectionTitle }</span>
      </a>
    </div>

    <nav id="header-nav"
         class="absolute hidden left-0 right-0 top-16 p-0 bg-slate-900 border-slate-700 border-b border-solid lg:border-none shadow-md lg:bg-transparent lg:flex lg:h-auto lg:items-center lg:ml-auto lg:p-0 lg:static lg:dark:bg-transparent z-50">

      <div class="menu-group-container group lg:float-left lg:flex lg:flex-col lg:relative lg:mx-3 lg:h-full lg:justify-center">
        {categoryItems && <div class="menu-button-container hidden lg:block">
          <div class="mb-1 text-base lg:mb-0">
            <button type="button" class="font-medium gap-x-1.5 group hover:text-indigo-500 inline-flex text-base text-white"
                    aria-expanded="true" aria-haspopup="true" data-widget="popout-button" data-element="category-menu">
              <label class="ease-in font-medium group-hover:text-indigo-500 text-sm">{categoryLabel}</label>
              <DownChevronIcon />
            </button>
          </div>
        </div>}

        <div class="lg:hidden">
          <p class="block font-semibold py-2 px-3 text-lg text-white">{categoryLabel}</p>
        </div>

        <div
          class="menu-content-container lg:origin-top-left lg:opacity-0 lg:group-hover:opacity-100 lg:group-hover:scale-100 lg:scale-0 lg:z-10 lg:mr-3 lg:absolute lg:duration-300 menu-content lg:transition lg:bg-white lg:-mt-1 lg:outline-none lg:right-0 lg:rounded-md lg:shadow-xl lg:text-base lg:top-12 lg:w-48 dark:bg-slate-900 lg:overflow-hidden" tabindex="-1" id="category-menu">
          <ul class="mb-5 ml-4 lg:mb-0 lg:ml-0 lg:space-y-0 lg:flex lg:flex-col">
            {categoryItems && categoryItems.map((item ,idx) =>
              <li class:list={[
                "lg:border-l-0 lg:block lg:font-medium lg:px-0 dark:text-slate-100 lg:text-slate-700 lg:text-sm",
                "block border-l-2 border-slate-700 border-solid font-semibold hover:border-indigo-500 hover:border-l-2 hover:border-solid hover:ease-linear hover:transition-colors relative text-base text-white "
              ]}>
                <a class:list={[
                  idx === 0 ? "lg:mt-2" : "",
                  idx === categoryItems.length - 1 ? "lg:mb-2" : "",
                  "block w-full px-3 py-2 lg:mx-2 lg:w-[calc(100%-16px)] rounded-md",
                  "hover:bg-slate-100 dark:hover:bg-slate-800",
                  "hover:text-indigo-600 dark:hover:text-indigo-400 transition-colors"
                ]} href={item.href}>
                  {item.name}
                </a>
              </li>
            )}
          </ul>
        </div>
      </div>

      <div class="menu-group-container group lg:float-right lg:flex lg:flex-col lg:relative lg:mx-3 lg:h-full lg:justify-center">

        <div class="menu-button-container hidden lg:block">
          <div class="mb-1 text-base lg:mb-0">
            <button type="button" class="font-medium gap-x-1.5 group hover:text-indigo-500 inline-flex text-base text-white"
                    aria-expanded="true" aria-haspopup="true" data-widget="popout-button" data-element="more-menu">
              <label class="ease-in font-medium group-hover:text-indigo-500 text-sm">Resources</label>
              <DownChevronIcon />
            </button>
          </div>
        </div>

        <div class="lg:hidden">
          <p class="block font-semibold py-2 px-3 text-lg text-white">Resources</p>
        </div>

        <div
          class="menu-content-container menu-content absolute right-0 top-12 z-10 w-48 -mt-1 origin-top-right scale-0 opacity-0 transition duration-300 lg:group-hover:scale-100 lg:group-hover:opacity-100 bg-white dark:bg-slate-900 border border-slate-500 dark:border-slate-800 rounded-md shadow-xl lg:overflow-hidden outline-none"
          tabindex="-1" id="more-menu">
          
          <ul class="m-0 p-0 flex flex-col">
            {moreItems && moreItems.map((item) =>
              <li class="m-0 p-0 text-base font-semibold text-white lg:text-sm lg:font-medium lg:text-slate-700 dark:text-slate-200">
                <a class:list={[
                  "block w-full py-2 px-4 transition-colors",
                  "hover:bg-slate-800 lg:hover:bg-slate-100 dark:hover:bg-slate-800",
                  "hover:text-indigo-500 lg:hover:text-indigo-600 dark:hover:text-indigo-400"
                ]} href={item.href}
                >
                  {item.name}
                </a>
              </li>
            )}
          </ul>
        </div>

      </div>

      <hr class="border-slate-700 border-t-2 h-px lg:hidden"/>

      <div class="lg:hidden">
        <a href="/contact"
           class="block font-semibold hover:ease-linear hover:text-indigo-500 hover:transition-colors px-5 py-4 rounded-md text-base text-white">
          Talk To An Expert
        </a>
        <a href="https://account.fusionauth.io/account"
           class="block font-semibold hover:ease-linear hover:text-indigo-500 hover:transition-colors px-5 mb-4 rounded-md text-base text-white">
          Login
        </a>
      </div>
    </nav>

    <div class="flex items-center">
      {buttons && buttons.map(button =>
        <div class={button.mobile ? "" : "hidden lg:inline"}><NavButton name={button.key}/></div>
      )}
      <button type="button" id="mobile-menu-btn" aria-label="Show Menu" data-widget="visibility-button" data-element="header-nav"
              class="lg:hidden focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white hover:bg-gray-700 hover:text-white inline-flex items-center justify-center p-2 rounded-md text-gray-400"
              aria-controls="mobile-menu" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <MobileMenuIcon />
      </button>
    </div>

  </div>
  {!noSideNav &&
      <div id="nested-mobile-nav" class="flex mx-auto px-4 py-2 w-full lg:hidden sticky top-0 z-50 items-center">
        <div class="mr-2 flex items-center">
            <button data-widget="visibility-button" data-element="side-nav" class="flex h-7 w-7 hover:bg-gray-700 items-center justify-center rounded" aria-label="Show Menu">
                <MobileMenuIcon />
            </button>
        </div>
        
        <div class="flex-1 min-w-0 mr-4 overflow-x-auto no-scrollbar">
            <nav>
              <ul class="flex items-center m-0 p-0 whitespace-nowrap">
              {breadcrumbs && breadcrumbs.map((crumb, idx) => <>
                  <li class="font-medium hover:text-indigo-600 inline-block list-none text-slate-400 text-sm capitalize">
                    <a href={crumb.href}>{ specialCaps(crumb.title) }</a>
                  </li>
                  {(idx < breadcrumbs.length -1) && <span class="mx-2 text-slate-400">/</span>}
                </>
              )}
              </ul>
            </nav>
        </div>

        <div class="ml-auto flex items-center gap-2 shrink-0">
            {buttons && buttons.map(button =>
              <div class={`flex items-center h-7 ${button.mobile ? "" : "hidden lg:flex"}`}>
                <NavButton name={button.key}/>
              </div>
            )}
        </div>

    </div>
  }
</div>