---
import Icon from '../icon/Icon.astro';
import NavButton from './buttons/NavButton.astro';
import Search from "../search/Search.astro";
import { specialCaps } from '../../tools/string';

interface HeaderItem {
  name: string;
  href: string;
}

interface Button {
  key: string;
  mobile?: boolean;
}

interface Props {
  breadcrumbs?: any[];
  sectionTitle: string;
  sectionTitleHref: string;
  categoryItems: HeaderItem[];
  moreItems: HeaderItem[];
  categoryLabel: string;
  buttons: Button[];
  colorThemeOverride: string;
  noSideNav?: boolean;
}

const {sectionTitle, breadcrumbs, sectionTitleHref, categoryItems, moreItems, categoryLabel, buttons, colorThemeOverride, noSideNav}: Props = Astro.props;
---
<div class="bg-slate-900 block border-slate-600 border-b border-solid h-auto text-left lg:sticky top-0 z-50 xl:shadow-lg">
  <div class="flex justify-between max-w-8xl mx-auto px-4 py-2 2xl:container">

    <div class="flex place-items-center">
      <a href="/" class="ease-in mr-1 opacity-100 hover:opacity-70 transition-opacity">
        <img src="/img/logo/fa_logo_purple_orange.svg" alt="Logo" class={"h-12 " + (colorThemeOverride === "light" ? "inline" : colorThemeOverride === "dark" ? "hidden": "dark:hidden")}>
        <img src="/img/logo/fa_logo_white_orange.svg" alt="Logo" class={"h-12 " + (colorThemeOverride === "light" ? "hidden" : colorThemeOverride === "dark" ? "inline" : "dark:inline hidden")}>
      </a>
      <span class="font-light text-2xl text-slate-500">/</span>
      <a href={ sectionTitleHref }
         class="ease-in font-bold hover:text-slate-400 ml-2 text-2xl text-white tracking-tight transition-colors">
        <span>{ sectionTitle }</span>
      </a>
    </div>

    <nav id="header-nav"
         class="absolute hidden left-0 right-0 top-16 p-0 bg-slate-900 border-slate-700 border-b border-solid lg:border-none shadow-md lg:bg-transparent lg:flex lg:h-auto lg:items-center lg:ml-auto lg:p-0 lg:static lg:dark:bg-transparent z-50">

      <div class="menu-group-container group lg:float-left lg:flex lg:flex-col lg:relative lg:mx-3 lg:h-full lg:justify-center">
        <div class="menu-button-container hidden lg:block">
          <div class="mb-1 text-base lg:mb-0">
            <button type="button" class="font-medium gap-x-1.5 group hover:text-indigo-500 inline-flex text-base text-white"
                    aria-expanded="true" aria-haspopup="true" data-widget="popout-button" data-element="category-menu">
              <label class="ease-in font-medium group-hover:text-indigo-500 text-sm">{categoryLabel}</label>
              <Icon name="down-chevron"/>
            </button>
          </div>
        </div>

        <div class="lg:hidden">
          <p class="block font-semibold py-2 px-3 text-lg text-white">{categoryLabel}</p>
        </div>

        <div
          class="menu-content-container lg:origin-top-left lg:opacity-0 lg:group-hover:opacity-100 lg:group-hover:scale-100 lg:scale-0 lg:z-10 lg:mr-3 lg:absolute lg:duration-300 menu-content lg:transition lg:bg-white lg:-mt-1 lg:outline-none lg:right-0 lg:rounded-md lg:shadow-xl lg:text-base lg:top-12 lg:w-48"
          role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" id="category-menu">
          <ul class="mb-5 ml-4 lg:mb-0 lg:ml-0 lg:space-y-0 lg:flex lg:flex-col">
            {categoryItems && categoryItems.map((item ,idx) =>
              <li class:list={[
                "lg:border-l-0 lg:hover:border-l-0 lg:block lg:font-medium lg:hover:text-indigo-500 lg:px-0 lg:text-slate-700 lg:text-sm",
                "block border-l-2 border-slate-700 border-solid font-semibold hover:border-indigo-500 hover:border-l-2 hover:border-solid hover:ease-linear hover:text-indigo-500 hover:transition-colors relative text-base text-white"
              ]}>
                <a class:list={[
                  idx === 0 ? "lg:pt-4" : "lg:pt-2",
                  idx === categoryItems.length - 1 ? "lg:pb-4" : "lg:pb-2",
                  "block w-full px-3 lg:pl-4 py-2"]} href={item.href}
                >
                  {item.name}
                </a>
              </li>
            )}
          </ul>
        </div>
      </div>

      <div class="menu-group-container group lg:float-right lg:flex lg:flex-col lg:relative lg:mx-3 lg:h-full lg:justify-center">

        <div class="menu-button-container hidden lg:block">
          <div class="mb-1 text-base lg:mb-0">
            <button type="button" class="font-medium gap-x-1.5 group hover:text-indigo-500 inline-flex text-base text-white"
                    aria-expanded="true" aria-haspopup="true" data-widget="popout-button" data-element="more-menu">
              <label class="ease-in font-medium group-hover:text-indigo-500 text-sm">More</label>
              <Icon name="down-chevron"/>
            </button>
          </div>
        </div>

        <div class="lg:hidden">
          <p class="block font-semibold py-2 px-3 text-lg text-white">More</p>
        </div>

        <div
          class="menu-content-container lg:origin-top-right lg:opacity-0 lg:group-hover:opacity-100 lg:group-hover:scale-100 lg:scale-0 lg:z-10 lg:mr-3 lg:absolute lg:duration-300 menu-content lg:transition lg:bg-white lg:-mt-1 lg:outline-none lg:right-0 lg:rounded-md lg:shadow-xl lg:text-base lg:top-12 lg:w-48"
          role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" id="more-menu">
          <ul class="mb-5 ml-4 lg:mb-0 lg:ml-0 lg:space-y-0 lg:flex lg:flex-col">
            {moreItems && moreItems.map((item, idx) =>
              <li class:list={[
                "lg:border-l-0 lg:hover:border-l-0 lg:block lg:font-medium lg:hover:text-indigo-500 lg:px-0 lg:text-slate-700 lg:text-sm",
                "block border-l-2 border-slate-700 border-solid font-semibold hover:border-indigo-500 hover:border-l-2 hover:border-solid hover:ease-linear hover:text-indigo-500 hover:transition-colors relative text-base text-white"
              ]}>
                <a class:list={[
                  idx === 0 ? "lg:pt-4" : "lg:pt-2",
                  idx === categoryItems.length - 1 ? "lg:pb-4" : "lg:pb-2",
                  "block w-full px-3 lg:pl-4 py-2"]} href={item.href}
                >
                  {item.name}
                </a>
              </li>
            )}
          </ul>
        </div>

      </div>

      <hr class="border-slate-700 border-t-2 h-px lg:hidden"/>

      <div class="lg:hidden">
        <a href="/contact"
           class="block font-semibold hover:ease-linear hover:text-indigo-500 hover:transition-colors px-5 py-4 rounded-md text-base text-white">
          Talk To An Expert
        </a>
        <a href="https://account.fusionauth.io/account"
           class="block font-semibold hover:ease-linear hover:text-indigo-500 hover:transition-colors px-5 mb-4 rounded-md text-base text-white">
          Login
        </a>
      </div>
    </nav>

    <div class="flex items-center">
      {buttons && buttons.map(button =>
        <div class={button.mobile ? "" : "hidden lg:inline"}><NavButton name={button.key}/></div>
      )}
      <button type="button" id="mobile-menu-btn" data-widget="visibility-button" data-element="header-nav"
              class="lg:hidden focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white hover:bg-gray-700 hover:text-white inline-flex items-center justify-center p-2 rounded-md text-gray-400"
              aria-controls="mobile-menu" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <Icon name="mobile-menu"/>
      </button>
    </div>

  </div>
  {!noSideNav &&
      <div id="nested-mobile-nav" class="flex mx-auto px-4 py-2 w-auto lg:hidden items-center">
        <div class="mr-2 flex flex-col justify-center">
            <button data-widget="visibility-button" data-element="side-nav" class="flex h-7 hover:bg-gray-700 items-center justify-center mr-2 rounded w-7">
                <img src="/img/icons/icons8-menu-100.svg" class="fill-blue-600 stroke-slate-400 w-4">
            </button>
        </div>
        <div>
            <nav>
              <ul>
              {breadcrumbs && breadcrumbs.map((crumb, idx) => <>
                  <li class="font-medium hover:text-indigo-600 inline-block list-none text-slate-400 text-sm capitalize">
                    <a href={crumb.href}>{ specialCaps(crumb.title) }</a>
                  </li>
                  {(idx < breadcrumbs.length -1) && <span class="mx-2">/</span>}
                </>
              )}
              </ul>
            </nav>
        </div>
    </div>
  }
</div>
<Search/>
