---
import { Icon } from 'astro-iconify';

const { name, title } = Astro.props;

const Icons = {
  'address-card': { color: 'bg-gray-700', icon: 'address-card' },
  'copy': { color: 'bg-gray-700', icon: 'copy' },
  'edit': { color: 'bg-blue-500', icon: 'edit' },
  'exchange': { color: 'bg-gray-800', icon: 'exchange' },
  'fa-search': { color: 'bg-green-500', icon: 'search' },
  'key': { color: 'bg-gray-700', icon: 'key' },
  'lock-button': { color: 'bg-red-700', icon: 'lock' },
  'minus-circle': { color: 'bg-orange-400', icon: 'minus-circle' },
  'minus-circle-red': { color: 'bg-red-500', icon: 'minus-circle' },
  'plus': { color: 'bg-green-700', icon: 'plus' },
  'plus-circle': { color: 'bg-blue-500', icon: 'plus-circle' },
  'save': { color: 'bg-blue-500', icon: 'save' },
  'unlock-button': { color: 'bg-green-700', icon: 'unlock' }, // todo new icon
  'trash': { color: 'bg-red-700', icon: 'trash' },
  'trophy': { icon: 'trophy', wrap: false },
  'user': { color: 'bg-blue-900', icon: 'user' }, // todo new icon
  'undo': { color: 'bg-blue-900', icon: 'undo' }, // todo new icon
  'x': { color: 'bg-red-500', icon: 'times' },
};

if (!(name in Icons)) {
  console.warn(`Icon '${name}' not found in Icons dictionary`);
  return null;
}

const icon = Icons[name.toLowerCase()];
---
{icon.wrap === false ? (
  <Icon pack="fa7-solid" name={icon.icon} class="inline h-4 text-white align-[-0.125rem]" {title} />
) : (
  <span class={`${icon.color} py-1 px-2 rounded`}>
    <Icon pack="fa7-solid" name={icon.icon} class="inline h-4 text-white align-[-0.125rem]" {title} />
  </span>
)}
