---
import Layout from "../../../layouts/Quickstart.astro";
import Section from "../../../components/quickstarts/QuickstartSection.astro"
import { quickstartSections } from './quickstart-sections';
---

<Layout frontmatter={{disableTOC: true}} title="Quickstarts" description="Explore step-by-step quickstart guides from FusionAuth to seamlessly integrate authentication into your application." >
    <div class="block group rounded-lg">
        <div class="flex object-fill justify-between">
            <section>
                <p class="font-normal text-s">
Learn how you'd use FusionAuth to add authentication and authorization to an application in the framework or language of your choice in 15 minutes or less.
                </p>
                <p class="font-normal text-s">
Each quickstart includes a complete runnable application and a shell application you can build out by following the step-by-step integration instructions. Application examples include: <a href='#web-application'>traditional web applications</a>, <a href='#spa'>single-page applications</a>, <a href='#mobile-app'>mobile applications</a>, and <a href='#api'>APIs protected with access tokens</a>.
                </p>
                <p class="font-normal text-s">
These quickstarts help you rapidly evaluate FusionAuth and see how an integration works, rather than serve as a blueprint for integrating FusionAuth into your current system. For that, see the <a href='/docs/get-started/'>Getting Started</a> documentation.
                </p>
            </section>
            <img class="ml-50 my-0 h-28 lg:h-52 self-end" src="/img/icons/quickstart.svg" alt="quickstart">
        </div>
        <div class="flex object-fill justify-between">
            <section>
                <p class="font-normal text-s">
You'll need the following to work through any quickstarts.
                </p>
<ul>
<li>Git, for cloning the example repository</li>
<li>Docker, to run FusionAuth and its dependencies</li>
<li>An editor, to update files</li>
<li>The language, platform or framework; for example, XCode to run the iOS quickstart or Java for the Spring example</li>
</ul>
            </section>
        </div>

    </div>
  { quickstartSections && quickstartSections.map(section =>
      <div class="mb-7">
          <Section title={section.title} icon={section.icon} desc={section.desc} anchorTag={section.anchorTag} quickstarts={section.articles}/>
      </div>
  )}
</Layout>
