---
import Layout from "../../../layouts/Quickstart.astro";
import Section from "../../../components/quickstarts/QuickstartSection.astro"
import { quickstartSections } from './quickstart-sections';
---

<Layout frontmatter={{disableTOC: true}} title="Example Applications" description="Explore sample applications from FusionAuth to seamlessly integrate authentication into your application. Start building secure and scalable solutions in minutes." >
    <div class="block group rounded-lg">
        <div class="flex object-fill justify-between">
            <div class="flex flex-col justify-center">
                <h1 class="mb-0 font-extrabold text-3xl sm:leading-tight md:text-4xl lg:text-5xl">Get started</h1>
                <p class="font-normal text-s"><p>To get started with FusionAuth, a flexible and developer-focused customer identity and access management (CIAM) platform, you’ll go through the following steps to launch FusionAuth, configure it, and interact with it using a language of your choice for integrating authentication features.</p><p>The first step will be launching a FusionAuth instance, either on your own system or in the cloud. Expected time for this step:<ul><li>Gitpod: 2 minutes</li><li>Docker: 5 minutes if you have Docker and Docker Compose installed</li><li>Local: 5 minutes if you have postgres installed and running</li></ul></p><p>The second step will be to use one of the language frameworks or API interactions to set up authentication with FusionAuth for an application.  These example applications can be run directly from the provided code in about <b>5 minutes</b>, and instructions are also provided to build the application from scratch.  Let's get started!</p>
                <h1 class="mb-0 font-extrabold text-3xl sm:leading-tight md:text-4xl lg:text-5xl">Quickstarts</h1>
                <p class="font-normal text-s">To get started with FusionAuth, a flexible and developer-focused customer identity and access management (CIAM) platform, you’ll go through the following steps to launch FusionAuth, configure it, and interact with it using a language of your choice for integrating authentication features. The first step will be launching a FusionAuth instance, either on your own system or in the cloud.  The second step will be to use one of the language frameworks or API interactions to set up authentication with FusionAuth for an application.  Let's get started!</p>
            </div>
            <img class="ml-50 my-0 h-28 lg:h-52 self-end" src="/img/icons/quickstart.svg" alt="quickstart">
        </div>

    </div>
  { quickstartSections && quickstartSections.map(section =>
      <div class="mb-7">
          <Section title={section.title} icon={section.icon} desc={section.desc} anchorTag={section.anchorTag} quickstarts={section.articles}/>
      </div>
  )}
</Layout>
