---
import Layout from "../../../layouts/Quickstart.astro";
import Section from "../../../components/quickstarts/QuickstartSection.astro"
import Preamble from "../../../content/quickstarts/_landing-preamble.md";
import { quickstartSections } from './quickstart-sections';

const image = "/img/icons/quickstart.svg";

const title = 'FusionAuth Quickstarts';
const section = ''; // Change this to "Quickstarts" if you want to give the index page a different title;
---

<Layout frontmatter={{disableTOC: true}} {section} icon={image} darkIcon={image} {title} description="Explore step-by-step quickstart guides from FusionAuth to seamlessly integrate authentication into your application." >
  <Preamble/>
  { quickstartSections && quickstartSections.map(section =>
      <div class="mb-7">
          <Section title={section.title} icon={section.icon} desc={section.desc} anchorTag={section.anchorTag} quickstarts={section.articles}/>
      </div>
  )}
</Layout>
