---
import Layout from "../../../layouts/Quickstart.astro";
import Section from "../../../components/quickstarts/QuickstartSection.astro"
import { quickstartSections } from './quickstart-sections';
---

<Layout frontmatter={{disableTOC: true}} title="Quickstarts">
    <div class="block group rounded-lg">
        <div class="flex object-fill justify-between">
            <div class="flex flex-col justify-center">
                <h1 class="mb-0 font-extrabold text-3xl sm:leading-tight md:text-4xl lg:text-5xl">Quickstarts</h1>
                <p class="font-normal text-s">Step-by-step guides to quickly integrate FusionAuth into your application.</p>
            </div>
            <img class="ml-50 my-0 h-28 lg:h-52 self-end" src="/img/icons/quickstart.svg" alt="quickstart">
        </div>

    </div>
  { quickstartSections && quickstartSections.map(section =>
      <div class="mb-7">
          <Section title={section.title} icon={section.icon} desc={section.desc} anchorTag={section.anchorTag} quickstarts={section.articles}/>
      </div>
  )}
</Layout>
