---
import ClickableCard from "../../components/ClickableCard.astro";
import Layout from "../../layouts/Article.astro";

import { getCollection } from "astro:content";
const articles = await getCollection("articles");
let sections = [];
let indexPages = {};
for (const article of articles) {
	if (sections.indexOf(article.data.section) === -1) {
		sections.push(article.data.section);
	}

  if (article.id.endsWith("index.md") || article.id.endsWith("index.mdx")) {
    indexPages[article.data.section] = {
      dir: article.id.substring(0, article.id.indexOf("/")),
      icon: article.data.icon,
      darkIcon: article.data.darkIcon,
      description: article.data.description
    };
  }
}
sections.sort();
---

<Layout 
  frontmatter={{disableTOC: true}} 
  title="Articles" 
  excludeFromSearchIndex={true} 
  description="Explore FusionAuth's extensive collection of articles covering everything from identity management to user registration, login solutions, access control, and more. Stay informed with expert insights and the latest trends in user management.">
  <p>
    We love all things identity, access, login, registration, and pretty much everything to do with users. Rather than keep everything to ourselves,
    we figured it's much more fun to share it with the world.
    This section contains a plethora of articles to help you on your journey to being a user expert. Enjoy and happy coding!
  </p>
  <div class="gap-6 grid grid-cols-1 not-prose lg:grid-cols-2" xmlns="http://www.w3.org/1999/xhtml">
    {sections.map(section =>
      <ClickableCard href={`/articles/${indexPages[section].dir}/`} title={section} description={indexPages[section].description}
                     icon={indexPages[section].icon} darkIcon={indexPages[section].darkIcon}/>
    )}
  </div>
</Layout>
