---
import ClickableTile from "../../components/ClickableTile.astro";
import Layout from "../../layouts/Landing.astro";
import Hero from "../../heroes/DocLanding.astro";

import { getCollection } from "astro:content";
const articles = await getCollection("articles");
let sections = [];
for (const article of articles) {
	if (sections.indexOf(article.data.section) === -1) {
		sections.push(article.data.section);
	}
}
sections.sort();
---

<Layout title="Articles" description="FusionAuth employees are amazing sources of knowledge. We've collected some of their best content to share with you. Enjoy and happy coding!" Hero={Hero}>
	{sections.map(section =>
		<div>
			<h2 class="font-bold text-3xl">{section}</h2>
			<p class="mt-2 text-xl">
				These are clickable cards.
			</p>
			<div class="grid grid-cols-1 mt-10 gap-x-8 gap-y-4 md:grid-cols-2">
				{articles.filter(article => article.data.section === section && !article.data.excludeFromIndex).map(article =>
					<ClickableTile href={article.slug} icon="/img/icons/user-lock.svg" title={article.data.title} description={article.data.description}/>
				)}
			</div>
		</div>
	)}
</Layout>
