## Intro

{{page.feature_intro}}

Learn how to add {{page.feature}} functionality to your {{page.technology}} application. You'll use FusionAuth to augment your application to easily add {{page.feature_singular}}.

## Prequisites

You'll need to set up FusionAuth and a sample {{page.technology}} application. Please follow <a href="/docs/v1/tech/tutorials/integrate-{{page.technology_slug}}" target="_blank">this tutorial</a> to get that set up.

All done? Great. Let's get {{page.feature}} set up.

## Enable {{page.feature}}

Now, let's enable {{page.feature}}. Let's create another FusionAuth script, since to set up {{page.feature}}, all you need to do is tweak some FusionAuth configuration. First, go back to the `fusionauth-setup` directory:

```
cd ../setup-fusionauth
```

You'll use the same client library and API key, but run different commands.

Put the below code in `{{page.feature_config_script_location}}`.

```{{page.code_language}}
{% remote_include page.feature_config_script_content_location %}
```

You can run this:

```shell
{{page.feature_config_command}}
```

All done; you've enabled {{page.feature}} for your {{page.technology}} application.

## Manual Configuration

You can also configure {{page.feature}} manually by logging into the FusionAuth admin user interface and {{page.feature_manual_navigation}}.

{%capture alt_content%}Manually setting up {{page.feature}}.{%endcapture%}
{% include _image.liquid src=page.feature_image_file alt=alt_content class="img-fluid" figure=true %}

## Test It Out

Now, test to see that you have {{page.feature}} enabled for your application. Close any other incognito windows you have open and then open a new one. (This ensures you've logged out of the application.)

Visit [the {{page.technology}} application]({{page.sample_app_url}}) and log in again. Now, on the login page, you should see a {{page.feature_singular}} button.

## Next Steps

{{page.next_steps_text}}

[Learn more by visiting the developer docs](/docs/){:.button .brochure .orange .text-larger}

