<!DOCTYPE html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head>
  {% include _head.liquid %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://fusionauth.io{{ page.url | remove: '.html' }}"
      },
      "headline": "{{ page.title | strip_html }}",
      "description": "{{ page.description | strip_html }}",
      "image": "https://fusionauth.io/assets/img/{{ page.image }}",
      "author": {
        "@type": "Person",
        "name": "{{ page.author }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "FusionAuth",
        "logo": {
          "@type": "ImageObject",
          "url": "https://fusionauth.io/assets/img/fusionauth-logo-grey-orange.svg"
        }
      },
      "datePublished": "{{ page.date }}",
      "dateModified": "{{ page.dateModified }}"
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Expert Advice",
        "item": "https://fusionauth.io/learn/expert-advice/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ page.category }}",
        "item": "https://fusionauth.io/learn/expert-advice/{{ page.category | slugify }}/"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "{{ page.title }}",
        "item": "https://fusionauth.io{{ page.url | remove: '.html' }}"
      }]
    }
  </script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFGZT3Q" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% include _header.liquid gray=true %}
<main>
  <section class="light-gray blog">
    <div class="container">
      <div class="row center">
        <article class="col-xs-12 col-lg-9 white card">
          <h1>{{ page.title }}</h1>
          <div class="rw-ui-container" data-title="{{ page.url | replace: '.html', '' }}"></div>
          <div class="info">
            <div class="author-date">Tool written by {{ page.author }}</div>
            <div class="social-share-buttons">
              <a href="#https://www.facebook.com/sharer/sharer.php?u=https://fusionauth.io{{ page.url }}">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#https://twitter.com/intent/tweet?via=fusionauth&url=https://fusionauth.io{{ page.url }}">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#https://www.linkedin.com/shareArticle?mini=true&url=https://fusionauth.io{{ page.url }}&title={{ page.title | uri_escape }}&source=fusionauth.io">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
          <div class="post-body">
            {% if page.markdown == 1 %}
            {{ content | markdownify }}
            {% else %}
            {{ content }}
            {% endif %}
          </div>
          <div class="article-rating-block">
            <div class="article-rating">
              <p>
                Was this dev tool awesome? Click a star to rate it.
              </p>
              <div class="rw-ui-container" data-title="{{ page.url | replace: '.html', '' }}"></div>
            </div>
          </div>
          <div class="article-contribute">
            <p class="centered">
              Have an idea for a great dev tool? Submit a PR to our GitHub project at:
              <br/>
              <a href="https://github.com/fusionAuth/fusionauth-site">https://github.com/fusionAuth/fusionauth-site</a>
            </p>
          </div>
        </article>
        <aside class="col-xs-0 col-lg-3">
{% include _additional_resources.liquid %}
        </aside>
      </div>
    </div>
  </section>
</main>
{% include _footer.liquid %}
</body>
</html>
