<!DOCTYPE html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head>
  {% include _head.liquid %}
  <script type="application/ld+json">
    [{
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://fusionauth.io{{ page.url | remove: '.html' }}"
      },
      "headline": "{{ page.title | strip_html }}",
      "description": "{{ page.description | strip_html }}",
      "image": "https://fusionauth.io/assets/img/{{ page.image }}",
      "author": {
        "@type": "Person",
        "name": "{{ page.author }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "FusionAuth",
        "logo": {
          "@type": "ImageObject",
          "url": "https://fusionauth.io/assets/img/fusionauth-logo-grey-orange.png",
          "width": "1800",
          "height": "448"
        }
      },
      "datePublished": "{{ page.date }}",
      "dateModified": "{{ page.dateModified }}"
    },
    {
      "@context": "https://schema.org/",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Expert Advice",
        "item": "https://fusionauth.io/learn/expert-advice/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ page.category }}",
        "item": "https://fusionauth.io/learn/expert-advice/{{ page.category | slugify }}/"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "{{ page.title }}",
        "item": "https://fusionauth.io{{ page.url | remove: '.html' }}"
      }]
    }]
  </script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFGZT3Q" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% include _header.liquid gray=true %}
<main>
  <section class="white blog">
    <div class="container">
      <div class="row center">
        <article class="col-xs-12 col-lg-9">
          <img class="post-image" src="/assets/img/{{ page.image }}" alt="{{ page.description }}"/>
          <div class="info">
            <div class="author-date">{{ page.author }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ page.date | date_to_string: "ordinal", "US" }}</div>
            <div class="social-share-buttons">
              <a href="#https://www.facebook.com/sharer/sharer.php?u=https://fusionauth.io{{ page.url }}">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#http://twitter.com/intent/tweet?via=fusionauth&url=https://fusionauth.io{{ page.url }}">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#https://www.linkedin.com/shareArticle?mini=true&url=https://fusionauth.io{{ page.url }}&title={{ page.title | uri_escape }}&source=fusionauth.io">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
          <h1>{{ page.title }}</h1>
          <div class="rw-ui-container" data-title="{{ page.url | replace: '.html', '' }}"></div>
          <div class="post-body">
            {% if page.markdown == 1 %}
              {{ content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
          <div class="article-rating-block">
            <div class="article-rating">
              <p>
                Was this article awesome? Click a star to rate it.
              </p>
              <div class="rw-ui-container" data-title="{{ page.url | replace: '.html', '' }}"></div>
            </div>
          </div>
          <div class="post-body-comments">
            <div id="hyvor-talk-view"></div>
            <script type="text/javascript">
              var HYVOR_TALK_WEBSITE = 360; // DO NOT CHANGE THIS
              var HYVOR_TALK_CONFIG = {
                url: false,
                id: false
              };
            </script>
            <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
          </div>
        </article>
        <aside class="col-xs-0 col-lg-3">
          <h2>Additional Resources</h2>
          <ul>
            <li><a href="/learn/expert-advice/authentication/login-authentication-workflows">Authentication Workflows</a></li>
            <li><a href="/learn/expert-advice/security/guide-to-user-data-security">Guide to User Data Security</a></li>
            <li><a href="/learn/expert-advice/tokens/revoking-jwts">Revoking JWTs</a></li>
            <li><a href="/learn/expert-advice/dev-tools/index">Dev Tools</a></li>
          </ul>
          <div class="gray card centered">
            <img src="/assets/img/logo-white.svg" alt="FusionAuth logo">
            <p>
              FusionAuth provides authentication, authorization, and user management for any app: deploy anywhere, integrate with anything, in minutes.
            </p>
            <a href="/pricing" class="orange brochure button">GET STARTED</a>
          </div>
        </aside>
      </div>
    </div>
  </section>
</main>
{% include _footer.liquid %}
</body>
</html>
