<!DOCTYPE html>
<html lang="en">
<head>
  {% include _head.liquid %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Expert Advice",
        "item": "https://fusionauth.io/learn/expert-advice/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ page.category }}",
        "item": "https://fusionauth.io/learn/expert-advice/{{ page.category | slugify }}/"
      }]
    }
  </script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFGZT3Q" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% include _header.liquid %}

<main>
  <section class="blue main hero">
    <div class="container content">
      <div class="row">
        <div class="col-xs-12 col-lg-6 text">
          <img src="/assets/img/expert-advice.svg" alt="Expert Advice for Developers" class="white" width="300">
          <p>
            Learn everything you need to know about authentication, authorization, identity, and access management from our team of industry experts. Jump start your development and get back to building something awesome.
          </p>
        </div>
      </div>
    </div>
    <div class="hero-image top right">
      <img src="/assets/img/heroes/expert-advice.svg" alt="Expert Advice for Developers" class="callout">
    </div>
  </section>

  <section class="white">
    <div class="container">
      <div class="row center">
        <div class="col-xs-12 col-lg-7 centered">
          <h1>{{ page.title }}</h1>
          <p>
            {{ page.description }}
          </p>
        </div>
      </div>
      <div class="row">
      {% if page.markdown == 1 %}
        {{ content | markdownify }}
      {% else %}
        {{ content }}
      {% endif %}
      </div>
    </div>
  </section>

  <section class="white">
    <div class="container">
      {% include _resources.liquid %}
    </div>
  </section>

  {% include _built-for-devs.liquid %}
</main>

{% include _footer.liquid %}
</body>
</html>
