<!DOCTYPE html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head>
  {% include _head.liquid %}
</head>
<body>
{% include _header.liquid hero=page.heroHeader section="blog" %}
<main>

<section class="white blog">
  <div class="container">
    <div class="row center">
      <div class="col-xs-12 col-lg-7 centered">
        {% if page.type == 'month' %}
        <h1>Archive of posts from {{ page.date | date: "%B %Y" }}</h1>
        {% endif %}
        {% if page.type == 'tag' %}
        <h1>Posts tagged '{{ page.title }}'</h1>
        {% endif %}
        {% if page.type == 'category' %}
        <h1>{{ page.title | replace: '-',' ' | capitalize }} posts </h1>
        {% endif %}
      </div>
    </div>
    <ul class="listing">
      {% for post in page.posts %}
        <li>
          <div class="row blog-snippet">
            <div class="col-xs-12 col-lg-5">
              <a href="{{ post.url | replace: '.html', '' }}">
                <img src="/assets/img/{{ post.image }}" alt="{{ post.title }}">
              </a>
            </div>
            <div class="col-xs-12 col-lg-7">
              <a href="{{ post.url | replace: '.html', '' }}"><h2>{{ post.title }}</h2></a>
              <div class="author-date">{{ post.author }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ post.date | date_to_string: "ordinal", "US" }}</div>
              {{ post.excerpt }}
              <a href="{{ post.url | replace: '.html', '' }}" class="read-more">READ MORE <i class="fas fa-long-arrow-right"></i></a>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
    <div class="row">
      <div class="col-xs-12">
        <nav class="pagination">
          {% if paginator.page_trail %}
            <ul>
              <li>
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="white square button"><i class="fal fa-chevron-left fa-fw"></i></a>
              </li>
              {% for trail in paginator.page_trail %}
                <li>
                  <a href="{{ trail.path | prepend: site.baseurl | replace: 'index.html', '' }}" title="{{trail.title}}" class="white square button {% if page.url == trail.path %}active{% endif %}">{{ trail.num }}</a>
                </li>
              {% endfor %}
              <li>
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="white square button"><i class="fal fa-chevron-right fa-fw"></i></a>
              </li>
            </ul>
          {% endif %}
        </nav>
      </div>
    </div>
  </div>
</section>

</main>
{% include _footer.liquid %}
{% include _hubspot.liquid %}
</body>
</html>
