<!DOCTYPE html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head>
  {% include _head.liquid %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://fusionauth.io{{ page.url | remove: '.html' }}"
      },
      "headline": "{{ page.title }}",
      "description": "{{ page.description }}",
      "image": {
        "@type": "ImageObject",
        "url": "https://fusionauth.io/assets/img/{{ page.image }}"
      },
      "author": {
        "@type": "Person",
        "name": "{{ page.author }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "FusionAuth",
        "logo": {
          "@type": "ImageObject",
          "url": "https://fusionauth.io/assets/img/fusionauth-logo-grey-orange.png",
          "width": "1800",
          "height": "448"
        }
      },
      "datePublished": "{{ page.date | date: '%Y-%m-%d' }}",
      "dateModified": "{%if page.updated_date %}{{ page.updated_date| date: '%Y-%m-%d' }}{% else %}{{ page.date | date: '%Y-%m-%d' }}{% endif %}"
    }
  </script>
  <link rel="alternate" type="application/rss+xml" title="FusionAuth Blog Posts" href="{{ site.url }}/blog/feed.xml" />
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFGZT3Q" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% include _header.liquid heroHeader=false %}
<main>
  <section class="white blog">
    <div class="container">
      <div class="row center">
        <article class="col-xs-12 col-lg-9">
          <img class="post-image" src="/assets/img/{{ page.image }}" alt="{{ page.description }}"/>
          <div class="info">
            <div class="author-date">{{ page.author }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ page.date | date_to_string: "ordinal", "US" }} {%if page.updated_date%}| Most recently updated: {{ page.updated_date | date_to_string: "ordinal", "US" }}{%endif%}</div>
            <div class="social-share-buttons">
              <a href="#https://www.facebook.com/sharer/sharer.php?u=https://fusionauth.io{{ page.url }}">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#https://twitter.com/intent/tweet?via=fusionauth&url=https://fusionauth.io{{ page.url }}">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#https://www.linkedin.com/shareArticle?mini=true&url=https://fusionauth.io{{ page.url }}&title={{ page.title | uri_escape }}&source=fusionauth.io">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
          <h1>{{ page.title }}</h1>
          <div class="post-body">
            {% if page.markdown == 1 %}
              {{ content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
          <div class="post-body-comments">
            <div id="hyvor-talk-view"></div>
            <script type="text/javascript">
              var HYVOR_TALK_WEBSITE = 360; // DO NOT CHANGE THIS
              var HYVOR_TALK_CONFIG = {
                url: false,
                id: false
              };
            </script>
            <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
          </div>
        </article>
        <aside class="col-xs-0 col-lg-3">
          <h2>Recent Posts</h2>
          <ul>
            {% for post in site.posts limit: 4 %}
              <li><a href="{{ post.url | replace: '.html', '' }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
{% include _additional_resources.liquid %}
        </aside>
      </div>
    </div>
  </section>
</main>
{% include _footer.liquid %}
</body>
</html>
