<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
  <!--suppress HtmlRequiredTitleElement -->
  <head>
    {% include _head.liquid %}
    <script src="/assets/js/Documentation-0.1.0.js" defer></script>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=64120c16364ff0c493912814" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="/assets/js/fa-docs.js" defer></script>
    <style>
      /* Mobile layout overflow, we could move this into fusionauth-style */
      a, code {
        word-break: break-all;
      }
    </style>
  </head>
<body>
<div class="wf-doc-wrapper">
  {% include docs/_docs-header.liquid section="developer" %}
</div>
<main>
  <section class="white docs navigable">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 tight-both col-lg-3">
          <aside>
            <a href="#" class="sub-menu">Navigate to... <i class="fas fa-chevron-down fa-fw"></i></a>
            <nav>
              <ul>
                <li {% if page.url == "/docs/v1/tech/" %}class="active"{% endif %}><a href="/docs/v1/tech/">Welcome</a></li>
                <li {% if page.navcategory == "getting-started" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-road"></i> Getting Started<i class="fal fa-chevron-{% if page.navcategory == "getting-started" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                      <li {% if page.url == "/docs/v1/tech/getting-started/" %}class="active"{% endif %}><a href="/docs/v1/tech/getting-started/">Getting Started</a></li>
                    <li {% if page.url contains "5-minute" and page.navcategory == "getting-started" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">5-minute Setup Guide<i class="fal fa-chevron-{% if page.url contains "5-minute" and page.navcategory == "getting-started" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/5-minute-setup-guide.html" %}class="active"{% endif %}><a href="/docs/v1/tech/5-minute-setup-guide">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/getting-started/5-minute-docker.html" %}class="active"{% endif %}><a href="/docs/v1/tech/getting-started/5-minute-docker">Docker</a></li>
                        <li {% if page.url == "/docs/v1/tech/getting-started/5-minute-fastpath.html" %}class="active"{% endif %}><a href="/docs/v1/tech/getting-started/5-minute-fastpath">Fast Path</a></li>
                        <li {% if page.url == "/docs/v1/tech/getting-started/5-minute-sandbox.html" %}class="active"{% endif %}><a href="/docs/v1/tech/getting-started/5-minute-sandbox">Sandbox</a></li>
                      </ul>
                    </li>
                    <li {% if page.url == "/docs/v1/tech/tutorials/setup-wizard.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/setup-wizard">Setup Wizard & First Login</a></li>
                    <li {% if page.url == "/docs/v1/tech/tutorials/register-user-login-api.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/register-user-login-api">Register a User and Login</a></li>
                    <li {% if page.url == "/docs/v1/tech/guides/basic-registration-forms.html" %}class="active"{% endif %}><a href="/docs/v1/tech/guides/basic-registration-forms">Self-service Registration</a></li>
                    <li {% if page.url == "/docs/v1/tech/tutorials/start-and-stop.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/start-and-stop">Start and Stop FusionAuth</a></li>
                    <li {% if page.url contains "/core-concepts/" and page.navcategory == "getting-started" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Core Concepts <i class="fal fa-chevron-{% if page.url contains "/core-concepts/" and page.navcategory == "getting-started" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/core-concepts/" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/core-concepts/users.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/users">Users</a></li>
                        <li {% if page.url == "/docs/v1/tech/core-concepts/roles.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/roles">Roles</a></li>
                        <li {% if page.url == "/docs/v1/tech/core-concepts/groups.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/groups">Groups</a></li>
                        <li {% if page.url == "/docs/v1/tech/core-concepts/registrations.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/registrations">Registrations</a></li>
                        <li {% if page.url == "/docs/v1/tech/core-concepts/applications.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/applications">Applications</a></li>
                        <li {% if page.url == "/docs/v1/tech/core-concepts/tenants.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/tenants">Tenants</a></li>
                        <li {% if page.url == "/docs/v1/tech/core-concepts/identity-providers.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/identity-providers">Identity Providers</a></li>
                        <li {% if page.url == "/docs/v1/tech/core-concepts/authentication-authorization.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/authentication-authorization">Authentication/Authorization</a></li>
                        <li {% if page.url == "/docs/v1/tech/core-concepts/integration-points.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/integration-points">Integration Points</a></li>
                      </ul>
                    </li>
                    <li {% if page.url contains "/example-apps/" and page.navcategory == "getting-started" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Example Apps <i class="fal fa-chevron-{% if page.url contains "/example-apps/" and page.navcategory == "getting-started" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/example-apps/" %}class="active"{% endif %}><a href="/docs/v1/tech/example-apps/" >Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/example-apps/dart.html" %}class="active"{% endif %}><a href="/docs/v1/tech/example-apps/dart">Dart</a></li>
                        <li {% if page.url == "/docs/v1/tech/example-apps/go.html" %}class="active"{% endif %}><a href="/docs/v1/tech/example-apps/go">Go</a></li>
                        <li {% if page.url == "/docs/v1/tech/example-apps/java.html" %}class="active"{% endif %}><a href="/docs/v1/tech/example-apps/java">Java</a></li>
                        <li {% if page.url == "/docs/v1/tech/example-apps/javascript.html" %}class="active"{% endif %}><a href="/docs/v1/tech/example-apps/javascript">JavaScript</a></li>
                        <li {% if page.url == "/docs/v1/tech/example-apps/netcore.html" %}class="active"{% endif %}><a href="/docs/v1/tech/example-apps/netcore">.NET Core</a></li>
                        <li {% if page.url == "/docs/v1/tech/example-apps/php.html" %}class="active"{% endif %}><a href="/docs/v1/tech/example-apps/php">PHP</a></li>
                        <li {% if page.url == "/docs/v1/tech/example-apps/python.html" %}class="active"{% endif %}><a href="/docs/v1/tech/example-apps/python">Python</a></li>
                        <li {% if page.url == "/docs/v1/tech/example-apps/ruby.html" %}class="active"{% endif %}><a href="/docs/v1/tech/example-apps/ruby">Ruby</a></li>
                      </ul>
                    </li>
                    <li {% if page.url contains "/tutorials/" and page.navcategory == "getting-started" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Tutorials <i class="fal fa-chevron-{% if page.url contains "/tutorials/" and page.navcategory == "getting-started" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                      <li {% if page.url == "/docs/v1/tech/tutorials/" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/tutorials/integrate-angular.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/integrate-angular">Angular</a></li>
                        <li {% if page.url == "/docs/v1/tech/tutorials/integrate-dotnet.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/integrate-dotnet">C# .NET</a></li>
                        <li {% if page.url == "/docs/v1/tech/tutorials/integrate-dotnet-api.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/integrate-dotnet-api">.NET Core API</a></li>
                        <li {% if page.url == "/docs/quickstarts/quickstart-javascript-express-web.html" %}class="active"{% endif %}><a href="/docs/quickstarts/quickstart-javascript-express-web">Express.js</a></li>
                        <li {% if page.url == "/docs/v1/tech/tutorials/integrate-express-api.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/integrate-express-api">Express API</a></li>
                        <li {% if page.url == "/docs/v1/tech/tutorials/integrate-flutter.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/integrate-flutter">Flutter</a></li>
                        <li {% if page.url == "/docs/v1/tech/tutorials/integrate-java-spring.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/integrate-java-spring">Java Spring</a></li>
                        <li {% if page.url == "/docs/v1/tech/tutorials/integrate-laravel-api.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/integrate-laravel-api">Laravel API</a></li>
                        <li {% if page.url == "/docs/quickstarts/quickstart-python-django-web.html" %}class="active"{% endif %}><a href="/docs/quickstarts/quickstart-python-django-web">Python Django</a></li>
                        <li {% if page.url == "/docs/v1/tech/tutorials/integrate-python-flask.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/integrate-python-flask">Python Flask</a></li>
                        <li {% if page.url == "/docs/quickstarts/quickstart-javascript-react-web.html" %}class="active"{% endif %}><a href="/docs/quickstarts/quickstart-javascript-react-web">React</a></li>
                        <li {% if page.url == "/docs/v1/tech/tutorials/integrate-ruby-rails.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/integrate-ruby-rails">Ruby on Rails</a></li>
                        <li {% if page.url == "/docs/quickstarts/quickstart-ruby-on-rails-api.html" %}class="active"{% endif %}><a href="/docs/quickstarts/quickstart-ruby-on-rails-api">Ruby on Rails API</a></li>
                        <li {% if page.url == "/docs/quickstarts/quickstart-javascript-vue-web.html" %}class="active"{% endif %}><a href="/docs/quickstarts/quickstart-javascript-vue-web">Vue.js</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li {% if page.navcategory == "installation" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-download"></i> Installation Guide <i class="fal fa-chevron-{% if page.navcategory == "installation" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/">Overview</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/system-requirements.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/system-requirements">System Requirements</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/server-layout.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/server-layout">Server Layout</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/cloud.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/cloud">Cloud</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/cluster.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/cluster">Cluster</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/docker.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/docker">Docker</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/fast-path.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/fast-path">Fast Path</a></li>
                    <li {% if page.url contains "/docs/v1/tech/installation-guide/kubernetes/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Kubernetes <i class="fal fa-chevron-{% if page.url contains "/docs/v1/tech/installation-guide/kubernetes/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/installation-guide/kubernetes/" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/kubernetes/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/installation-guide/kubernetes/fusionauth-deployment.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/kubernetes/fusionauth-deployment">Deployment Guide</a></li>
                        <li {% if page.url == "/docs/v1/tech/installation-guide/kubernetes/setup/minikube.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/kubernetes/setup/minikube">Minikube Setup</a></li>
                        <li {% if page.url == "/docs/v1/tech/installation-guide/kubernetes/setup/eks.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/kubernetes/setup/eks">Amazon EKS Setup</a></li>
                        <li {% if page.url == "/docs/v1/tech/installation-guide/kubernetes/setup/gke.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/kubernetes/setup/gke">Google GKE Setup</a></li>
                        <li {% if page.url == "/docs/v1/tech/installation-guide/kubernetes/setup/aks.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/kubernetes/setup/aks">Microsoft AKS Setup</a></li>
                      </ul>
                    </li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/kickstart.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/kickstart">Kickstart&#8482;</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/homebrew.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/homebrew">Homebrew</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/marketplaces.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/marketplaces">Marketplaces</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/packages.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/packages">Packages</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/database.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/database">Database</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/fusionauth-app.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/fusionauth-app">FusionAuth App</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/fusionauth-search.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/fusionauth-search">FusionAuth Search</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/common-configuration.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/common-configuration">Common Configuration</a></li>
                  </ul>
                </li>
                <li {% if page.url contains "/migration-guide/" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-arrow-to-right"></i> Migration Guide <i class="fal fa-chevron-{% if page.url contains "/migration-guide/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/migration-guide/" %}class="active"{% endif %}><a href="/docs/v1/tech/migration-guide/">Overview</a></li>
                    <li {% if page.url == "/docs/v1/tech/migration-guide/general.html" %}class="active"{% endif %}><a href="/docs/v1/tech/migration-guide/general">General</a></li>
                    <li {% if page.url == "/docs/v1/tech/migration-guide/auth0.html" %}class="active"{% endif %}><a href="/docs/v1/tech/migration-guide/auth0">Auth0</a></li>
                    <li {% if page.url == "/docs/v1/tech/migration-guide/cognito.html" %}class="active"{% endif %}><a href="/docs/v1/tech/migration-guide/cognito">Amazon Cognito</a></li>
                    <li {% if page.url == "/docs/v1/tech/migration-guide/duende.html" %}class="active"{% endif %}><a href="/docs/v1/tech/migration-guide/duende">Duende IdentityServer</a></li>
                    <li {% if page.url == "/docs/v1/tech/migration-guide/firebase.html" %}class="active"{% endif %}><a href="/docs/v1/tech/migration-guide/firebase">Firebase</a></li>
                    <li {% if page.url == "/docs/v1/tech/migration-guide/keycloak.html" %}class="active"{% endif %}><a href="/docs/v1/tech/migration-guide/keycloak">Keycloak</a></li>
                    <li {% if page.url == "/docs/v1/tech/migration-guide/azureadb2c.html" %}class="active"{% endif %}><a href="/docs/v1/tech/migration-guide/azureadb2c">Microsoft Azure AD B2C</a></li>
                    <li {% if page.url == "/docs/v1/tech/migration-guide/supabase.html" %}class="active"{% endif %}><a href="/docs/v1/tech/migration-guide/supabase">Supabase</a></li>
                    <li {% if page.url == "/docs/v1/tech/migration-guide/tutorial.html" %}class="active"{% endif %}><a href="/docs/v1/tech/migration-guide/tutorial">Tutorial</a></li>
                  </ul>
                </li>
                <li {% if page.navcategory == "admin" or page.url contains "/admin-guide/" or page.url contains "/reference/" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-cogs"></i> Admin Guide <i class="fal fa-chevron-{% if page.url contains "/admin-guide/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/admin-guide/" %}class="active"{% endif %}><a href="/docs/v1/tech/admin-guide/">Overview</a></li>
                    <li {% if page.url == "/docs/v1/tech/admin-guide/account-portal.html" %}class="active"{% endif %}><a href="/docs/v1/tech/admin-guide/account-portal">Account Portal</a></li>
                    <li {% if page.url == "/docs/v1/tech/admin-guide/cli.html" %}class="active"{% endif %}><a href="/docs/v1/tech/admin-guide/cli">CLI</a></li>
                    <li {% if page.url == "/docs/v1/tech/admin-guide/configuration-management.html" %}class="active"{% endif %}><a href="/docs/v1/tech/admin-guide/configuration-management">Config Management</a></li>
                    <li {% if page.url == "/docs/v1/tech/core-concepts/editions-features.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/editions-features">Editions and Features</a></li>
                    <li {% if page.url == "/docs/v1/tech/tutorials/key-rotation.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/key-rotation">Key Rotation</a></li>
                    <li {% if page.url == "/docs/v1/tech/admin-guide/licensing.html" %}class="active"{% endif %}><a href="/docs/v1/tech/admin-guide/licensing">Licensing</a></li>
                    <li {% if page.url == "/docs/v1/tech/admin-guide/monitor.html" %}class="active"{% endif %}><a href="/docs/v1/tech/admin-guide/monitor">Monitoring</a></li>
                    <li {% if page.url == "/docs/v1/tech/tutorials/prometheus.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/prometheus">Prometheus Setup</a></li>
                    <li {% if page.url == "/docs/v1/tech/admin-guide/proxy-setup.html" %}class="active"{% endif %}><a href="/docs/v1/tech/admin-guide/proxy-setup">Proxy Setup</a></li>
                    <li {% if page.url contains "/reference/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Reference <i class="fal fa-chevron-{% if page.url contains "/reference/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/reference/" %}class="active"{% endif %}><a href="/docs/v1/tech/reference/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/reference/configuration.html" %}class="active"{% endif %}><a href="/docs/v1/tech/reference/configuration">Configuration</a></li>
                        <li {% if page.url == "/docs/v1/tech/reference/cors.html" %}class="active"{% endif %}><a href="/docs/v1/tech/reference/cors">CORS</a></li>
                        <li {% if page.url == "/docs/v1/tech/reference/data-types.html" %}class="active"{% endif %}><a href="/docs/v1/tech/reference/data-types">Data Types</a></li>
                        <li {% if page.url == "/docs/v1/tech/reference/cookies.html" %}class="active"{% endif %}><a href="/docs/v1/tech/reference/cookies">Hosted Login Pages Cookies</a></li>
                        <li {% if page.url == "/docs/v1/tech/reference/limitations.html" %}class="active"{% endif %}><a href="/docs/v1/tech/reference/limitations">Known Limitations</a></li>
                        <li {% if page.url == "/docs/v1/tech/reference/password-hashes.html" %}class="active"{% endif %}><a href="/docs/v1/tech/reference/password-hashes">Password Hashes</a></li>
                      </ul>
                    </li>
                    <li {% if page.url == "/docs/v1/tech/admin-guide/releases.html" %}class="active"{% endif %}><a href="/docs/v1/tech/admin-guide/releases">Releases</a></li>
                    <li {% if page.url == "/docs/v1/tech/core-concepts/roadmap.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/roadmap">Roadmap</a></li>
                    <li {% if page.url == "/docs/v1/tech/core-concepts/search.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/search">Search And FusionAuth</a></li>
                    <li {% if page.url == "/docs/v1/tech/admin-guide/securing.html" %}class="active"{% endif %}><a href="/docs/v1/tech/admin-guide/securing">Securing</a></li>
                    <li {% if page.url == "/docs/v1/tech/tutorials/switch-search-engines.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/switch-search-engines">Switch Search Engines</a></li>
                    <li {% if page.url == "/docs/v1/tech/admin-guide/technical-support.html" %}class="active"{% endif %}><a href="/docs/v1/tech/admin-guide/technical-support">Technical Support</a></li>
                    <li {% if page.url == "/docs/v1/tech/admin-guide/troubleshooting.html" %}class="active"{% endif %}><a href="/docs/v1/tech/admin-guide/troubleshooting">Troubleshooting</a></li>
                    <li {% if page.url == "/docs/v1/tech/admin-guide/upgrade.html" %}class="active"{% endif %}><a href="/docs/v1/tech/admin-guide/upgrade">Upgrading</a></li>
                    <li {% if page.url == "/docs/v1/tech/admin-guide/user-support-guide.html" %}class="active"{% endif %}><a href="/docs/v1/tech/admin-guide/user-support-guide">User Support Guide</a></li>
                    <li {% if page.url == "/docs/v1/tech/admin-guide/vulnerabilities.html" %}class="active"{% endif %}><a href="/docs/v1/tech/admin-guide/vulnerabilities">Vulnerabilities</a></li>
                    <li {% if page.url == "/docs/v1/tech/admin-guide/webauthn.html" %}class="active"{% endif %}><a href="/docs/v1/tech/admin-guide/webauthn">WebAuthn</a></li>
                  </ul>
                </li>
                <li {% if page.navcategory == "login-methods" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-user"></i> Login Methods <i class="fal fa-chevron-{% if page.navcategory == "login-methods" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                  <li {% if page.url contains "/tech/identity-providers/" %} class="open"{% endif %}>

                    <a href="#" class="sub-menu">Identity Providers <i class="fal fa-chevron-{% if page.url contains "/tech/identity-providers/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                    <ul>
                      <li {% if page.url == "/docs/v1/tech/identity-providers/" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/">Overview</a></li>
                      <li {% if page.url == "/docs/v1/tech/identity-providers/apple.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/apple"><i class="fab fa-fw fa-apple"></i> Apple</a></li>
                      <li {% if page.url == "/docs/v1/tech/identity-providers/epic-games.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/epic-games"><i class="fal fa-fw fa-joystick"></i> Epic Games</a></li>
                      <li {% if page.url contains "/identity-providers/external-jwt/" %} class="open"{% endif %}>
                        <a href="#" class="sub-menu">External JWT <i class="fal fa-chevron-{% if page.url contains "/docs/v1/tech/identity-providers/external-jwt/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                        <ul>
                          <li class="tertiary {% if page.url == "/docs/v1/tech/identity-providers/external-jwt/" %}active{% endif %}"><a href="/docs/v1/tech/identity-providers/external-jwt/">Overview</a></li>
                          <li class="tertiary {% if page.url == "/docs/v1/tech/identity-providers/external-jwt/example.html" %}active{% endif %}"><a href="/docs/v1/tech/identity-providers/external-jwt/example"><i class="fab fa-fw fa-rebel"></i> Example</a></li>
                        </ul>
                      </li>
                      <li {% if page.url == "/docs/v1/tech/identity-providers/facebook.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/facebook"><i class="fab fa-fw fa-facebook"></i> Facebook</a></li>
                      <li {% if page.url == "/docs/v1/tech/identity-providers/google.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/google"><i class="fab fa-fw fa-google"></i> Google</a></li>
                      <li {% if page.url == "/docs/v1/tech/identity-providers/hypr.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/hypr"><i class="fal fa-fw fa-fingerprint"></i> HYPR</a></li>
                      <li {% if page.url == "/docs/v1/tech/identity-providers/linkedin.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/linkedin"><i class="fab fa-fw fa-linkedin"></i> LinkedIn</a></li>
                      <li {% if page.url == "/docs/v1/tech/identity-providers/nintendo.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/nintendo"><i class="fal fa-fw fa-game-console-handheld"></i> Nintendo</a></li>
                      <li {% if page.url contains "/identity-providers/openid-connect/" %} class="open"{% endif %}>
                        <a href="#" class="sub-menu">OpenID Connect <i class="fal fa-chevron-{% if page.url contains "/identity-providers/openid-connect/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                        <ul>
                          <li class="tertiary {% if page.url == "/docs/v1/tech/identity-providers/openid-connect/" %}active{% endif %}"><a href="/docs/v1/tech/identity-providers/openid-connect/">Overview</a></li>
                          <li class="tertiary {% if page.url == "/docs/v1/tech/identity-providers/openid-connect/cognito.html" %}active{% endif %}"><a href="/docs/v1/tech/identity-providers/openid-connect/cognito"><i class="fab fa-fw fa-aws"></i> Amazon Cognito</a></li>
                          <li class="tertiary {% if page.url == "/docs/v1/tech/identity-providers/openid-connect/azure-ad.html" %}active{% endif %}"><a href="/docs/v1/tech/identity-providers/openid-connect/azure-ad"><i class="fab fa-fw fa-windows"></i> Azure AD</a></li>
                          <li class="tertiary {% if page.url == "/docs/v1/tech/identity-providers/openid-connect/discord.html" %}active{% endif %}"><a href="/docs/v1/tech/identity-providers/openid-connect/discord"><i class="fal fa-fw fa-gamepad"></i> Discord</a></li>
                          <li class="tertiary {% if page.url == "/docs/v1/tech/identity-providers/openid-connect/github.html" %}active{% endif %}"><a href="/docs/v1/tech/identity-providers/openid-connect/github"><i class="fab fa-fw fa-github-alt"></i> Github</a></li>
                          <li class="tertiary {% if page.url == "/docs/v1/tech/identity-providers/openid-connect/okta.html" %}active{% endif %}"><a href="/docs/v1/tech/identity-providers/openid-connect/okta"><i class="fab fa-fw fa-okta"></i> Okta</a></li>
                        </ul>
                      </li>
                      <li {% if page.url == "/docs/v1/tech/identity-providers/sony.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/sony"><i class="fab fa-fw fa-playstation"></i> Sony PlayStation Network</a></li>
                      <li {% if page.url == "/docs/v1/tech/identity-providers/steam.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/steam"><i class="fab fa-fw fa-steam"></i> Steam</a></li>
                      <li {% if page.url == "/docs/v1/tech/identity-providers/twitch.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/twitch"><i class="fab fa-fw fa-twitch"></i> Twitch</a></li>
                      <li {% if page.url == "/docs/v1/tech/identity-providers/twitter.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/twitter"><i class="fab fa-fw fa-twitter"></i> Twitter</a></li>
                      <li {% if page.url contains "/identity-providers/samlv2/" %} class="open"{% endif %}>
                        <a href="#" class="sub-menu">SAML v2 <i class="fal fa-chevron-{% if page.url contains "/identity-providers/samlv2/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                        <ul>
                          <li class="tertiary {% if page.url == "/docs/v1/tech/identity-providers/samlv2/" %}active{% endif %}"><a href="/docs/v1/tech/identity-providers/samlv2/">Overview</a></li>
                          <li class="tertiary {% if page.url == "/docs/v1/tech/identity-providers/samlv2/adfs.html" %}active{% endif %}"><a href="/docs/v1/tech/identity-providers/samlv2/adfs"><i class="fab fa-fw fa-windows"></i> ADFS</a></li>
                          <li class="tertiary {% if page.url == "/docs/v1/tech/identity-providers/samlv2/azure-ad.html" %}active{% endif %}"><a href="/docs/v1/tech/identity-providers/samlv2/azure-ad"><i class="fab fa-fw fa-windows"></i> Azure AD</a></li>
                          <li class="tertiary {% if page.url == "/docs/v1/tech/identity-providers/samlv2/okta-saml" %}active{% endif %}"><a href="/docs/v1/tech/identity-providers/samlv2/okta-saml"><i class="fab fa-fw fa-okta"></i> Okta</a></li>
                        </ul>
                      </li>
                      <li {% if page.url contains "/identity-providers/samlv2-idp-initiated/" %} class="open"{% endif %}>
                        <a href="#" class="sub-menu">SAML v2 IdP Initiated<i class="fal fa-chevron-{% if page.url contains "/identity-providers/samlv2-idp-initiated/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                        <ul>
                          <li class="tertiary {% if page.url == "/docs/v1/tech/identity-providers/samlv2-idp-initiated/" %}active{% endif %}"><a href="/docs/v1/tech/identity-providers/samlv2-idp-initiated/">Overview</a></li>
                          <li class="tertiary {% if page.url == "/docs/v1/tech/identity-providers/samlv2-idp-initiated/okta.html" %}active{% endif %}"><a href="/docs/v1/tech/identity-providers/samlv2-idp-initiated/okta">Okta</a></li>
                        </ul>
                      </li>
                      <li {% if page.url == "/docs/v1/tech/identity-providers/xbox.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/xbox"><i class="fab fa-fw fa-xbox"></i> Xbox</a></li>
                    </ul>
                  </li>
                  <li {% if page.url contains "/oauth/" or page.url contains "core-concepts/modes" %} class="open"{% endif %}>
                    <a href="#" class="sub-menu">OIDC & OAuth 2.0<i class="fal fa-chevron-{% if page.url contains "/oauth/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                    <ul>
                      <li {% if page.url == "/docs/v1/tech/oauth/" %}class="active"{% endif %}><a href="/docs/v1/tech/oauth/">Overview</a></li>
                      <li {% if page.url == "/docs/v1/tech/oauth/endpoints.html" %}class="active"{% endif %}><a href="/docs/v1/tech/oauth/endpoints">Endpoints</a></li>
                      <li {% if page.url == "/docs/v1/tech/oauth/tokens.html" %}class="active"{% endif %}><a href="/docs/v1/tech/oauth/tokens">Tokens</a></li>
                      <li {% if page.url == "/docs/v1/tech/core-concepts/modes.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/modes">OAuth Modes</a></li>
                      <li {% if page.url == "/docs/v1/tech/oauth/url-validation.html" %}class="active"{% endif %}><a href="/docs/v1/tech/oauth/url-validation">URL Validation</a></li>
                      <li {% if page.url contains "/docs/v1/tech/oauth/integrations/" %} class="open"{% endif %}>
                        <a href="#" class="sub-menu">Integrations<i class="fal fa-chevron-{% if page.url contains "/docs/v1/tech/oauth/integrations/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                        <ul>
                          <li class="tertiary {% if page.url == "/docs/v1/tech/oauth/integrations/cockroachdb.html" %}active{% endif %}"><a href="/docs/v1/tech/oauth/integrations/cockroachdb">CockroachDB</a></li>
                          <li class="tertiary {% if page.url == "/docs/v1/tech/oauth/integrations/salesforce.html" %}active{% endif %}"><a href="/docs/v1/tech/oauth/integrations/salesforce">Salesforce</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li {% if page.url contains "/tech/passwordless/" %} class="open"{% endif %}>
                    <a href="#" class="sub-menu">Passwordless <i class="fal fa-chevron-{% if page.url contains "/tech/samlv2/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                    <ul>
                      <li {% if page.url == "/docs/v1/tech/passwordless/" %}class="active"{% endif %}><a href="/docs/v1/tech/passwordless/">Overview</a></li>
                      <li {% if page.url == "/docs/v1/tech/passwordless/magic-links.html" %}class="active"{% endif %}><a href="/docs/v1/tech/passwordless/magic-links">Magic Links</a></li>
                      <li {% if page.url == "/docs/v1/tech/passwordless/webauthn-passkeys.html" %}class="active"{% endif %}><a href="/docs/v1/tech/passwordless/webauthn-passkeys">WebAuthn & Passkeys</a></li>
                    </ul>
                  </li>
                  <li {% if page.url contains "/tech/samlv2/" %} class="open"{% endif %}>
                    <a href="#" class="sub-menu">SAML v2 IdP <i class="fal fa-chevron-{% if page.url contains "/tech/samlv2/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                    <ul>
                      <li {% if page.url == "/docs/v1/tech/samlv2/" %}class="active"{% endif %}><a href="/docs/v1/tech/samlv2/">Overview</a></li>
                      <li {% if page.url == "/docs/v1/tech/samlv2/aiven.html" %}class="active"{% endif %}><a href="/docs/v1/tech/samlv2/aiven">Aiven</a></li>
                      <li {% if page.url == "/docs/v1/tech/samlv2/google.html" %}class="active"{% endif %}><a href="/docs/v1/tech/samlv2/google">Google</a></li>
                      <li {% if page.url == "/docs/v1/tech/samlv2/pagerduty.html" %}class="active"{% endif %}><a href="/docs/v1/tech/samlv2/pagerduty">PagerDuty</a></li>
                      <li {% if page.url == "/docs/v1/tech/samlv2/sendgrid.html" %}class="active"{% endif %}><a href="/docs/v1/tech/samlv2/sendgrid">SendGrid</a></li>
                      <li {% if page.url == "/docs/v1/tech/samlv2/tableau-cloud.html" %}class="active"{% endif %}><a href="/docs/v1/tech/samlv2/tableau-cloud">Tableau Cloud</a></li>
                      <li {% if page.url == "/docs/v1/tech/samlv2/zendesk.html" %}class="active"{% endif %}><a href="/docs/v1/tech/samlv2/zendesk">Zendesk</a></li>
                    </ul>
                  </li>
                  </ul>
                </li>
                <li {% if page.navcategory == "developer" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-laptop-code"></i> Developer Guide<i class="fal fa-chevron-{% if page.navcategory == "developer" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/developer-guide/" %}class="active"{% endif %}><a href="/docs/v1/tech/developer-guide/">Overview</a></li>
                    <li {% if page.url contains "/api-gateways/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">API Gateways <i class="fal fa-chevron-{% if page.url contains "/api-gateways/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/developer-guide/api-gateways/" %}class="active"{% endif %}><a href="/docs/v1/tech/developer-guide/api-gateways/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/developer-guide/api-gateways/aws-api-gateway.html" %}class="active"{% endif %}><a href="/docs/v1/tech/developer-guide/api-gateways/aws-api-gateway">Amazon API Gateway</a></li>
                        <li {% if page.url == "/docs/v1/tech/developer-guide/api-gateways/haproxy-api-gateway.html" %}class="active"{% endif %}><a href="/docs/v1/tech/developer-guide/api-gateways/haproxy-api-gateway">HAProxy</a></li>
                        <li {% if page.url == "/docs/v1/tech/developer-guide/api-gateways/kong-gateway.html" %}class="active"{% endif %}><a href="/docs/v1/tech/developer-guide/api-gateways/kong-gateway">Kong Gateway</a></li>
                        <li {% if page.url == "/docs/v1/tech/developer-guide/api-gateways/ngrok-cloud-edge.html" %}class="active"{% endif %}><a href="/docs/v1/tech/developer-guide/api-gateways/ngrok-cloud-edge">ngrok Cloud Edge</a></li>
                      </ul>
                    </li>
                    <li {% if page.url contains "/client-libraries/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Client Libraries & SDKs <i class="fal fa-chevron-{% if page.url contains "/client-libraries/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/client-libraries/" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/client-libraries/angular-sdk.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/angular-sdk">Angular</a></li>
                        <li {% if page.url == "/docs/v1/tech/client-libraries/dart.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/dart">Dart</a></li>
                        <li {% if page.url == "/docs/v1/tech/client-libraries/go.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/go">Go</a></li>
                        <li {% if page.url == "/docs/v1/tech/client-libraries/java.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/java">Java</a></li>
                        <li {% if page.url == "/docs/v1/tech/client-libraries/javascript.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/javascript">JavaScript</a></li>
                        <li {% if page.url == "/docs/v1/tech/client-libraries/netcore.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/netcore">.NET Core</a></li>
                        <li {% if page.url == "/docs/v1/tech/client-libraries/node.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/node">Node</a></li>
                        <li {% if page.url == "/docs/v1/tech/client-libraries/openapi.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/openapi">OpenAPI</a></li>
                        <li {% if page.url == "/docs/v1/tech/client-libraries/php.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/php">PHP</a></li>
                        <li {% if page.url == "/docs/v1/tech/client-libraries/python.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/python">Python</a></li>
                        <li {% if page.url == "/docs/v1/tech/client-libraries/react-sdk.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/react-sdk">React</a></li>
                        <li {% if page.url == "/docs/v1/tech/client-libraries/ruby.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/ruby">Ruby</a></li>
                        <li {% if page.url == "/docs/v1/tech/client-libraries/typescript.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/typescript">Typescript</a></li>
                        <li {% if page.url == "/docs/v1/tech/client-libraries/vue-sdk.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/vue-sdk">Vue</a></li>
                      </ul>
                    </li>
                    <li {% if page.url contains "/events-webhooks/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Events & Webhooks <i class="fal fa-chevron-{% if page.url contains "/events-webhooks/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/events-webhooks/" %}class="active"{% endif %}><a href="/docs/v1/tech/events-webhooks/" >Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/events-webhooks/writing-a-webhook.html" %}class="active"{% endif %}><a href="/docs/v1/tech/events-webhooks/writing-a-webhook" >Writing a Webhook</a></li>
                        <li {% if page.url == "/docs/v1/tech/events-webhooks/securing.html" %}class="active"{% endif %}><a href="/docs/v1/tech/events-webhooks/securing" >Securing Webhooks</a></li>
                        <li {% if page.url == "/docs/v1/tech/events-webhooks/signing.html" %}class="active"{% endif %}><a href="/docs/v1/tech/events-webhooks/signing" >Signing Webhooks</a></li>
                        <li {% if page.url contains "/events-webhooks/events/" %} class="open"{% endif %}>
                          <a href="#" class="sub-menu"> Events <i class="fal fa-chevron-{% if page.url contains "/events-webhooks/events/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                          <ul>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/">Overview</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/audit-log-create.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/audit-log-create">Audit Log Create</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/event-log-create.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/event-log-create">Event Log Create</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/jwt-public-key-update.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/jwt-public-key-update">JWT Public Key Update</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/jwt-refresh.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/jwt-refresh">JWT Refresh</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/jwt-refresh-token-revoke.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/jwt-refresh-token-revoke">JWT Refresh Token Revoke</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/kickstart-success.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/kickstart-success">Kickstart Success</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/group-create.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/group-create">Group Create</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/group-create-complete.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/group-create-complete">Group Create Complete</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/group-delete.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/group-delete">Group Delete</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/group-delete-complete.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/group-delete-complete">Group Delete Complete</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/group-update.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/group-update">Group Update</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/group-update-complete.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/group-update-complete">Group Update Complete</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/group-member-add.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/group-member-add">Group Member Add</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/group-member-add-complete.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/group-member-add-complete">Group Member Add Complete</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/group-member-remove.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/group-member-remove">Group Member Remove</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/group-member-remove-complete.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/group-member-remove-complete">Group Member Remove Complete</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/group-member-update.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/group-member-update">Group Member Update</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/group-member-update-complete.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/group-member-update-complete">Group Member Update Complete</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-actions.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-actions">User Action</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-bulk-create.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-bulk-create">User Bulk Create</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-create.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-create">User Create</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-create-complete.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-create-complete">User Create Complete</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-deactivate.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-deactivate">User Deactivate</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-delete.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-delete">User Delete</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-delete-complete.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-delete-complete">User Delete Complete</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-email-update.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-email-update">User Email Update</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-email-verified.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-email-verified">User Email Verified</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-identity-provider-link.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-identity-provider-link">User IdP Link</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-identity-provider-unlink.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-identity-provider-unlink">User IdP Unlink</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-login-failed.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-login-failed">User Login Failed</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-login-id-duplicate-create.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-login-id-duplicate-create">User Login Id Dup. Create</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-login-id-duplicate-update.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-login-id-duplicate-update">User Login Id Dup. Update</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-login-new-device.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-login-new-device">User Login New Device</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-login-success.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-login-success">User Login Success</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-login-suspicious.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-login-suspicious">User Login Suspicious</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-password-breach.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-password-breach">User Password Breach</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-password-reset-send.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-password-reset-send">User Password Reset Send</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-password-reset-start.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-password-reset-start">User Password Reset Start</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-password-reset-success.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-password-reset-success">User Password Reset Success</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-password-update.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-password-update">User Password Update</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-reactivate.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-reactivate">User Reactivate</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-registration-create.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-registration-create">User Reg. Create</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-registration-create-complete.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-registration-create-complete">User Reg. Create Complete</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-registration-delete.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-registration-delete">User Reg. Delete</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-registration-delete-complete.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-registration-delete-complete">User Reg. Delete Complete</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-registration-update.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-registration-update">User Reg. Update</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-registration-update-complete.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-registration-update-complete">User Reg. Update Complete</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-registration-verified.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-registration-verified">User Reg. Verified</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-two-factor-method-add.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-two-factor-method-add">User 2FA Method Add</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-two-factor-method-remove.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-two-factor-method-remove">User 2FA Method Remove</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-update.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-update">User Update</a></li>
                            <li class="tertiary {% if page.url == "/docs/v1/tech/events-webhooks/events/user-update-complete.html" %}active{% endif %}"><a href="/docs/v1/tech/events-webhooks/events/user-update-complete">User Update Complete</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li {% if page.url contains "/guides/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Guides <i class="fal fa-chevron-{% if page.url contains "/guides/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/guides/" %}class="active"{% endif %}><a href="/docs/v1/tech/guides/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/guides/anonymous-user.html" %}class="active"{% endif %}><a href="/docs/v1/tech/guides/anonymous-user">Anonymous Users</a></li>
                        <li {% if page.url == "/docs/v1/tech/guides/configuring-application-specific-email-templates.html" %}class="active"{% endif %}><a href="/docs/v1/tech/guides/configuring-application-specific-email-templates">Application Specific Email Templates</a></li>
                        <li {% if page.url == "/docs/v1/tech/tutorials/application-authentication-tokens.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/application-authentication-tokens">Authentication Tokens</a></li>
                        <li {% if page.url == "/docs/v1/tech/developer-guide/exposing-instance.html" %}class="active"{% endif %}><a href="/docs/v1/tech/developer-guide/exposing-instance">Exposing A Local Instance</a></li>
                        <li {% if page.url == "/docs/v1/tech/tutorials/json-web-tokens.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/json-web-tokens">JSON Web Tokens</a></li>
                        <li {% if page.url == "/docs/v1/tech/core-concepts/key-master.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/key-master">Key Master</a></li>
                        <li {% if page.url == "/docs/v1/tech/core-concepts/localization-and-internationalization.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/localization-and-internationalization">Localization and Internationalization</a></li>
                        <li {% if page.url == "/docs/v1/tech/guides/multi-factor-authentication.html" %}class="active"{% endif %}><a href="/docs/v1/tech/guides/multi-factor-authentication">Multi-Factor Authentication</a></li>
                        <li {% if page.url == "/docs/v1/tech/guides/multi-tenant.html" %}class="active"{% endif %}><a href="/docs/v1/tech/guides/multi-tenant">Multi-Tenant</a></li>
                        <li {% if page.url == "/docs/v1/tech/guides/passwordless.html" %}class="active"{% endif %}><a href="/docs/v1/tech/guides/passwordless">Passwordless</a></li>
                        <li {% if page.url == "/docs/v1/tech/guides/registration-email-verification.html" %}class="active"{% endif %}><a href="/docs/v1/tech/guides/registration-email-verification">Registration-based Email Verification</a></li>
                        <li {% if page.url == "/docs/v1/tech/guides/user-search-with-elasticsearch.html" %}class="active"{% endif %}><a href="/docs/v1/tech/guides/user-search-with-elasticsearch">Searching With Elasticsearch</a></li>
                        <li {% if page.url == "/docs/v1/tech/guides/api-authorization.html" %}class="active"{% endif %}><a href="/docs/v1/tech/guides/api-authorization">Securing Your APIs</a></li>
                        <li {% if page.url == "/docs/v1/tech/guides/silent-mode.html" %}class="active"{% endif %}><a href="/docs/v1/tech/guides/silent-mode">Silent Mode</a></li>
                        <li {% if page.url == "/docs/v1/tech/guides/single-sign-on.html" %}class="active"{% endif %}><a href="/docs/v1/tech/guides/single-sign-on">Single Sign-on</a></li>
                        <li {% if page.url contains "/tutorials/two-factor.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/two-factor/">Two Factor (pre 1.26)</a></li>
                        <li {% if page.url == "/docs/v1/tech/guides/user-actions.html" %}class="active"{% endif %}><a href="/docs/v1/tech/guides/user-actions">User Actions</a></li>
                      </ul>
                    </li>
                    <li {% if page.url contains "/integrations/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Integrations <i class="fal fa-chevron-{% if page.url contains "/integrations/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/integrations/" %}class="active"{% endif %}><a href="/docs/v1/tech/integrations/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/integrations/cleanspeak.html" %}class="active"{% endif %}><a href="/docs/v1/tech/integrations/cleanspeak">CleanSpeak</a></li>
                        <li {% if page.url == "/docs/v1/tech/integrations/kafka.html" %}class="active"{% endif %}><a href="/docs/v1/tech/integrations/kafka">Kafka</a></li>
                        <li {% if page.url == "/docs/v1/tech/integrations/twilio.html" %}class="active"{% endif %}><a href="/docs/v1/tech/integrations/twilio">Twilio</a></li>
                      </ul>
                    </li>
                    <li {% if page.url contains "/plugins/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Plugins <i class="fal fa-chevron-{% if page.url contains "/plugins/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/plugins/" %}class="active"{% endif %}><a href="/docs/v1/tech/plugins/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/plugins/writing-a-plugin.html" %}class="active"{% endif %}><a href="/docs/v1/tech/plugins/writing-a-plugin">Writing a Plugin</a></li>
                        <li {% if page.url == "/docs/v1/tech/plugins/custom-password-hashing.html" %}class="active"{% endif %}><a href="/docs/v1/tech/plugins/custom-password-hashing">Custom Password Hashing</a></li>
                      </ul>
                    </li>
                    <li {% if page.url contains "/gating/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">User Control & Gating<i class="fal fa-chevron-{% if page.url contains "/gating/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/tutorials/gating/" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/gating/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/tutorials/gating/gate-accounts-until-user-email-verified.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/gating/gate-accounts-until-user-email-verified">Gate Unverified Users</a></li>
                        <li {% if page.url == "/docs/v1/tech/tutorials/gating/registration-gate-accounts-until-verified.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/gating/registration-gate-accounts-until-verified">Gate Unverified Registrations</a></li>
                        <li {% if page.url == "/docs/v1/tech/tutorials/gating/setting-up-user-account-lockout.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/gating/setting-up-user-account-lockout">User Account Lockout</a>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li {% if page.navcategory == "customization" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-palette"></i> Customization <i class="fal fa-chevron-{% if page.navcategory == "customization" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url contains "/email-templates/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Email & Templates <i class="fal fa-chevron-{% if page.url contains "/email-templates/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/email-templates/" %}class="active"{% endif %}><a href="/docs/v1/tech/email-templates/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/email-templates/configure-email.html" %}class="active"{% endif %}><a href="/docs/v1/tech/email-templates/configure-email">Configure Email</a></li>
                        <li {% if page.url == "/docs/v1/tech/email-templates/email-templates.html" %}class="active"{% endif %}><a href="/docs/v1/tech/email-templates/email-templates">Email Templates</a></li>
                        <li {% if page.url == "/docs/v1/tech/email-templates/templates-replacement-variables.html" %}class="active"{% endif %}><a href="/docs/v1/tech/email-templates/templates-replacement-variables">Email Variables</a></li>
                        <li {% if page.url == "/docs/v1/tech/email-templates/message-templates.html" %}class="active"{% endif %}><a href="/docs/v1/tech/email-templates/message-templates">Message Templates</a></li>
                      </ul>
                    </li>
                    <li {% if page.url contains "/lambdas/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Lambdas <i class="fal fa-chevron-{% if page.url contains "/lambdas/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/lambdas/" %}class="active"{% endif %}><a href="/docs/v1/tech/lambdas/">Overview</a></li>
                        {% comment %}Don't add a new lambda here. Add it to the site/_data/lambdas.yaml file and the menu item will be generated.{% endcomment %}
                        {% assign lambdas = site.data.lambdas | sort: 'displayName' %}
                        {% for lambda in lambdas %}
                          {% assign pageLink = lambda.docLink | append: ".html" %}
                          <li {% if page.url == pageLink %}class="active"{% endif %}><a href="{{lambda.docLink}}"><i class="fa-fw {{lambda.menuIcon}}"></i> {%if lambda.shortDisplayName%}{{lambda.shortDisplayName}}{%else%}{{lambda.displayName}}{%endif%}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                    <li {% if page.url contains "/messengers/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Messengers <i class="fal fa-chevron-{% if page.url contains "/messengers/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/messengers/" %}class="active"{% endif %}><a href="/docs/v1/tech/messengers/" >Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/messengers/generic-messenger.html" %}class="active"{% endif %}><a href="/docs/v1/tech/messengers/generic-messenger">Generic Messenger</a></li>
                        <li {% if page.url == "/docs/v1/tech/messengers/twilio-messenger.html" %}class="active"{% endif %}><a href="/docs/v1/tech/messengers/twilio-messenger">Twilio Messenger</a></li>
                      </ul>
                    </li>
                    <li {% if page.url contains "/themes/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Themes <i class="fal fa-chevron-{% if page.url contains "/themes/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/themes/" %}class="active"{% endif %}><a href="/docs/v1/tech/themes/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/themes/client-side-password-rule-validation.html" %}class="active"{% endif %}><a href="/docs/v1/tech/themes/client-side-password-rule-validation">Client-side Password Validation</a></li>
                        <li {% if page.url == "/docs/v1/tech/themes/examples.html" %}class="active"{% endif %}><a href="/docs/v1/tech/themes/examples">Examples</a></li>
                        <li {% if page.url == "/docs/v1/tech/themes/helpers.html" %}class="active"{% endif %}><a href="/docs/v1/tech/themes/helpers">Helpers</a></li>
                        <li {% if page.url == "/docs/v1/tech/themes/kickstart-custom-theme.html" %}class="active"{% endif %}><a href="/docs/v1/tech/themes/kickstart-custom-theme">Kickstart Custom Theme</a></li>
                        <li {% if page.url == "/docs/v1/tech/themes/localization.html" %}class="active"{% endif %}><a href="/docs/v1/tech/themes/localization">Localization</a></li>
                        <li {% if page.url == "/docs/v1/tech/themes/template-variables.html" %}class="active"{% endif %}><a href="/docs/v1/tech/themes/template-variables">Template Variables</a></li>
                        <li {% if page.url == "/docs/v1/tech/themes/tailwind.html" %}class="active"{% endif %}><a href="/docs/v1/tech/themes/tailwind">Tailwind CSS</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li {% if page.navcategory == "premium" %} class="open"{% endif %}>
                 <a href="#" class="sub-menu"><i class="fal fa-fw fa-dollar-sign"></i> Premium Features <i class="fal fa-chevron-{% if page.navcategory == "premium" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/premium-features/" %}class="active"{% endif %}><a href="/docs/v1/tech/premium-features/">Overview</a></li>
                    {% comment %}Don't forget to add a new premium to the site/_data/features.yaml file.{% endcomment %}
                    <li {% if page.url == "/docs/v1/tech/guides/advanced-registration-forms.html" %}class="active"{% endif %}><a href="/docs/v1/tech/guides/advanced-registration-forms">Advanced Registration Forms</a></li>
                    <li {% if page.url == "/docs/v1/tech/advanced-threat-detection/" %}class="active"{% endif %}><a href="/docs/v1/tech/advanced-threat-detection/">Advanced Threat Detection</a></li>
                    <li {% if page.url == "/docs/v1/tech/themes/application-specific-themes.html" %}class="active"{% endif %}><a href="/docs/v1/tech/themes/application-specific-themes">Application Specific Themes</a></li>
                    <li {% if page.url == "/docs/v1/tech/guides/breached-password-detection.html" %}class="active"{% endif %}><a href="/docs/v1/tech/guides/breached-password-detection">Breached Password Detection</a></li>
                    <li {% if page.url contains "/connectors/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Connectors <i class="fal fa-chevron-{% if page.url contains "/connectors/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/connectors/" %}class="active"{% endif %}><a href="/docs/v1/tech/connectors/" >Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/connectors/generic-connector.html" %}class="active"{% endif %}><a href="/docs/v1/tech/connectors/generic-connector">Generic Connector</a></li>
                        <li {% if page.url == "/docs/v1/tech/connectors/ldap-connector.html" %}class="active"{% endif %}><a href="/docs/v1/tech/connectors/ldap-connector">LDAP Connector</a></li>
                        <li {% if page.url == "/docs/v1/tech/connectors/fusionauth-connector.html" %}class="active"{% endif %}><a href="/docs/v1/tech/connectors/fusionauth-connector">FusionAuth Connector</a></li>
                      </ul>
                    </li>
                    <li {% if page.url == "/docs/v1/tech/core-concepts/entity-management.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/entity-management">Entity Management</a></li>
                    <li {% if page.url contains "scim" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">SCIM <i class="fal fa-chevron-{% if page.url contains "scim" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/core-concepts/scim.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/scim">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/premium-features/scim/scim-azure-ad.html" %}class="active"{% endif %}><a href="/docs/v1/tech/premium-features/scim/azure-ad-client">Azure AD Client</a></li>
                        <li {% if page.url == "/docs/v1/tech/premium-features/scim/scim-okta.html" %}class="active"{% endif %}><a href="/docs/v1/tech/premium-features/scim/okta-client">Okta Client</a></li>
                        <li {% if page.url == "/docs/v1/tech/premium-features/scim/scim-sdk.html" %}class="active"{% endif %}><a href="/docs/v1/tech/premium-features/scim/scim-sdk">SCIM-SDK</a></li>
                      </ul>
                    </li>
                    <li {% if page.url contains "/account-management/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Self Service Account Mgmt<i class="fal fa-chevron-{% if page.url contains "/account-management/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/account-management/" %}class="active"{% endif %}><a href="/docs/v1/tech/account-management/" >Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/account-management/updating-user-data.html" %}class="active"{% endif %}><a href="/docs/v1/tech/account-management/updating-user-data">Updating User Data & Password</a></li>
                        <li {% if page.url == "/docs/v1/tech/account-management/two-factor-authenticator.html" %}class="active"{% endif %}><a href="/docs/v1/tech/account-management/two-factor-authenticator">Add Two-Factor Authenticator</a></li>
                        <li {% if page.url == "/docs/v1/tech/account-management/two-factor-email.html" %}class="active"{% endif %}><a href="/docs/v1/tech/account-management/two-factor-email">Add Two-Factor Email</a></li>
                        <li {% if page.url == "/docs/v1/tech/account-management/two-factor-sms.html" %}class="active"{% endif %}><a href="/docs/v1/tech/account-management/two-factor-sms">Add Two-Factor SMS</a></li>
                        <li {% if page.url == "/docs/v1/tech/account-management/add-webauthn.html" %}class="active"{% endif %}><a href="/docs/v1/tech/account-management/add-webauthn">Add WebAuthn Passkey</a></li>
                        <li {% if page.url == "/docs/v1/tech/account-management/customizing-account-management.html" %}class="active"{% endif %}><a href="/docs/v1/tech/account-management/customizing-account-management">Customizing</a></li>
                        <li {% if page.url == "/docs/v1/tech/account-management/bootstrapping-login.html" %}class="active"{% endif %}><a href="/docs/v1/tech/account-management/bootstrapping-login">Bootstrapping Login</a></li>
                        <li {% if page.url == "/docs/v1/tech/account-management/troubleshooting.html" %}class="active"{% endif %}><a href="/docs/v1/tech/account-management/troubleshooting">Troubleshooting</a></li>
                      </ul>
                    </li>
                    <li {% if page.url == "/docs/v1/tech/premium-features/webauthn/" %}class="active"{% endif %}><a href="/docs/v1/tech/premium-features/webauthn/">WebAuthn</a></li>
                  </ul>
                </li>


                <li {% if page.url contains "/apis/" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-code"></i> APIs <i class="fal fa-chevron-{% if page.url contains "/apis/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/apis/" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/">Overview</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/authentication.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/authentication">Authentication</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/errors.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/errors">Errors</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/api-explorer.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/api-explorer">API Explorer</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/actioning-users.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/actioning-users">Actioning Users</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/api-keys.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/api-keys">API Keys</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/applications.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/applications">Applications</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/audit-logs.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/audit-logs">Audit Logs</a></li>
                    <li {% if page.url contains "/apis/connectors/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Connectors <i class="fal fa-chevron-{% if page.url contains "/apis/connectors" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/apis/connectors/" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/connectors/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/connectors/generic.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/connectors/generic">Generic</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/connectors/ldap.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/connectors/ldap">LDAP</a></li>
                      </ul>
                    </li>
                    <li {% if page.url == "/docs/v1/tech/apis/consents.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/consents">Consents</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/emails.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/emails">Emails</a></li>
                    <li {% if page.url contains "/apis/entity-management/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Entity Management <i class="fal fa-chevron-{% if page.url contains "/apis/entity-management" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/apis/entity-management/" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/entity-management/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/entity-management/entities.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/entity-management/entities">Entities</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/entity-management/entity-types.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/entity-management/entity-types">Entity Types</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/entity-management/grants.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/entity-management/grants">Grants</a></li>
                      </ul>
                    </li>
                    <li {% if page.url == "/docs/v1/tech/apis/event-logs.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/event-logs">Event Logs</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/families.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/families">Families</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/forms.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/forms">Forms</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/form-fields.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/form-fields">Form Fields</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/groups.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/groups">Groups</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/hosted-backend.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/hosted-backend">Hosted Backend</a></li>
                    <li {% if page.url contains "/apis/identity-providers/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Identity Providers <i class="fal fa-chevron-{% if page.url contains "/apis/identity-providers" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/links.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/links">Links</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/apple.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/apple"><i class="fab fa-fw fa-apple"></i> Apple</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/external-jwt.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/external-jwt"><i class="fab fa-fw fa-empire"></i> External JWT</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/epicgames.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/epicgames"><i class="fal fa-fw fa-joystick"></i> Epic Games</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/facebook.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/facebook"><i class="fab fa-fw fa-facebook"></i> Facebook</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/google.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/google"><i class="fab fa-fw fa-google"></i> Google</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/hypr.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/hypr"><i class="fal fa-fw fa-fingerprint"></i> HYPR</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/linkedin.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/linkedin"><i class="fab fa-fw fa-linkedin"></i> LinkedIn</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/nintendo.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/nintendo"><i class="fal fa-fw fa-game-console-handheld"></i> Nintendo</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/openid-connect.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/openid-connect"><i class="fab fa-fw fa-openid"></i> OpenID Connect</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/samlv2.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/samlv2"><i class="fal fa-fw fa-id-badge"></i> SAML v2</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/samlv2-idp-initiated.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/samlv2-idp-initiated"><i class="fal fa-fw fa-id-badge"></i> SAML v2 IdP Initiated</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/sonypsn.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/sonypsn"><i class="fab fa-fw fa-playstation"></i> Sony PlayStation Network</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/steam.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/steam"><i class="fab fa-fw fa-steam"></i> Steam</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/twitch.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/twitch"><i class="fab fa-fw fa-twitch"></i> Twitch</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/twitter.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/twitter"><i class="fab fa-fw fa-twitter"></i> Twitter</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/xbox.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/xbox"><i class="fab fa-fw fa-xbox"></i> Xbox</a></li>
                      </ul>
                    </li>
                    <li {% if page.url == "/docs/v1/tech/apis/integrations.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/integrations">Integrations</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/ip-acl.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/ip-acl">IP Access Control Lists</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/jwt.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/jwt">JWT</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/keys.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/keys">Keys</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/lambdas.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/lambdas">Lambdas</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/login.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/login">Login</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/message-templates.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/message-templates">Message Templates</a></li>
                    <li {% if page.url contains "/apis/messengers/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Messengers <i class="fal fa-chevron-{% if page.url contains "/apis/messengers" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/apis/messengers/" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/messengers/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/messengers/generic.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/messengers/generic">Generic</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/messengers/twilio.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/messengers/twilio">Twilio</a></li>
                      </ul>
                    </li>
                    <li {% if page.url == "/docs/v1/tech/apis/two-factor.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/two-factor">Multi-Factor/Two Factor</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/passwordless.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/passwordless">Passwordless</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/reactor.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/reactor">Reactor</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/registrations.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/registrations">Registrations</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/reports.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/reports">Reports</a></li>
                    <li {% if page.url contains "/apis/scim/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">SCIM <i class="fal fa-chevron-{% if page.url contains "/apis/scim" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/apis/scim/" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/scim/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/scim/SCIMUser.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/scim/SCIMUser">SCIM User</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/scim/SCIMGroup.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/scim/SCIMGroup">SCIM Group</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/scim/SCIMEnterpriseUser.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/scim/SCIMEnterpriseUser">SCIM EnterpriseUser</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/scim/SCIMServiceProvider.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/scim/SCIMServiceProvider">SCIM Service Provider Config.</a></li>
                      </ul>
                    </li>
                    <li {% if page.url == "/docs/v1/tech/apis/system.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/system">System</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/tenants.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/tenants">Tenants</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/themes.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/themes">Themes</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/users.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/users">Users</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/user-actions.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/user-actions">User Actions</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/user-action-reasons.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/user-action-reasons">User Action Reasons</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/user-comments.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/user-comments">User Comments</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/webauthn.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/webauthn">WebAuthn</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/webhooks.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/webhooks">Webhooks</a></li>
                  </ul>
                </li>
                <li {% if page.url == "/docs/v1/tech/release-notes.html" or page.url == "/docs/v1/tech/archive/release-notes.html"  %}class="active"{% endif %}><a href="/docs/v1/tech/release-notes"><i class="fal fa-fw fa-list-ol"></i> Release Notes</a>
              </ul>
            </nav>
          </aside>
        </div>
        <div class="col-xs-12 col-lg-9">
          <article>
            <div id="scroll-nav">
              <div><a href="#"><i class="fad fa-bars"></i></a></div>
              <ul></ul>
            </div>

            <h1>{{ page.title }}</h1>
            {% if page.markdown == 1 %}
              {{ content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}

            {% if page.skipFeedback != 1 %}
            <div>
              <h3>Feedback</h3>
              <h4>How helpful was this page?</h4>
		          <div class="rw-ui-container" data-title="{{ page.url }}"></div>
              <h4>See a problem?</h4>
      	      <p>
		            <a href="https://github.com/FusionAuth/fusionauth-site/issues">File an issue in our docs repo</a>
	      </p>
              <h4>Have a question or comment to share?</h4>
      	      <p>
		 Visit the <a href="/community/forum/">FusionAuth community forum</a>.
	      </p>
            </div>
            {% endif %}
            <div id="scroll-top">
              <div><a href="#"><i class="fad fa-chevron-circle-up"></i></a></div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</main>
{% include _footer.liquid %}
</body>
</html>
