<!DOCTYPE html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head>
  <script type="application/ld+json">
    {
      "@context" : "https://schema.org/",
      "@type" : "JobPosting",
      "title" : "{{ page.title }}",
      "description" : "{{ page.description }}",
      "identifier": {
        "@type": "PropertyValue",
        "name": "FusionAuth",
        "value": "{{ page.id }}"
      },
      "datePosted" : "{{ page.datePosted }}",
      "validThrough" : "{{ page.dateValidThrough }}",
      "employmentType" : "FULL_TIME",
      "hiringOrganization" : {
        "@type" : "Organization",
        "name" : "FusionAuth",
        "sameAs" : "https://fusionauth.io",
        "logo" : "https://fusionauth.io/assets/imgs/logo-gray.svg"
      },
      "jobLocation": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "1630 Welton Street Suite 600A",
          "addressLocality": "Denver",
          "addressRegion": "CO",
          "postalCode": "80202",
          "addressCountry": "US"
        }
      },
      "baseSalary": {
        "@type": "MonetaryAmount",
        "currency": "USD",
        "value": {
          "@type": "QuantitativeValue",
          "value": {{ page.baseSalary }},
          "unitText": "YEAR"
        }
      }
    }
  </script>
  {% include _head.liquid %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFGZT3Q" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% include _header.liquid gray=true %}
<main class="job">
  <section class="gray">
    <div class="container">
      <div class="row center">
        <div class="col-xs-12 centered">
          <i class="fas fa-lightbulb-on fa-4x"></i>
          <h1>{{ page.title }}</h1>
          <p class="info"><i class="fas fa-users-class"></i> <span>{{ page.department }}</span> <i class="fas fa-globe"></i> Denver, CO</p>
        </div>
      </div>
    </div>
  </section>
  <section class="white">
    <div class="container">
      <div class="row center">
        <article class="col-xs-12">
          {% if page.markdown == 1 %}
            {{ content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </article>
        <div class="apply">
          <p>
            Want to apply for this job position? Email us at <a href="mailto:jobs@fusionauth.io">jobs@fusionauth.io</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
{% include _footer.liquid %}
</body>
</html>
