---
import ClickableCard from "../components/ClickableLandingCard.astro";
const { title = "", subtitle = "" } = Astro.props;
const appTypes = [
    {
        "title": "Web Application",
        "description": "Traditional web applications that run on servers",
        "footer": "e.g. Express.js, Rails, Java, Drupal",
        "icon": "/img/icons/website-application.svg",
        "href": "/docs/quickstarts/#web-application"
    },
    {
        "title": "Single-Page App",
        "description": "JavaScript web app that runs in the browser",
        "footer": "e.g. Angular, React, Vue",
        "icon": "/img/icons/dl-single-page-app.svg",
        "href": "/docs/quickstarts/#spa"
    },
    {
        "title": "Native/Mobile App",
        "description": "Mobile application that runs natively on a device",
        "footer": "e.g. iOS, Android",
        "icon": "/img/icons/mobile-native-applications.svg",
        "href": "/docs/quickstarts/#mobile-app"
    },
    {
        "title": "Backend/API",
        "description": "An API or service protected by FusionAuth and access tokens",
        "footer": "e.g. Rails, .NET, Spring",
        "icon": "/img/icons/dl-backend-api.svg",
        "href": "/docs/quickstarts/#api"
    }
];
---
<header class="bg-[center_left_150px] bg-cover bg-local bg-no-repeat bg-hero"><!--bg-no-repeat bg-pos-hero bg-white">-->
  <div class="bg-cover bg-gradient-to-l bg-opacity-50 bg-slate-900 from-blue-800 mx-auto px-4 py-16 via-indigo-700/40 lg:h-96">
    <div class="2xl:relative container lg:px-10 lg:relative lg:top-12 mx-auto px-10 xl:px-20">
    <h1 class="font-extrabold text-4xl text-white">{title}</h1>
    <p class="font-medium pt-3 text-Slate-200 text-lg text-slate-400">{subtitle}</p>

    <div class="2xl:gap-8 container gap-16 grid grid-cols-1 lg:gap-5 lg:grid-cols-4 md:grid-cols-2 mt-10 mx-auto sm:grid-cols-2">
      {appTypes.map((app) =>
        <ClickableCard description={app.description} footer={app.footer} href={app.href} icon={app.icon} title={app.title} />
      )}
    </div>
    </div>
  </div>
</header>
