---
import Kickstart from 'src/components/download/Kickstart.astro';
import {Content as DockerCompose} from "./docker-compose.mdx";
import {Content as Docker} from "./docker.mdx";
import {Content as Macintosh} from "./macos.mdx";
import {Content as Homebrew} from "./homebrew.mdx";
import {Content as Linux} from "./linux.mdx";
import {Content as Debian} from "./debian.mdx";
import {Content as RedHat} from "./redhat.mdx";
import {Content as Windows} from "./windows.mdx";
import {Content as Helm} from "./helm.mdx";
import {Content as GKE} from "./gke.mdx";
import {Content as EKS} from "./eks.mdx";
import {Content as AKS} from "./aks.mdx";
import {Content as CLI} from "./cli.mdx";
import {Content as Minikube} from "./minikube.mdx";
import '../../css/style.css';

const {kickstartEnabled, kickstartName, kickstartCustomizationInstructions = new Array()} = Astro.props;

const anchorClass = 'border-b border-b-indigo-400 text-indigo-400 hover:text-indigo-400 hover:border-b-2';
const tabClass = "bg-indigo-950 border border-slate-700 flex-1 overflow-hidden rounded-lg text-sm";
const subTabClass = "block border-b-2 border-transparent prose font-semibold px-7 py-3 text-md text-slate-400 group-[.active]:border-indigo-400 group-[.active]:text-white";
---
<div class="download-widget-v2">
  <div class="bg-indigo-900 flex gap-3 mb-10 p-3 rounded-2xl experiment hidden">
    <ul class="bg-indigo-950 border not-prose border-slate-700 flex flex-col gap-1 p-2 rounded-lg text-[13px]">
      <li class:list="group active">
        <a data-tab-button href="#docker" class="border border-transparent items-center not-prose flex gap-2 rounded-md px-4 py-2 text-slate-400 group-[.active]:border-indigo-500 group-[.active]:bg-indigo-800 hover:bg-indigo-900 hover:text-orange-400">
          <img src="/img/icons/download/docker.svg" alt="Docker" class="m-0 p-0 w-7"/>
          <span class="text-nowrap">"Docker"</span>
        </a>
      </li>
      <li class:list="group">
        <a data-tab-button href="#cli" class="border border-transparent items-center not-prose flex gap-2 rounded-md px-4 py-2 text-slate-400 group-[.active]:border-indigo-500 group-[.active]:bg-indigo-800 hover:bg-indigo-900 hover:text-orange-400">
          <img src="/img/icons/download/cli.svg" alt="FusionAuth CLI" class="m-0 p-0 w-7"/>
          <span class="text-nowrap">"FusionAuth CLI"</span>
        </a>
      </li>
    </ul>
    <div data-tab-content id="docker" class:list={[tabClass, "active"]}>
      <div data-tab-content id="docker" class="m-8">
        <h2 class="mb-4 text-2xl">Docker</h2>
        <DockerCompose/>
      </div>
    </div>


    <div data-tab-content id="cli" class:list={[tabClass, "hidden"]}>
      <div data-tab-content id="fusionauth-cli" class="m-8">
        <h2 class="mb-4 text-2xl">FusionAuth CLI</h2>
        <CLI/>
      </div>
    </div>
  </div>


  <div class="bg-indigo-900 flex gap-3 mb-10 p-3 rounded-2xl control">
    <ul class="bg-indigo-950 border not-prose border-slate-700 flex flex-col gap-1 p-2 rounded-lg text-[13px]">
      <li class:list="group active">
        <a data-tab-button href="#docker-control" class="border border-transparent items-center not-prose flex gap-2 rounded-md px-4 py-2 text-slate-400 group-[.active]:border-white hover:bg-slate-800 hover:text-indigo-400">
          <img src="/img/icons/download/docker.svg" alt="Docker" class="m-0 p-0 w-7"/>
          <span class="text-nowrap">Docker</span>
        </a>
      </li>
      <li class:list="group">
        <a data-tab-button href="#kubernetes-control" class="border border-transparent items-center not-prose flex gap-2 rounded-md px-4 py-2 text-slate-400 group-[.active]:border-white hover:bg-slate-800 hover:text-indigo-400">
          <img src="/img/icons/download/kubernetes.svg" alt="Kubernetes" class="m-0 p-0 w-7"/>
          <span class="text-nowrap">Kubernetes</span>
        </a>
      </li>
      <li class:list="group">
        <a data-tab-button href="#macos-control" class="border border-transparent items-center not-prose flex gap-2 rounded-md px-4 py-2 text-slate-400 group-[.active]:border-white hover:bg-slate-800 hover:text-indigo-400">
          <img src="/img/icons/download/macos.svg" alt="macOS" class="m-0 p-0 w-7"/>
          <span class="text-nowrap">macOS</span>
        </a>
      </li>
      <li class:list="group">
        <a data-tab-button href="#linux-control" class="border border-transparent items-center not-prose flex gap-2 rounded-md px-4 py-2 text-slate-400 group-[.active]:border-white hover:bg-slate-800 hover:text-indigo-400">
          <img src="/img/icons/download/linux.svg" alt="Linux" class="m-0 p-0 w-7"/>
          <span class="text-nowrap">Linux</span>
        </a>
      </li>
      <li class:list="group">
        <a data-tab-button href="#windows-control" class="border border-transparent items-center not-prose flex gap-2 rounded-md px-4 py-2 text-slate-400 group-[.active]:border-white hover:bg-slate-800 hover:text-indigo-400">
          <img src="/img/icons/download/windows.svg" alt="Windows" class="m-0 p-0 w-7"/>
          <span class="text-nowrap">Windows</span>
        </a>
      </li>
      <li class:list="group">
        <a data-tab-button href="#marketplaces-control" class="border border-transparent items-center not-prose flex gap-2 rounded-md px-4 py-2 text-slate-400 group-[.active]:border-white hover:bg-slate-800 hover:text-indigo-400">
          <img src="/img/icons/download/marketplace.svg" alt="Marketplaces" class="m-0 p-0 w-7"/>
          <span class="text-nowrap">Marketplaces</span>
        </a>
      </li>
    </ul>
    <div data-tab-content id="docker-control" class:list={[tabClass, "active"]}>
      <ul class="flex mt-3 mx-4" style="list-style-type: none;">
        <li class="group active"><a data-tab-button href="#docker-compose-control" class={subTabClass}>Docker Compose</a></li>
        <li class="group"><a data-tab-button href="#docker-vanilla-control" class={subTabClass}>Docker</a></li>
      </ul>
      <div data-tab-content id="docker-compose-control" class="m-8">
        <h2 class="mb-4 text-2xl">Docker Compose</h2>
        <DockerCompose/>
      </div>
      <div data-tab-content id="docker-vanilla-control" class="hidden m-8">
        <h2 class="mb-4 text-2xl">Docker</h2>
        <Docker/>
      </div>
    </div>


    <div data-tab-content id="macos-control" class:list={[tabClass, "hidden"]}>
      <ul class="flex mt-3 mx-4" style="list-style-type: none;">
        <li class="group active"><a data-tab-button href="#homebrew-control" class={subTabClass}>Homebrew</a></li>
        <li class="group"><a data-tab-button href="#package-control" class={subTabClass}>Package</a></li>
      </ul>
      <div data-tab-content id="homebrew-control" class="m-8">
        <h2 class="mb-4 text-2xl">Homebrew</h2>
        <Homebrew/>
      </div>
      <div data-tab-content id="package-control" class="hidden m-8">
        <h2 class="mb-4 text-2xl">macOS package</h2>
        <Macintosh/>
      </div>
    </div>


    <div data-tab-content id="linux-control" class:list={[tabClass, "hidden"]}>
      <ul class="flex mt-3 mx-4" style="list-style-type: none;">
        <li class="group active"><a data-tab-button href="#linux-inner-control" class={subTabClass}>Linux</a></li>
        <li class="group"><a data-tab-button href="#debian-control" class={subTabClass}>Debian</a></li>
        <li class="group"><a data-tab-button href="#redhat-control" class={subTabClass}>Red Hat</a></li>
      </ul>
      <div data-tab-content id="linux-inner-control" class="m-8">
        <h2 class="mb-4 text-2xl">Package</h2>
        <Linux/>
      </div>
      <div data-tab-content id="debian-control" class="hidden m-8">
        <h2 class="mb-4 text-2xl">Debian</h2>
        <Debian/>
      </div>
      <div data-tab-content id="redhat-control" class="hidden m-8">
        <h2 class="mb-4 text-2xl">Red Hat</h2>
        <RedHat/>
      </div>
    </div>


    <div data-tab-content id="windows-control" class:list={[tabClass, "hidden"]}>
      <ul class="flex mt-3 mx-4" style="list-style-type: none;">
        <li class="group active"><a data-tab-button href="#windows-fast-path-control" class={subTabClass}>Fast Path</a></li>
        <li class="group"><a data-tab-button href="#windows-wsl2-control" class={subTabClass}>WSL v2</a></li>
      </ul>
      <div data-tab-content id="windows-fast-path-control" class="m-8">
        <h2 class="mb-4 text-2xl">Windows</h2>
        <Windows/>
      </div>
      <div data-tab-content id="windows-wsl2-control" class="hidden m-8">
        <h2 class="mb-4 text-2xl">Windows Subsystem for Linux 2</h2>
        <p class="mb-6">
          Follow the <a href="https://docs.microsoft.com/en-us/windows/wsl/about" class={anchorClass}>Microsoft documentation to install Debian/Ubuntu using WSL 2</a> and then follow the Linux install directions by clicking the Linux tab above.
        </p>
      </div>
    </div>

    <div data-tab-content id="kubernetes-control" class:list={[tabClass, "hidden"]}>
      <ul class="flex mt-3 mx-4" style="list-style-type: none;">
        <li class="group active"><a data-tab-button href="#helm-package-control" class={subTabClass}>Helm</a></li>
        <li class="group"><a data-tab-button href="#kubernetes-minikube-control" class={subTabClass}>minikube</a></li>
        <li class="group"><a data-tab-button href="#kubernetes-google-control" class={subTabClass}>GKE (Google)</a></li>
        <li class="group"><a data-tab-button href="#kubernetes-microsoft-control" class={subTabClass}>AKS (Microsoft/Azure)</a></li>
        <li class="group"><a data-tab-button href="#kubernetes-amazon-control" class={subTabClass}>EKS (Amazon)</a></li>
      </ul>

      <div data-tab-content id="helm-package-control" class="m-8">
        <h2 class="mb-4 text-2xl">Helm Package Manager</h2>
        <Helm/>
      </div>
      <div data-tab-content id="kubernetes-minikube-control" class="hidden m-8">
        <h2 class="mb-4 text-2xl">minikube</h2>
        <Minikube/>
      </div>
      <div data-tab-content id="kubernetes-google-control" class="hidden m-8">
        <h2 class="mb-4 text-2xl">Google Kubernetes Engine</h2>
        <GKE/>
      </div>
      <div data-tab-content id="kubernetes-microsoft-control" class="hidden m-8">
        <h2 class="mb-4 text-2xl">Microsoft Azure Kubernetes Service</h2>
        <AKS/>
      </div>
      <div data-tab-content id="kubernetes-amazon-control" class="hidden m-8">
        <h2 class="mb-4 text-2xl">Amazon Elastic Kubernetes Service</h2>
        <EKS/>
      </div>
    </div>


    <div data-tab-content id="cloud-control" class:list={[tabClass, "hidden"]}>
      <ul class="flex mt-3 mx-4" style="list-style-type: none;">
        <li class="group active"><a data-tab-button href="#fusionauth-cloud-control" class={subTabClass}>FusionAuth Cloud</a></li>
      </ul>
      <div data-tab-content id="fusionauth-cloud-control" class="m-8">
        <h2 class="mb-4 text-2xl">FusionAuth Cloud</h2>
        <p class="mb-6">
          You can sign up for a free trial of FusionAuth running in our fully managed Cloud. Feel free to open an issue in <a href="https://github.com/FusionAuth/fusionauth-issues" class={anchorClass}>GitHub</a> if you find any issues.
        </p>
        <a href="https://account.fusionauth.io/account/free-trial/start?source=site" class="bg-orange-400 font-bold inline-block px-6 py-3 rounded-md uppercase">start free trial</a>
      </div>
    </div>

    <div data-tab-content id="marketplaces-control" class:list={[tabClass, "hidden"]}>
      <div data-tab-content id="marketplaces-links-control" class="m-8">
        <h2 class="mb-4 text-2xl">Marketplaces</h2>
        <p class="mb-6">
          FusionAuth can run on any server, anywhere, but is also available on public cloud provider’s marketplaces.
        </p>
        <p class="mb-6">
          Choose a public cloud below for instructions on how to install using their marketplace.
        </p>
        <div class="flex justify-around">
          <div class="text-center">
            <a href="https://marketplace.digitalocean.com/apps/fusionauth" class="bg-white block border-2 border-transparent mb-4 p-4 rounded-lg w-36 hover:border-indigo-400">
              <img src="/img/icons/download/digital-ocean-vertical.svg" alt="Digital Ocean"/>
            </a>
            <p>Digital Ocean</p>
          </div>
          <div class="text-center">
            <a href="https://aws.amazon.com/marketplace/seller-profile?id=30ecc80d-f96e-4259-ae1c-fc3b994f90ea" class="bg-white block border-2 border-transparent mb-4 p-4 rounded-lg w-36 hover:border-indigo-400">
              <img src="/img/icons/download/amazon-web-services.svg" alt="Amazon Web Services"/>
            </a>
            <p>Amazon Web Services</p>
          </div>
          <div class="text-center">
            <a href="https://console.cloud.google.com/marketplace/product/fusionauth-public/fusionauth-enterprise" class="bg-white block border-2 border-transparent mb-4 p-4 rounded-lg w-36 hover:border-indigo-400">
              <img src="/img/icons/download/google-cloud-platform.svg" alt="Google Cloud"/>
            </a>
            <p>Google Cloud</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
