---
import APIBlock from 'src/components/api/APIBlock.astro';
import APIField from 'src/components/api/APIField.astro';
import InlineField from 'src/components/InlineField.astro';

const { getStartedHref, getStartedText, idp, linkingStrategy, scopeDefault, scopeDescription } = Astro.props;
---

<h3>Form Fields</h3>

<APIBlock>
  <APIField name="Client Id" required>
    The unique client identifier obtained from {idp}. See <a href={getStartedHref}>{getStartedText}</a>.
  </APIField>

  {idp !== 'Steam' &&
   <APIField name="Client secret" required>The client secret obtained from {idp} and used to authenticate the request. See <a href={getStartedHref}>{getStartedText}</a>.</APIField>}

  { idp === 'Steam' &&

  <APIField name="API mode" optional defaults="Public" since="1.44.0">
Determines which Steam API to utilize.

The possible values are:
<ul>
  <li><code>Partner</code> - The Steam partner API is used. <code>https://partner.steam-api.com</code></li>
  <li><code>Public</code> - The public Steam API is used. <code>https://api.steampowered.com</code></li>
</ul>

The only functional difference between these two APIs is that the public API is rate limited, and the partner API is not. If you are a Steam partner, you will want to set this value to <code>Partner</code>. Prior to version <code>1.44.0</code>, the public API was always used.
  </APIField>

  <APIField name="Web API key" required>
    The client secret obtained from {idp} used to authenticate the request. See <a href={getStartedHref}>{getStartedText}</a>.
  </APIField>
 }

  <APIField name="Button text" optional>
    The text to be displayed in the button on the login form. This value is defaulted to <code>Login with {idp}</code> but it may be modified to your preference.
  </APIField>

  { scopeDescription &&
   <APIField name="Scope" optional defaults={scopeDefault}>
     {scopeDescription}
   </APIField>
  }

  <APIField name="Linking strategy" optional defaults={linkingStrategy}>
    The linking strategy for the {idp} provider. <a href="/docs/lifecycle/authenticate-users/identity-providers/#linking-strategies">See Linking Strategies for more</a>.
  </APIField>

  <APIField name="Reconcile lambda" optional>
    A lambda maps custom claims returned from {idp} to the FusionAuth User or Registration.

    To create or configure a lambda, navigate to <strong>Customizations -> Lambdas</strong>. <a href="/docs/extend/code/lambdas/">See the lambda documentation for more</a>.
  </APIField>

  <APIField name="Debug enabled" optional defaults="false">
    Enable debug to create event log entries during the user login process. This will assist you in debugging integration issues.
  </APIField>
</APIBlock>
