---
import { Icon } from "astro-iconset/components";
---

<div
  class="gap-y-6 grid md:grid-cols-2 md:grid-rows-[auto,auto,auto] gap-5 my-8 md:min-h-[300px]"
>
  <div
    id="encoded-textarea"
    class="row-span-3 flex-1 border-0 rounded text-sm w-full focus:outline-none focus:ring-0"
  >
    <span class="label block font-medium mb-1">JSON Web Token (JWT)</span>
  </div>
  <div
    id="header-textarea"
    class="flex-1 h-[min-content] border-0 rounded text-sm w-full focus:outline-none focus:ring-0"
  >
    <span class="label block font-medium mb-1">Header</span>
  </div>

  <div
    id="payload-textarea"
    class="flex-1 border-0 rounded text-sm focus:outline-none focus:ring-0"
  >
    <span class="label block font-medium mb-1">Payload</span>
  </div>
  <div
    id="secret-text"
    class="flex-1 border-0 rounded text-sm focus:outline-none focus:ring-0"
  >
    <span class="label block font-medium mb-1">Secret</span>
  </div>
</div>
<div id="notificationPanel" class="success">
  <Icon name="fa7-solid:check" class="inline h-4 icon icon-success" />
  <Icon name="fa7-solid:x" class="inline h-4 icon icon-error" />
  <p class="notificationMessage inline"></p>
</div>

<script>
  "use strict";
  import { json } from "@codemirror/lang-json";
  import {
    MatchDecorator,
    ViewPlugin,
    Decoration,
    EditorView,
  } from "@codemirror/view";
  import { basicSetup } from "codemirror";
  import { verify } from "jsonwebtoken-esm";

  const defaultToken =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTc4MDU5NzE4NH0.HNmmMl_Uj3ZaBlUz16cNPD2c11Ysw_8OPUEjOXbF1sY";
  const defaultSecret =
    "a-string-that-is-at-least-256-bits-probably-good-to-generate";
  const { headers, payload } = decodeJwt(defaultToken);

  function displayError(error: string) {
    const notificationPanel = document.getElementById("notificationPanel");
    if (notificationPanel) {
      notificationPanel.classList.add("error");
      notificationPanel.classList.remove("success");
      notificationPanel.querySelector(".notificationMessage").innerText = error;
    }
  }

  function clearError() {
    const notificationPanel = document.getElementById("notificationPanel");

    if (notificationPanel) {
      notificationPanel.classList.remove("error");
      notificationPanel.classList.add("success");
      notificationPanel.querySelector(".notificationMessage").innerText =
        `JWT and Signature are valid`;
    }
  }

  async function verifyJwt(jwt: string, secret: string = defaultSecret) {
    try {
      clearError();
      const decoded = verify(jwt, secret, {
        algorithms: ["HS256", "HS512", "HS384", "RS256", "RS384", "RS512"],
      });
      return decoded;
    } catch (e) {
      console.log(e);
      displayError("The Secret or Public Key is invalid");
    }
  }

  function decodeJwt(stringToDecode: string, secret: string = defaultSecret) {
    const s = stringToDecode.split(".");
    let headers, payload;
    try {
      clearError();
      headers = window.JSON.stringify(
        window.JSON.parse(window.atob(s[0])),
        null,
        2,
      );
    } catch (e) {
      headers = window.JSON.stringify(
        {
          error: "Token header is invalid",
        },
        null,
        2,
      );
      displayError("Token header is invalid");
    }

    try {
      clearError();
      payload = window.JSON.stringify(
        window.JSON.parse(window.atob(s[1])),
        null,
        2,
      );
    } catch (e) {
      displayError("Token payload is invalid");
      payload = window.JSON.stringify(
        {
          error: "Token payload is invalid",
        },
        null,
        2,
      );
    }

    try {
      clearError();
      verifyJwt(`${s[0]}.${s[1]}.${s[2]}`, secret);
    } catch (e) {
      displayError(e.message);
      console.log(e);
    }

    return { payload, headers, secret };
  }

  // Function to check if this change is applied via one of our programmatic shifts
  function isProgrammatic(transactions) {
    if (
      transactions.length == 0 ||
      (transactions.length > 0 &&
        typeof transactions[0].annotations[0].value !== "number")
    ) {
      return false;
    }
    return true;
  }

  function dispatchChange(editor: EditorView, data: string) {
    editor.dispatch({
      changes: {
        from: 0,
        to: editor.state.doc.length,
        insert: data,
      },
    });
  }

  // Decorator for color coding the token
  const tokenDec = Decoration.mark({ class: "headerDec" }); // This adds a className to the text that matches the regex.

  const tokenDecorator = new MatchDecorator({
    regexp: /([^.]+)/g,
    decoration: () => tokenDec,
  });
  const tokenColors = ViewPlugin.define(
    (view) => {
      return {
        decorations: tokenDecorator.createDeco(view),
        update(u) {
          this.decorations = tokenDecorator.updateDeco(u, this.decorations);
        },
      };
    },
    {
      decorations: (v) => v.decorations,
    },
  );

  const secretEditor = new EditorView({
    parent: document.getElementById("secret-text"),
    doc: defaultSecret,

    extensions: [
      // basicSetup,
      tokenColors,
      EditorView.lineWrapping,
      EditorView.updateListener.of((update) => {
        if (update.docChanged) {
          const programUpdated = isProgrammatic(update.transactions);
          if (!programUpdated) {
            try {
              clearError();
              const currentToken = tokenEditor.state.doc.text[0];
              const docText = update.state.doc.text.join("");

              verifyJwt(currentToken, docText);
            } catch (e) {
              console.log(e);
              displayError(e.message);
            }
          }
        }
      }),
    ],
  });

  // Inits CodeMirror for Tokens
  const tokenEditor = new EditorView({
    parent: document.getElementById("encoded-textarea"),
    doc: defaultToken,

    extensions: [
      // basicSetup,
      tokenColors,
      EditorView.lineWrapping,
      EditorView.updateListener.of((update) => {
        if (update.docChanged) {
          const programUpdated = isProgrammatic(update.transactions);
          if (!programUpdated) {
            const { headers, payload } = decodeJwt(update.state.doc.text[0]);
            dispatchChange(headersEditor, headers);
            dispatchChange(payloadEditor, payload);
          }
        }
      }),
    ],
  });

  // Inits CodeMirror for Header
  const headersEditor = new EditorView({
    parent: document.getElementById("header-textarea"),
    doc: headers,

    extensions: [
      basicSetup,
      EditorView.lineWrapping,
      json(),
      EditorView.updateListener.of((update) => {
        if (update.docChanged) {
          const programUpdated = isProgrammatic(update.transactions);
          if (!programUpdated) {
            const currentToken = tokenEditor.state.doc.text[0].split(".");
            const docText = update.state.doc.text.join("");
            const updatedHeader = window.btoa(docText);

            tokenEditor.dispatch({
              changes: {
                from: 0,
                to: tokenEditor.state.doc.length,
                insert: `${updatedHeader}.${currentToken[1]}.${currentToken[2]}`,
              },
            });
          }
        }
      }),
    ],
  });

  // Inits CodeMirror for Payload

  const payloadEditor = new EditorView({
    parent: document.getElementById("payload-textarea"),
    doc: payload,
    extensions: [
      basicSetup,
      EditorView.lineWrapping,
      json(),
      EditorView.updateListener.of(async (update) => {
        if (update.docChanged) {
          const programUpdated = isProgrammatic(update.transactions);
          if (!programUpdated) {
            const docText = update.state.doc.text.join("");

            const currentToken = tokenEditor.state.doc.text[0];
            const currentTokenArray = currentToken.split(".");
            const updatedPayload = window.btoa(docText);

            tokenEditor.dispatch({
              changes: {
                from: 0,
                to: tokenEditor.state.doc.length,
                insert: `${currentTokenArray[0]}.${updatedPayload}.${currentTokenArray[2]}`,
              },
            });
          }
        }
      }),
    ],
  });
</script>

<style is:global>
  @reference "tailwindcss";

  #encoded-textarea {
    @apply grid grid-rows-[min-content_minmax(0,1fr)];
  }
  #header-textarea .cm-editor {
    @apply md:max-h-[max-content];
  }
  #payload-textarea .cm-editor {
    @apply md:max-h-[max-content];
  }
  .cm-editor {
    @apply flex-1 bg-white rounded-md border border-slate-400 p-2;
  }
  .cm-editor {
    max-height: 100%;
  }
  .cm-scroller {
    overflow: auto;
  }

  .dark .cm-editor {
    @apply bg-slate-900;
  }
  .dark .cm-focused .cm-cursor {
    border-left: 1px solid white !important;
  }
  .cm-editor .cm-activeLine {
    background: transparent;
  }
  .cm-editor .cm-gutters.cm-gutters-before {
    display: none;
  }
  .cm-gutters {
    min-height: initial !important;
  }
  .headerDec:first-of-type {
    @apply text-green-600;
  }
  .headerDec:first-of-type:hover {
    @apply bg-green-100;
  }
  .dark .headerDec:first-of-type:hover {
    @apply bg-green-900;
  }
  .headerDec:nth-of-type(2) {
    @apply text-indigo-600;
  }
  .headerDec:nth-of-type(2):hover {
    @apply bg-indigo-100;
  }
  .dark .headerDec:nth-of-type(2):hover {
    @apply bg-indigo-700;
  }
  .dark .headerDec:first-of-type {
    @apply text-green-300;
  }
  .dark .headerDec:nth-of-type(2) {
    @apply text-indigo-300;
  }
  .headerDec:nth-of-type(3) {
    @apply text-red-600;
  }
  .headerDec:nth-of-type(3):hover {
    @apply bg-red-100;
  }
  .dark .headerDec:nth-of-type(3) {
    @apply text-red-500;
  }
  .dark .headerDec:nth-of-type(3):hover {
    @apply bg-red-900;
  }
  .cm-line {
    @apply text-indigo-800;
  }
  .dark .cm-line {
    @apply text-indigo-100;
  }
  .ͼe {
    @apply text-red-700;
  }
  .ͼd {
    @apply text-green-700;
  }
  .dark .ͼe {
    @apply text-orange-300;
  }
  .dark .ͼd {
    @apply text-green-300;
  }
  #notificationPanel:empty {
    @apply hidden;
  }
  #notificationPanel {
    @apply px-4 py-3 rounded relative mb-10;
  }
  #notificationPanel.success {
    @apply bg-green-100 border border-green-400 text-green-700;
  }
  .icon-error,
  .icon-success {
    @apply hidden;
  }
  #notificationPanel.error {
    @apply bg-red-100 border border-red-400 text-red-700;
  }
  .error .icon-error,
  .success .icon-success {
    @apply inline;
  }
</style>
