---
import Aside from 'src/components/Aside.astro';
import Code from 'astro/components/Code.astro';
import { RemoteValue } from '@fusionauth/astro-components';

export interface Props {
  /**
   * Full URI to extract values from kickstart.json
   * e.g. https://raw.githubusercontent.com/FusionAuth/fusionauth-quickstart-ruby-on-rails-web/main/kickstart/kickstart.json
   */
  kickstartUri: string;

}

const { kickstartUri, api = false } = Astro.props as Props;
---
<dd>

<Aside type="note" title="GitPod Registration">  Note that the first time you start a GitPod workspace you will need to answer some demographic questions, but after that it will run without interruption.</Aside>

<p>Click on the GitPod button below to start up your environment.  It will take a few minutes to bring up the servers, so please be patient until the login page loads into the environment.</p>

<a href="https://gitpod.io/#https://github.com/fusionauth/fusionauth-example-express-start-here" target="_blank" alt="Open in GitPod"><img src="https://gitpod.io/button/open-in-gitpod.svg" /></a>

<p>The GitPod environment will spin up Docker containers with a FusionAuth instance, any dependencies, a terminal and an editor.</p>

<p>Here you are using a bootstrapping feature of FusionAuth called <a href="/docs/get-started/download-and-install/development/kickstart">Kickstart</a>. When FusionAuth comes up for the first time, it will look at the <code>kickstart/kickstart.json</code> file and configure FusionAuth to your specified state.</p>

<p>After the servers start up, you will be presented with a login screen in the GitPod 'Simple Browser', as well other parts of the GitPod environment.</p>

<p>FusionAuth will be initially configured with these settings:</p>

<ul>
    <li>Your example username is <code><RemoteValue url={kickstartUri} selector="$.variables.userEmail" /></code> and the password is <code><RemoteValue url={kickstartUri} selector="$.variables.userPassword" /></code>.</li>
    <li>Your admin username is <code><RemoteValue url={kickstartUri} selector="$.variables.adminEmail" /></code> and the password is <code><RemoteValue url={kickstartUri} selector="$.variables.adminPassword" /></code>.</li>
    <li>The base URL of FusionAuth is based on your GitPod environment.</li>
</ul>


<h2> Summing Up</h2>

<p>To verify that your system is set up, paste the below code into your GitPod terminal. When prompted, log in using the admin credentials (<code><RemoteValue url={kickstartUri} selector="$.variables.adminEmail" /></code>). You will see the FusionAuth admin UI.</p>

<Aside type="tip">When you first copy and paste something in the GitPod environment, you may be presented with a popup asking for permission. Look out for that, and accept it to be able to paste commands into the environment.</Aside>

<Code code="startadmin" />

<p>Congratulations! You've got your own FusionAuth instance running in the GitPod cloud.</p>

</dd>

