---
import type {CollectionEntry} from 'astro:content';
interface Props {
  term: CollectionEntry<'glossary'> & {normalizedId: string};
}

const {term} = Astro.props;
const {definition, link, categories, aliases, abbreviations} = term.data;
---
<article data-categories={categories} data-letter={term.normalizedId.toLocaleUpperCase()[0]} class="border border-slate-300 dark:bg-slate-900 bg-white border-solid  dark:border-slate-600 rounded-xl p-6 hover:shadow-lg transition-all flex flex-col gap-6 group">
  <div class="flex items-start justify-between">
    <div>
      <h3 class="font-headline-md text-headline-md text-on-surface group-hover:text-primary transition-colors mt-0">{term.id}</h3>
      {categories?.length && (
        <div class="flex gap-2 mt-2">
          {categories.sort().map((category: string) => (
            <span class="bg-slate-100 rounded-md flex group items-center px-2 py-1 dark:bg-slate-700 group-[.active]:bg-indigo-600 group-[.active]:text-white text-[10px]">{category}</span>
          ))}
        </div>
      )}
    </div>
  </div>
  <p class="not-prose text-slate-600 text-sm dark:text-slate-400 flex-1">
    {definition}
  </p>
  <div class="flex flex-wrap items-center justify-between border-t border-slate-100 dark:border-slate-700 pt-4 gap-2">
    {abbreviations?.length && (
      <span class="text-[11px] font-mono text-tertiary">Abbreviations: {abbreviations.join(', ')}</span>
    )}

    {aliases?.length && (
      <span class="text-[11px] font-mono text-tertiary">Alias: {aliases.join(', ')}</span>
    )}

    {link && (
      <span class="inline-flex whitespace-nowrap items-center text-xs flex-1 justify-end">
        {link.startsWith('http') ? (
          <a href={link} target="_blank" rel="noopener noreferrer">Read more... <i aria-label="(external)" class="fa-solid fa-arrow-up-right-from-square text-[0.8em] ml-1"></i></a>
        ) : link ? (
          <a href={link}>Read more...</a>
        ) : ''}
      </span>
    )}
  </div>
</article>